@import "../../style/parts/_vars-mixins.scss";
.categories-slider {
	&__wrap {
		&_frontpage {
			margin-bottom: 160px;
			@include tablet {
				margin-bottom: 60px;
			}
			@include mobile {
				margin-bottom: 42px;
			}
		}
		//other pages go here
	}//wrap
	&__bg {
		@include desktop {
			position: relative;
				&:before {
				content: "";
				width: 500px;
				height: 1450px;
				display: block;
				background: url("../../images/bg-gray-round.png") center no-repeat;
				position: absolute;
				top: -350px;
				right: -350px;
				z-index: 0;
			}
		}
	}
	&__title {
		margin-bottom: 45px;
		@include tablet {
			margin-bottom: 30px;
		}
		@include mobile {
			margin-bottom: 0
		}

	}
	&__slider {
		position: relative;
		z-index: 20;
	}
	&__slider-item {
		padding: 30px 20px;
		@include mobile {
			padding: 30px 0 15px;
		}
	}
	&__item-content {
		@include shadow;
		max-width: 380px;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 15px;
		@include mobile {
			box-shadow: 0 0 17px -5px rgba(0,0,0,.25);
		}
	}
	&__img-wrap {
		height: 350px;
		overflow: hidden;
		@include tablet {
			height: 340px;
		}
		@include mobile {
			height: 290px;
		}
	}
	&__item-txt {
		padding: 65px 0 35px;
		text-align: center;
		font-size: 20px;
		@include tablet {
			padding: 35px 0 35px;
			font-size: 23px;
		}
		@include mobile {
		padding: 30px 0 35px;
		}
	}
	&__item-title {
		display: block;
		margin-bottom: 6px;
		color: $red;
		font-size: 28px;
		@include bold;
		text-transform: uppercase;
		@include tablet {
			margin-bottom: 10px;
			font-size: 37px;
		}
		@include mobile {
			font-size: 32px;
		}
	}
	&__btn-holder {
		position: relative;
		margin-top: 25px;
		text-align: center;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -175px;
			width: 350px;
			height: 2px;
			background: linear-gradient(to right,#fff 0%,$gray,$gray, $gray, #fff 100%);
		}
		@include tablet-mobile {
			margin-top: 30px;
			&:before {
				width: 320px;
				margin-left: -160px;
			}
		}
		@include mobile {
			margin-top: 20px
		}
	}
	&__btn {
		margin-top: 50px;
		@include tablet-mobile {
			margin-top: 30px;
			background: $red;
			color: #fff;
			padding: 15px 60px
		}
		@include mobile {
			padding: 15px 40px
		
		}
	}




	&__more {
		text-align: center;
		margin-top: 25px;
		@include bold;
		@include tablet {
			margin-top: 20px;
		}
		@include mobile {
			margin-top: 65px;
		}
	}
}