<section class="categories-slider">
	<div class="categories-slider__bg content-width">
		<h2 class="categories-slider__title section-title">Более <span class="text_red">4&nbsp;600&nbsp;000</span> покупателей<br>выбрали входные двери <span class="text_red">Torex</span></h2>
		<div class="categories-slider__slider" data-slider="slides-3-1">
			<div class="categories-slider__slider-item">
				<div class="categories-slider__item-content">
					<div class="categories-slider__img-wrap">
						<img src="images/categories-slider__slide-01.jpg" alt="">
					</div>
					<div class="categories-slider__item-txt">
						<span class="categories-slider__item-title">Ultimatum MP</span>
						<p class="text_size18">Челябинск, <span class="text_red">25</span> мая <span class="text_red">2018</span></p>
						<div class="categories-slider__btn-holder">
							<a href="#" class="categories-slider__btn btn">Хочу такую дверь</a>
						</div>
					</div>
				</div>
			</div>
			<div class="categories-slider__slider-item">
				<div class="categories-slider__item-content">
					<div class="categories-slider__img-wrap">
						<img src="images/categories-slider__slide-02.jpg" alt="">
					</div>
					<div class="categories-slider__item-txt">
						<span class="categories-slider__item-title">Professor 4+</span>
						<p class="text_size18">Санкт-Петербург, <span class="text_red">11</span> июня <span class="text_red">2018</span></p>
						<div class="categories-slider__btn-holder">
							<a href="#" class="categories-slider__btn btn">Хочу такую дверь</a>
						</div>
					</div>
				</div>
			</div>
			<div class="categories-slider__slider-item">
				<div class="categories-slider__item-content">
					<div class="categories-slider__img-wrap">
						<img src="images/categories-slider__slide-03.jpg" alt="">
					</div>
					<div class="categories-slider__item-txt">
						<span class="categories-slider__item-title">ULTIMATUM M PP</span>
						<p class="text_size18">Петрозаводск, <span class="text_red">15</span> июня <span class="text_red">2018</span></p>
						<div class="categories-slider__btn-holder">
							<a href="#" class="categories-slider__btn btn">Хочу такую дверь</a>
						</div>

					</div>
				</div>
			</div>
			<div class="categories-slider__slider-item">
				<div class="categories-slider__item-content">
					<div class="categories-slider__img-wrap">
						<img src="images/categories-slider__slide-01.jpg" alt="">
					</div>
					<div class="categories-slider__item-txt">
						<span class="categories-slider__item-title">Ultimatum MP</span>
						<p class="text_size18">Челябинск, <span class="text_red">25</span> мая <span class="text_red">2018</span></p>
						<div class="categories-slider__btn-holder">
							<a href="#" class="categories-slider__btn btn">Хочу такую дверь</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="categories-slider__more"><a href="#">Смотреть все</a></div>
	</div>
</section>