.hint {
    position: absolute;
    top: 50%;
    left: calc(100% + 20px);
    padding: 0;
    width: 0;
    height: 0;
    font-size: 0;
    text-align: left;
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: -10px 7px 45px -5px rgba(0,0,0,.25);
    opacity: 0;


    /*padding: 20px;
    width: 300px;
    font-size: 16px;
    height: auto;
    opacity: 1;*/


    @include mobile {
        left: unset;
        right: calc(100% + 20px);
    }
    &:before {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 0 15px;
        border-color: #fff transparent transparent transparent;
        @include mobile {
            left: unset;
            right: -15px;
        }
    }
    &__icon {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid;
        border-radius: 50%;
        font-size: 16px;
        color: #ffc851;
        text-align: center;
        vertical-align: top;
        cursor: default;
        &:hover {
            + .hint {
                padding: 20px;
                width: 300px;
                font-size: 16px;
                height: auto;
                opacity: 1;
                transition: .3s;
                @include mobile {
                    width: 200px;
                }
            }
        }
        &_number {
            border-color: $accent-color;
            color: $accent-color;
            background-color: #fff;
            transition: .2s;
            &:hover {
                color: #fff;
                background-color: $accent-color;
            }
        }
    }
    &__container {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        vertical-align: top;
        &.full-size {
            @include mobile {
                top: -4px;
                width: 100%;
                height: 15px;
                outline: 1px solid;
                .hint {
                    &:before {
                        display: none;
                    }
                }
                .hint__icon {
                    right: 0;
                    &:before {
                        content: '';
                        position: absolute;
                        left: -15px;
                        top: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 15px 15px 15px;
                        border-color: transparent transparent #007bff transparent;
                    }
                }
            }
        }
    }
}