.tabs{
	width: 100%;

}
.tabs-links,
.tabs-links_inside {
	width: 100%;
	display: flex;
	box-shadow: 15px 26px 62px 0 rgba(#000, 0.1)
}
.tabs-links_inside {
	margin-bottom: 60px;
	&:not(.active) {
		.tab-link {
			color: $deep-gray;
		}
	}
}
.tab-link {
	background-color: $mid-gray;
	// display: flex;
	// align-content: center;
	// justify-content: center;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	padding: 20px 10px;
	// line-height: 62px;
	font-size: 16px;
	line-height: 25px;
	text-decoration: none;
	color: rgba(0,0,0,0.5);
	@include mobile {
		font-weight: 600;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.tab-link.active{
	background-color: #fff;
	color: #000;
}
.tab-link.active:visited{
	color: #000;
}
.tab-block {
	display: none;
	&.visible {
		display: block;
	}
	&_inside {
		position: absolute;
		width: 100%;
		min-height: 0;
		margin: 0 auto;
		visibility: hidden;
		opacity: 0;
		transition: .3s ease;
		&.visible {
			visibility: visible;
			opacity: 1;
		}
		&-container {
			position: relative;
		}
	}
}

@include mobile {
	.sm-novisible{
		display: none;	
	}	
	.tab-link{
		font-size: 14px;
	}
}