.pagination {
    margin: 30px 0;
    &__container {
        font-size: 0;
    }
    &__list {
        display: inline-block;
        position: relative;
        margin-right: 10px;
        padding: 0;
        width: 25px;
        height: 25px;
        font-size: 20px;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        &.current {
            color: #fff;
            border-radius: 50%;
            background-color: $accent-color;
            cursor: default;
        }
        &:hover {
            border-color: $accent-color;
            .pagination__link {
                color: $accent-color;
            }
        }
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        font-size: 20px;
        font-family: $Littera;
        text-align: center;
        &:hover {
            text-decoration: none;
        }
    }
}