.tooltip {
    position: absolute;
    padding: 15px;
    border-radius: 7px;
    background: #fff;
    box-shadow: -10px 7px 45px -5px rgba(0,0,0,.25);
    z-index: 100;
    &:after { /* triangle decoration */
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
        box-shadow: -10px 7px 45px -5px rgba(0,0,0,.25);
    }
    &.top {
        &:after {
            border-top-color: transparent;
            border-bottom: 10px solid #fff;
            top: -20px;
            bottom: auto;
            box-shadow: -10px 7px 45px -5px rgba(0,0,0,.25);
        }
    }
    &.left {
        &:after {
            left: 10px;
            margin: 0;
        }
    }
    &.right {
        &:after {
            right: 10px;
            left: auto;
            margin: 0;
        }
    }
}