@import "../../style/parts/_vars-mixins.scss";

.company-about {
	&__wrap {
		&_frontpage{
			margin-bottom: 93px;
			@include tablet {
				margin-bottom: 52px;
			}
			@include mobile {
				margin-bottom: 0;
			}
			
		}
		//other pages go here
	}//wrap
	&__title {
		margin-bottom: 55px;
		@include tablet-mobile {
			margin-bottom: 60px;
		}
		@include mobile {
			white-space: nowrap;
			margin-bottom: 50px;
		}
	}
	&__content {
		@include default-flex;
		background: #f4f4f4;
		min-height: 575px;
		position: relative;
		&_left {
			flex: 1;
			padding-top: 40px;
		}
		&_right {
			overflow: hidden;
			flex: 1;
			background: url("../../images/company-about__img_right.jpg") center/cover no-repeat

		}
		@include tablet-mobile {
			display: block;
			background: #fff;
			min-height: 580px;
			&_left {
				position: relative;
				width: 100%;
				min-height: 580px;
				background: rgba(0,0,0,.7);
				z-index: 10
			}
			&_right {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				z-index: 1;
			}
		}
	}
	&__left-txt {
		width: 90%;
		max-width: 540px;
		margin-right: 5%;
		padding-top: 15px;
		float: right;
		font-size: 20px;
		line-height: 1.5;
		@include tablet-mobile {
			@include content-width_tabl;
			max-width: initial;
			float: none;
			padding-top: 28px;
			padding-right: 100px;
			padding-bottom: 50px;
			color: #fff;
		}
		@include mobile {
			@include content-width_mob;
			font-size: 18px;
			padding-top: 0;
			color: #fff;
		}
		p {margin-bottom: 30px}
		&_header {
			display: block;
			font-size: 30px;
			@include bold;
			margin-bottom: 25px;
		}
		&_intro {
			margin-bottom: 63px !important;
			position: relative;
			@include bold;
			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: -15px;
				left: 0;
				width: 80px;
				height: 5px;
				background: linear-gradient(to right, #db8c8d 55%, transparent);
			}
			@include tablet-mobile {
			&:after {
				bottom: -25px;
			}
			}
		}
	}
	// &__slider {
	// 	position: relative

	// }
	// &__dots {
	// 	bottom: 40px;
	// 	z-index: 99;
	// 	position: absolute
	// }
	
}