<section class="company-about">
	<div class="content-width">
		<h2 class="company-about__title section-title"><span class="text_red">Torex &mdash; лидер</span> по&nbsp;производству <br>стальных&nbsp;дверей в <span class="text_red">России</span></h2>
	</div>
	<div class="company-about__content hidden_mob">
		<div class="company-about__content_left">
			<div class="company-about__left-txt">
				<span class="company-about__left-txt_header">О компании</span>
				<p class="company-about__left-txt_intro">Torex основан в 1990 в Саратове. Теперь мы крупнейший завод  в стране: каждый день наши двери открывают 4&nbsp;600&nbsp;000 человек.</p>
				<p class="text_light">Стальныe двери Torex производятся из современных материалов и соответствуют мировым стандартам. Качество продукции подтверждают премии <b>«Марка №1 в России» и «Всероссийская марка. Знак качества XXI века»</b>.</p>
				<p class="text_semibold"><b>TOREX</b> &mdash; уверенный выбор миллионов.</p>
			</div>
		</div>
		<div class="company-about__content_right"></div>
	
	</div>
	
</section>