<div class="city-list popup" id="city-list">
	<div class="city-list__content">
		<div class="city-list__header">
			Ваш город: <span id="current-city">Москва</span>&nbsp;(<span id="current-country">Россия</span>)
		</div>
		<div class="city-list__subheader">Выберите из списка:
		</div>
		<div class="city-list__country-wrap">
			<span class="city-list__country" data-content="country-russia"><span class="underline_dashed">Россия</span></span>
			<span class="city-list__country" data-content="country-belarus"><span class="underline_dashed">Беларусь</span></span>
			<span class="city-list__country" data-content="country-kazakhstan"><span class="underline_dashed">Казахстан</span></span>
			<span class="city-list__country" data-content="country-kirgizia"><span class="underline_dashed">Киргизия</span></span>
			<span class="city-list__country" data-content="country-uzbekistan"><span class="underline_dashed">Узбекистан</span></span>
			<span class="city-list__country" data-content="country-latvia"><span class="underline_dashed">Латвия</span></span>
			<span class="city-list__country" data-content="country-estonia"><span class="underline_dashed">Эстония</span></span>
			<span class="city-list__country" data-content="country-ispania"><span class="underline_dashed">Испания</span></span>
			<span class="city-list__country" data-content="country-azerbaijan"><span class="underline_dashed">Азербайджан</span></span>
			<span class="city-list__country" data-content="country-armenia"><span class="underline_dashed">Армения</span></span>
			<span class="city-list__country" data-content="country-mongolia"><span class="underline_dashed">Монголия</span></span>
			<span class="city-list__country" data-content="country-gruzia"><span class="underline_dashed">Грузия</span></span>
			<span class="city-list__country" data-content="country-litva"><span class="underline_dashed">Литва</span></span>
			<span class="city-list__country" data-content="country-moldavia"><span class="underline_dashed">Молдавия</span></span>
			<span class="city-list__country" data-content="country-tadjikistan"><span class="underline_dashed">Таджикистан</span></span>
		</div>
		<div class="city-list__city-wrap">
				@@include('city-list/russia-cities.html')
				@@include('city-list/belarus-cities.html')
				@@include('city-list/kazakhstan-cities.html')
				@@include('city-list/kirgizia-cities.html')
				@@include('city-list/uzbekistan-cities.html')
				@@include('city-list/latvia-cities.html')
				@@include('city-list/estonia-cities.html')
				@@include('city-list/ispania-cities.html')
				@@include('city-list/azerbaijan-cities.html')
				@@include('city-list/armenia-cities.html')
				@@include('city-list/mongolia-cities.html')
				@@include('city-list/gruzia-cities.html')
				@@include('city-list/litva-cities.html')
				@@include('city-list/moldavia-cities.html')
				@@include('city-list/tadjikistan-cities.html')
				@@include('city-list/all-cities.html')

		</div>
		<div class="city-list__options">
			<p>Или укажите в поле:</p>
			<p class="city-list__more"><span class="underline_dashed">Все города</span></p>
		</div>
		<div class="city-list__city-search">
			<input class="city-list__search-field" type="text" id="city-search" name="city-search" placeholder="Город" >
			<input class="city-list__btn btn btn_square-red" type="submit" name="city-submit" value="Найти">
		</div>
	</div>
</div>