<div class="call-master popup" id="call-consultation">
    <div class="call-master__content">
        <h1>Получить консультацию</h1>
        <p>Заполните форму и наш специалист свяжется с Вами.</p>
        <form class="call-master__form js-validation" name="call-master" action="">
            <div class="call-master__form-item">
                <div class="input-status">
                    <input type="text" id="name" name="form-name" placeholder="Ваше имя" required>
                    <i class="valid"></i><i class="invalid"></i>
                </div>
            </div>
            <div class="call-master__form-item">
                <div class="input-status">
                    <input type="email" id="email" name="form-email" placeholder="E-mail" required>
                    <i class="valid"></i><i class="invalid"></i>
                </div>
            </div>
            <div class="call-master__form-item">
                <div class="input-status">
                    <input type="text" id="phone" name="form-phone" placeholder="Телефон" required>
                    <i class="valid"></i><i class="invalid"></i>
                </div>
            </div>
            <div class="btn-holder">
                <div class="input-status">
                    <input class="call-master__btn btn" type="submit" name="form-submit" value="Отправить заявку">
                    <i class="valid"></i><i class="invalid"></i>
                </div>
            </div>
        </form>
        <p class="call-master__note">все поля обязательны для заполнения</p>
        <p class="call-master__note">Нажимая на кнопку, вы даете  согласие на обработку своих персональных данных<br><a href="#" target="_blank">Пользовательское соглашение</a></p>
    </div>
</div>