<div class="form-success popup" id="form-success">
	<div class="form-success__content">
		<p class="form-success__txt">Ваша заявка отправлена!<br>
		Скоро наш менеджер свяжется с вами!</p>
	</div>
</div>