@import "../../style/parts/_vars-mixins.scss";

.popup-container {
	display: none
}
.popup {
	width: 80%;
	max-width: 720px;
	@include tablet {
		max-width: 690px;
	}
	@include mobile {
		width: 99%;
		max-width: auto;
	}
}
.call-master {
	&__content {
		background: #fff;
		padding: 30px 20px;
	}
	&__form-item {
		margin-bottom: 20px;
	}
	&__note {
		color: #666;
		font-size: 14px;
	}
}//call-master

.city-list {
	padding: 0 !important;
	&__content {
		background: #fff;
	}
	&__header {
		background: $gray;
		padding: 15px 20px;
	}
	&__subheader {
		padding: 15px 20px;
	}
	&__country-wrap {
		background: $gray;
		padding: 15px 20px;
		display: flex;
		flex-flow: row wrap;
	}
	&__country {
		display: inline-block;
		padding: 7px 15px;
		cursor: pointer;
	}
	&__city-wrap {
		width: 100%;
		height: 500px;
		max-width: 720px;
		position: relative;
		padding: 15px 20px;
		overflow: auto;
		// overflow-x: hidden;
	}
	&__city-list {
		background: #fff;
		display: none;
		column-count: 3;
		column-gap: 10px;
		column-fill: auto;
		&#all-cities {
			margin-top: -300px;
			width: 100%;
		}
		&.city-list_active {
			display: block;
		}
		@include tablet-mobile {
			column-count: 2;
			column-gap: 20px;
		}
	}
	&__city {
		padding: 5px 15px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	&__avoid-break {
		break-inside: avoid; 
		display: inline-block
	}
	&__letter {
		color: $red;
		@include bold;
		padding: 5px 0 0 15px;
	}
	&__options {
		padding: 15px 20px 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	// &__more {
		
	// }
	&__city-search {
		padding: 15px 20px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	&__search-field {
		flex: 0 0 60%;
	}
	&__btn {
		flex: 0 0 38%;
		height: 40px;
		background: $red;
		padding: 3px 10px !important;
	}
}//city-list

.form-success {
	&__content {
		background: #fff;
		padding: 20px 10px;
		text-align: center;
	}
	&__txt {
		@include bold;
	}
}
.warranty-popup {
	ul {
		margin-left: 20px;
		margin-bottom: 20px;
		li {
			list-style: square;
		}
	}
}
