<div class="warranty-popup popup" id="show-warranty">
    <h2>Гарантия Torex</h2>
    <p>
        Важнейшим условием действия гарантии на металлические двери производства Torex является их установка специально
        обученными бригадами мастеров предприятия продавца. В этом случае дверь будет служить долго и обеспечит надежную
        защиту вам и вашим близким.
    </p>
    <p>
        Сроки действия гарантии Torex:
    </p>
    <ul>
        <li>На само изделие (основная конструкция двери: металлозаготовка полотна и петли короба) – гарантия 3 года с даты изготовления.</li>
        <li>На замки Blockido (C1, C2, L1, L2) – 7 лет.</li>
        <li>На полимерно-порошковые покрытия – 1 год.</li>
        <li>
            На цилиндровый механизм и комплектующие (глазки, ручки, задвижки, уплотнитель, накладки на замки и ручки) – 1 год.
            (на модели СТЕЛ, Delta, SuperOmega - 6 мес.)
        </li>
        <li>
            На декоративные панели с покрытиями – 6 месяцев.
        </li>
        <li>На электрооборудование – 6 месяцев.</li>
    </ul>
    <p>
        Гарантия производителя распространяется на любые недостатки двери или ее отдельных элементов,
        вызванные дефектами материалов или процесса производства.
    </p>
    <h3 style="color: red">В каких случаях гарантия не действует?</h3>
    <p>Гарантия на двери металлические Torex является недействительной в следующих случаях:</p>
    <ul>
        <li>Были использованы не оригинальные комплектующие элементы или фурнитура заказчика.</li>
        <li>Двери был причинен ущерб в результате воздействия на нее третьих лиц, либо в результате использования ее не по назначению.</li>
        <li>Любые неисправности и дефекты двери были несвоевременно устранены после их обнаружения.</li>
        <li>Имеет место естественный износ материалов и покрытий.</li>
    </ul>
    <p>
        Для получения информации о проведении специалистами Torex работ в гарантийный и послегарантийный период, а также
        любой другой информации, касающейся эксплуатации дверей нашего производства, обращайтесь по телефону
        горячей линии <a href="tel:+78001004505">8 (800) 100-45-05</a>.
    </p>
</div>