@import "../../../style/parts/_vars-mixins.scss";

$md-checkbox-size: 11px;
$md-checkbox-padding: 2px;
$md-checkbox-border-radius: 2px;

.md-checkbox {
    position: relative;
    margin: 5px 0;
    text-align: left;

    &.md-checkbox-inline {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    label {
        display: inline;
        font-family: $Littera;
        color: #9b9ca0;
        vertical-align: middle;
        line-height: $md-checkbox-size;
        cursor: pointer;
        clear: both;
        &:not(:empty) {
            padding-left: 10px;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }

        &:before {
            // box
            width: $md-checkbox-size;
            height: $md-checkbox-size;
            background: #fff;
            border: 1px solid #9b9ca0;
            border-radius: $md-checkbox-border-radius;
            cursor: pointer;
            transition: background .3s;
            top: 50%;
            transform: translateY(-50%);
        }

        &:after {
            top: 4px;
            // checkmark
        }
    }

    input[type="checkbox"] {
        outline: 0;
        visibility: hidden;
        width: $md-checkbox-size;
        margin: 0;
        display: block;
        float: left;
        font-size: inherit;

        &:checked {
            + label:before{
                background: $accent-color;
                border: 1px solid $accent-color;
            }
            + label:after {
                transform: translate(2px,3px) rotate(-50deg);
                width: 8px;
                height: 3px;
                border: 1px solid #fff;
                border-top: none;
                border-right: none;
            }
        }

        &:disabled {
            + label:before{
                border-color: rgba(0, 0, 0, 0.26);
            }
            &:checked {
                + label:before{
                    background: rgba(0, 0, 0, 0.26);
                }
            }
        }
    }

}