<nav class="content-width">
	<div class="breadcrumbs">
		<ul>
			<li><a href="#" class="breadcrumbs__link">Главная</a></li>
			<li><span class="breadcrumbs__current">%current_page%</span></li>
		</ul>
	</div>
</nav>