<footer class="footer">
	<div class="content-width">
		<menu class="footer_menu menu">
			<div class="footer_menu__block footer_menu__block_b1">
				<span class="footer_menu__item footer_menu__item-title">Двери для дома</span>
				<a href="#" class="footer_menu__item">Snegir 60</a>
				<a href="#" class="footer_menu__item">Snegir 45</a>
				<a href="#" class="footer_menu__item">Snegir 20</a>
				<a href="#" class="footer_menu__item">Snegir Cottage</a>
			</div>
			<div class="footer_menu__block footer_menu__block_b2">
				<span class="footer_menu__item footer_menu__item-title">Двери для квартиры</span>
				<a href="#" class="footer_menu__item">СТЕЛ</a>
				<a href="#" class="footer_menu__item">Delta M</a>
				<a href="#" class="footer_menu__item">Super Omega-7,8,9</a>
				<a href="#" class="footer_menu__item">Super Omega-10</a>
				<a href="#" class="footer_menu__item">Ultimatum</a>
				<a href="#" class="footer_menu__item">Professor 4+</a>
			</div>
			<div class="footer_menu__block footer_menu__block_b3">
				<span class="footer_menu__item footer_menu__item-title">Клиентам</span>
				<a href="#" class="footer_menu__item">Поддержка клиентов</a>
				<a href="#" class="footer_menu__item">Словарь терминов</a>
				<a href="#" class="footer_menu__item">Почему выбирают нас?</a>
				<a href="#" class="footer_menu__item">Гарантия</a>
				<a href="#" class="footer_menu__item">Постгарантийное<br>обслуживание</a>
				<a href="#" class="footer_menu__item">Двери на заказ</a>
				<a href="#" class="footer_menu__item">Установка</a>
				<a href="#" class="footer_menu__item">Магазины</a>
				<a href="#" class="footer_menu__item">Пункты возврата</a>
			</div>
			<div class="footer_menu__block footer_menu__block_b4">
				<span class="footer_menu__item footer_menu__item-title">Партнерам</span>
				<a href="#" class="footer_menu__item">Как стать дилером</a>
				<a href="#" class="footer_menu__item">Личный кабинет</a>
			</div>
			<div class="footer_menu__block footer_menu__block_b5">
				<span class="footer_menu__item footer_menu__item-title">О компании</span>
				<a href="#" class="footer_menu__item">Новости</a>
				<a href="#" class="footer_menu__item">Старая версия сайта</a>
				<a href="#" class="footer_menu__item">Torex на ТВ</a>
				<a href="#" class="footer_menu__item">Вакансии</a>
			</div>
		</menu>
	</div>
	<div class="footer_mid">
		<div class="content-width footer__content">
			<div class="footer__logo">
				<div class="footer__logo_logo"></div>
				<div class="footer__logo_txt">torex.ru &copy; 2018</div>
			</div>
			<div class="footer_social">
				<a href="#" class="footer_social__item icon icon_fb-blue"></a>
				<a href="#" class="footer_social__item icon icon_vk-blue"></a>
				<a href="#" class="footer_social__item icon icon_ok-orange"></a>
				<a href="#" class="footer_social__item icon icon_youtube-red"></a>
				<a href="#" class="footer_social__item icon icon_skype-blue"></a>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<p class="footer_bottom__txt content-width">www.torex.ru — официальный сайт компании Torex. Данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации. Чтобы получить информацию о стоимости продукции Torex, пожалуйста, обращайтесь к официальным дилерам</p>
		<p class="footer_bottom__txt content-width">Цены в салонах могут отличаться от цен на сайте. Актуальную информацию о стоимости дверей Torex уточняйте у официальных дилеров в вашем городе</p>
	</div>
<script src="js/main.js"></script>
</footer>