<meta charset="utf-8">
<title>Torex Doors</title>
<!-- <link rel="icon" type="image/png" href="images/favicon.png" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="css/main.css" />

