<header class="header">
	<div class="header_top">
		<div class="content-width header__content">
			<div class="header__slogan"><b>Почему</b> миллионы людей <b>выбирают входные двери <span class="text_red">TOREX</span>?</b></div>
			<div class="header__contacts hidden_mob">
				<div class="header__contacts_city icon icon_map-point-red" data-fancybox data-src="#city-list"><span class="underline_dashed">
					Москва</span>
				</div>
				<div class="header__contacts_phone icon icon_phone-red hidden_tabl">
					<a href="tel:+78001004505">8 800 100 45 05</a>
				</div>
				
			</div>
		</div>
	</div>
	<div class="header_mid">
		<div class="content-width header__content">
			<div class="header_menu__toggle hidden_desk"></div>
			<a href="/" class="header__logo">
				<div class="header__logo_logo"></div>
				<div class="header__logo_txt hidden_tabl-mob">стальные двери</div>
			</a>
			<div class="header__btn-holder">
				<span class="header__btn btn" data-fancybox data-src="#call-master">Вызвать замерщика</span>
			</div>
			<a href="tel:+78001004505" class="header__phone-icon icon icon_phone-black hidden_desk"></a>
		</div>
	</div>
	<div class="header_bottom">
		<div class="content-width header_mob-width">
			<menu class="header_menu">
				<div class="header_menu__content">
					<a href="/" class="header_menu__item menu-current">Главная</a>
					<a href="#" class="header_menu__item">Каталог</a>
					<a href="#" class="header_menu__item">Конструктор</a>
					<a href="#" class="header_menu__item">Отзывы</a>
					<a href="#" class="header_menu__item">О компании</a>
					<a href="#" class="header_menu__item">Новости и акции</a>
					<a href="#" class="header_menu__item">Поддержка клиентов</a>
					<a href="#" class="header_menu__item">Где купить</a>
				</div>
			</menu>
		</div>
	</div>
</header>