@import "../../style/parts/_vars-mixins.scss";
// +desktop
// Variables
$translation-offset: 10px !default;
$no-translation-offset: 0 !default;
$rotation-offset: 180deg !default;

$opacity-timing: .6s !default;
$opacity-easing: ease-in-out !default;

$animation-timing: .4s !default;
$animation-delay: .2s !default;
$animation-easing: ease-in-out !default;

// Easy-reveal
$animations: "fade-in", "fade-in-up", "fade-in-down", "fade-in-left", "fade-in-right", "fade-in-rotate-x", "fade-in-rotate-y";

[data-easy-reveal],
[data-custom-reveal] {
    transform: translateY(10px); //fade-in-up default
    opacity: 0;
    transition: opacity $opacity-timing $opacity-easing, transform $animation-timing $animation-easing $animation-delay;
}
[data-easy-reveal="fade-in"],
[data-custom-reveal="fade-in"] {
    transform: translateY($no-translation-offset);
}

[data-easy-reveal="fade-in"],
[data-custom-reveal="fade-in"] {
    transform: translateY($translation-offset);
}

[data-easy-reveal="fade-in-down"],
[data-custom-reveal="fade-in-down"] {
    transform: translateY(-$translation-offset);
}

[data-easy-reveal="fade-in-left"],
[data-custom-reveal="fade-in-left"] {
    transform: translateX($translation-offset);
}

[data-easy-reveal="fade-in-right"],
[data-custom-reveal="fade-in-right"] {
    transform: translateX(-$translation-offset);
}

[data-easy-reveal="fade-in-rotate-x"],
[data-custom-reveal="fade-in-rotate-x"] {
    transform: rotateX($rotation-offset);
}

[data-easy-reveal="fade-in-rotate-y"],
[data-custom-reveal="fade-in-rotate-y"] {
    transform: rotateY($rotation-offset);
}

@each $animation in $animations {
    .#{$animation} {
        opacity: 1 !important;
    }
}

.fade-in-up,
.fade-in-down {
    transform: translateY(0);
}

.fade-in-left,
.fade-in-right {
    transform: translateX(0);
}

.fade-in-rotate-x {
    transform: rotateX(0);
}

.fade-in-rotate-y {
    transform: rotateY(0);
    @include tablet-mobile {
        [data-easy-reveal] {
            opacity: 1;
        }
    }
}