// Config
// ***********
// Resolutions
@mixin desktop {
  @media only screen and (min-width: 1260px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 1259px) and (min-width: 740px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 739px) {
    @content;
  }
}

@mixin desktop-tablet {
  @media only screen and (min-width: 740px) {
    @content;
  }
}

@mixin tablet-mobile {
  @media only screen and (max-width: 1259px) {
    @content;
  }
}
@mixin smallest-mobile {
  @media only screen and (max-width: 460px) {
    @content;
  }
}
@mixin content-width {
  margin: 0 auto;

  @include clearfix;
  @include desktop {
    width: 1200px;
  }

  @include tablet {
    width: 708px;
  }

  @include mobile {
    width: 100%;
    max-width: 366px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@mixin content-width_desk {
  margin: 0 auto;
  width: 1200px;
}

@mixin content-width_tabl {
  margin: 0 auto;
  width: 708px;
}

@mixin content-width_mob {
  margin: 0 auto;
  width: 366px;
  padding-right: 15px;
  padding-left: 15px;
}
@mixin default-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  @include tablet-mobile {
    flex-flow: row wrap;
    
  }
}

$Littera: 'LitteraPlain', sans-serif;
$LitteraLight: 'LitteraPlainLight', sans-serif;
$LitteraMedium: 'LitteraPlainMedium', sans-serif;
$LitteraBold: 'LitteraPlainBold', sans-serif;
$PTRuble: 'PTRuble', sans-serif;

@mixin bold {
  font-family: $LitteraBold
  }
@mixin semibold {
  font-family: $LitteraMedium
  }
@mixin light {
  font-family: $LitteraLight
  }

// Base colors, shadows, borders
$blue: #0b53b3;
$gray: #f1f5f9;
$mid-gray: #f4f4f4;
$dark-gray: #d8d3cf;
$deep-gray: #6e7680;
$red: #c42426;
$accent-color: #d30324;
$yellow: #ffc851;
$pink: #fdf2f4;


@mixin shadow {
  box-shadow: 0px 7px 45px -10px rgba(0,0,0,.25);
  @include mobile {
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,.25)
  }
}
@mixin pseudo {
  content: "";
  display: block;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}