@import "_vars-mixins.scss";
@import "_reset.scss";
@import "_grid.scss";
@import "header-footer.scss";
@import "icons.scss";
body {
  font: 16px/1.3 $Littera;
  overflow-x: hidden;
}






// Typography
@font-face {
  font-family: 'LitteraPlain';
  src: url('../fonts/LitteraPlainRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LitteraPlainLight';
  src: url('../fonts/LitteraPlainLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'LitteraPlainMedium';
  src: url('../fonts/LitteraPlainMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'LitteraPlainBold';
  src: url('../fonts/LitteraPlainBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PTRuble';
  src: url('../fonts/rouble.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
p {
  margin: 0 0 20px 0;
}
b, strong {
  @include bold;
}
h1, h2, h3 {
  font-family: $LitteraBold;
  margin-bottom: 15px;
}
h1 {
  font-size: 28px;
  text-transform: uppercase;
  @include tablet {
    font-size: 33px;
  }
  @include mobile {
    font-size: 28px;
  }
  @include smallest-mobile {
    font-size: 24px;
  }
  &.normal {
    text-transform: none;
  }
}
h2 {
  font-size: 29px;
  line-height: 1.1;
  color: #39474d;
  @include mobile {
    font-size: 22px;
  }
  @include smallest-mobile {
    font-size: 19px;
  }
}

h3 {
  font-size: 20px;
}
.section-title {
  position: relative;
  padding-left: 25px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 57px;
    background: $red;
    top: 2px;
    left: 0
  }
  @include mobile {
    padding-left: 15px;
     &:before {
        height: 45px;
        top: -2px;
      }
  
  }
  
}
.text {
  &_red {
    color: $red;
  }
  &_light {
    @include light;
  }
  &_semibold {
    @include semibold;
  }
  &_size26 {
    font-size: 26px;
  }
 &_size22 {
    font-size: 22px;
  }
  &_size20 {
    font-size: 20px;
  }
  &_size18 {
    font-size: 18px;
  }
}
* {
  text-decoration-skip: none;
  text-decoration-skip-ink: none;
}
a {
  color: #000;
  text-decoration: underline;
  transition: .3s text-decoration ease-in;
  &:hover, &:active {
    text-decoration: none;
  }
  &.red {color: $red;}
}
.underline {
    cursor: pointer;
    border-bottom: 1px solid;
    transition: .2s border ease-in;
    &_dashed {
      border-bottom: 1px dashed;
    }
    &:hover, &:active {
      border-bottom: transparent;
      text-decoration: none;
    }
}
.underline_dashed {
    cursor: pointer;
    border-bottom: 1px dashed;
    transition: .2s border ease-in;
    &:hover, &:active {
      border-bottom: transparent;
      text-decoration: none;
    }
}

.btn-holder {
  text-align: center;
  margin: 20px auto;
}
.btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: transparent;
  font-size: 20px;
  @include bold;
  text-align: center;
  color: $red;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  padding: 15px 40px;
  margin: 0 auto;
  border: 1px solid $red;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: .2s all ease-in;
  &:hover,&:active {
      background: $red;
      color: #fff;
      text-decoration: none;
  }
  &_red {
    background: $red;
    color: #fff;
    &:hover,&:active {
      background: transparent;
      color: $red;
      text-decoration: none;
    }
  }
  &_square-red {
    background: $red;
    color: #fff;
    font-size: 16px;
    @include bold;
    padding: 5px 30px;
    margin: initial;
    border-radius: 0;
    border: 1px solid $red;
    &:hover,&:active {
      background: transparent;
      color: $red;
      text-decoration: none;
    }
  }
  &_light {
    font-family: $Littera;
    font-size: 16px;
  }
  &_wide {
    width: 100%;
  }
}
.shadow {
  @include shadow;
}
//form inputs
.input-status {
  position: relative;
  .invalid, .valid {
    display: none;
    position: absolute;
    top: 13px;
    right: 15px;
    width: 17px;
    height: 17px;
  }
  @include mobile {
    width: 100%;
  }
}

.call-master.popup {
  input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
    background: #fff;
    display: inline-block;
    width: 100%;
    height: 40px;
    color: #666;
    font-size: 16px;
    line-height: 40px;
    margin: 0 0 20px;
    padding: 0 40px 0 20px;
    border: 1px solid #555;
    outline: none;
    &:focus, &:hover {
      box-shadow: 0 0 0 1px #000;
    }
    &.incorrect {
      background: #ffe5e5;
    }
    &.is-valid + .valid {
      display: block;
      background: url("../images/icons/check-green.svg") center/contain no-repeat;
    }
    &.incorrect + .valid + .invalid {
      display: block;
      background: url("../images/icons/times-red.svg") center/contain no-repeat;
    }
  }

  textarea {
    background: white;
    width: 100%;
    height: 120px;
    color: #666;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 25px;
    padding: 15px 20px;
    border: none;
    outline: 1px solid #555;
    &:focus, &:hover {
      outline: 2px solid #555;
    }
    &.incorrect {
      background: #ffe5e5;
    }
    &.is-valid + .valid {
      display: block;
      background: url("../images/icons/check-green.svg") center/contain no-repeat;
    }
    &.incorrect + .valid + .invalid {
      display: block;
      background: url("../images/icons/times-red.svg") center/contain no-repeat;
    }
  }

  .input-label {
    display: inline-block;
    margin: 0 20px 0 0;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #bababa;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #bababa;
  }

  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #bababa;
  }

  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #bababa;
  }
}
.loading {
    background: url("../images/loading.gif") center/100% no-repeat;
    position: absolute;
    top: 40%;
    left: 48%;
    width: 100px;
    height: 100px;
    z-index: 999;
  }

.link {
  display: inline;
  font-family: $LitteraBold;
  font-size: 18px;
  color: $accent-color;
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer;
  transition: .3s;
  &_gray,
  &_black {
    color: $deep-gray;
    text-decoration: none;
    border-bottom-color: transparent;
    &:hover {
      color: $accent-color;
      border-bottom-color: $accent-color;
    }
  }
  &_black {
    color: #000;
  }
  &_lite {
    font-size: 16px;
    font-family: $Littera;
  }
  &_dashed {
    border-style: dashed;
  }
  &_block {
    &:after {
      content: '';
      display: block;
      position: relative;
      width: 100%;
    }
  }
  &_lite {
    font-size: 16px;
  }
  &_icon {
    position: relative;
    margin-left: 30px;
    &:after {
      margin-bottom: 20px;
    }
  }
  &__icon { // для контейнера с иконкой внутри тега <a>
    position: absolute;
    top: 50%;
    left: -30px;
    width: 19px;
    height: auto;
    transform: translateY(-50%);
  }
}
.red {
  color: $accent-color;
}
.red_hover {
  color: $accent-color;
  transition: .3s;
}
.ruble {
  font-family: $PTRuble;
}

.show-more {
  &__container {
    text-align: center;
    overflow: hidden;
    margin-top: 75px;
    height: 30px;
  }
  &-toggle {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: $LitteraBold;
    &_large {
      font-size: 18px;
    }
  }
}

.js-scroll-top,
.js-scroll-menu {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 10px;
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid $accent-color;
  background-color: transparent;
  z-index: 9999;
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 7px;
    width: 16px;
    height: 15px;
    border-top: 5px solid #d30324;
    border-left: 5px solid #d30324;
    transform: rotate(45deg);
  }

}
.js-scroll-menu {}
.company-stats {
  &__more {
    text-align: center;
    overflow: hidden;
    margin-top: 75px;
    height: 30px;
    &_left {
      text-align: left;
    }
    &.active {
      height: auto;
    }
    @include tablet {
      margin-top: 30px;
    }
    @include mobile {
      margin-top: 75px;
      &.active {height: 100%;}
    }
  }
  &__more-txt {
    opacity: 0;
    transition: .3s opacity ease-in;
    .company-stats__more.active & {
      opacity: 1
    }
    &_left {
      text-align: left;
    }
  }
  &__more-toggle {
    position: relative;
    display: inline-block;
    cursor: pointer;
    @include bold;
    &.icon:before {
      right: -30px;
      top: 3px;
      width: 25px;
      height: 15px;
      transition: .3s ease-in;
    }
    &:hover:before {
      top: 4px;
    }
    @include mobile {
      &.icon:before {right: -27px;}
    }
    &_large {
      font-size: 18px;
    }
    .company-stats__more.active>&:before {
      transform: rotate(180deg);
    };
  }
}