@import "vars-mixins";

@include mobile {
	body.menu-active {
		position: fixed;
		width: 100%;
		max-width: 100%;
	}
}
.header {
	@include mobile {
		margin-bottom: 80px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;
	}
	&_top {
		background: $gray;
		font-size: 18px;
		line-height: 40px;
		@include tablet {
			line-height: 35px;
		}
		@include mobile {
			line-height: 1.3;
			padding: 5px 0 10px;
			
		}
	}
	&__slogan {
		@include tablet {
			font-size: 14px
		}
		@include mobile {
			font-size: 16px
		}
	}
	&__contacts {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		&_city {
			margin-right: 60px;
			padding-left: 25px;
			cursor: pointer;
		}
		&_phone {
			white-space: nowrap;
			padding-left: 25px;
			a {
				text-decoration: none;
			}
		}
		& .icon:before {
			width: 20px;
			height: 20px;
			top: 10px;
			left: 0;
		}
		@include tablet {
			&_city {
				font-size: 14px;
				padding-left: 15px;
				margin-right: 0;
			}
			& .icon:before {
				width: 12px;
				height: 12px;
				top: 12px;
			}
		}
	}
	&_mid {
		padding: 28px 0 20px;
		position: relative;
		@include tablet {
			padding: 23px 0 12px;
		}
		@include mobile {
			padding: 20px 0 10px;
		}
	}
	&_bottom {
		position: relative;
		@include desktop {
			border-top: 1px solid $gray;
		}
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 50px;
			background-image: linear-gradient(to bottom, #f1f1f1, rgba(244,244,244,.8), rgba(248,248,248,.6), rgba(251,251,251,.4), rgba(255,255,255,0));
		}
	}
	&_mob-width {
		@include mobile {
			width: 100%;
			max-width: 100%;
			padding: 0;
		}
	}
	&__logo {
		flex: 1;
		display: flex;
		flex-flow: row nowrap;
		width: 310px;
		text-decoration: none;
		&:hover {text-decoration: none}
		@include tablet-mobile {
			display: block;
		}
		@include mobile {
			width: 170px;
		}
		&_logo {
			background: url("../images/icons/logo-small.svg") 0 0/100% no-repeat;
			flex: 0 0 140px;
			height: 40px;
			@include tablet {
				background: url("../images/icons/logo-small-red.svg") 0 0/100% no-repeat;
				width: 155px;
			}
			@include mobile {
				margin: 0 auto;
				width: 155px;
				background: url("../images/icons/logo-small-red.svg") 0 0/100% no-repeat;
			}
		}
		&_txt {
			flex: 1;
			position: relative;
			padding-left: 38px;
			line-height: 40px;
			@include bold;
			&:before {
				content:"";
				width: 8px;
				height: 52px;
				background: $red;
				position: absolute;
				top: -5px;
				left: 15px;
			}
		}
	}
	&__btn-holder {
		flex: 1;
		text-align: right;
		@include tablet {
			margin-right: 65px;
		}
		@include mobile {
			left: 50%;
			position: absolute;
			top: 100px;
			height: 40px;
			text-align: center;
			transform: translateX(-50%);
			z-index: 100;
		}
	}
	&__btn {
		font-size: 13px !important;
		padding: 15px 44px !important;
		@include desktop {
			font-size: 16px !important;
		}
		@include tablet-mobile {
			padding: 10px 30px !important;
		}
		@include mobile {
			display: block;
			margin: 0 auto;
			width: 180px;
			text-overflow: unset !important;
		}
	}
	&__phone-icon {
		flex: 0 0 41px;
		display: block;
		&:before {
			width: 41px;
			height: 40px;
		}
		@include mobile {
			flex: 0 0 48px;
			margin-left: 30px;
			&:before {
				width: 31px;
				height: 30px;
			}
		}
	}
	&_menu {
		@include desktop {
			display: block !important;
		}
		@include tablet-mobile {
			display: none;
			background: #fff;
			position: absolute;
			z-index: 999;
			width: 708px;
			margin-top: -5px;
			&__toggle {
				font-size: 40px;
				cursor: pointer;
				position: relative;
				margin-right: 10%;
				background: url("../images/icons/bars.svg") center/contain no-repeat;
				width: 48px;
				height: 50px;
				top: -5px;
				&.toggle-active {
					background: url("../images/icons/times.svg") center/contain no-repeat;
				}
			}
			&__item {
				display: block;
			}
		}
		@include mobile {
			top: 130px;//-70px;
			width: 100%;
			height: 100%;
			position: fixed;
			background: #fff;
			&__toggle {
				margin-right: 30px;
			}
		}
		&__content{
			display: flex;
			justify-content: space-between;
			flex-flow: row nowrap;
			@include tablet-mobile {
				display: block;
				background: #fff;
			}
		}
		&__item {
			white-space: nowrap;
			@include bold;
			position: relative;
			padding: 0 15px;
			font-size: 18px;
			text-decoration: none;
			color: #333;
			line-height: 3;
			border-bottom: 1px solid $gray;
			@include desktop {
				font-size: 20px;
				padding: 8px 0 20px;
				line-height: 2;
				border-bottom: none;
				&:before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					width: 0;
					height: 2px;
					background: $red;
					opacity: 0;
					transition: .2s all ease-in;
				}
				&.menu-current, &:hover {
					color: $red;
					&:before {
						width: 100%;
						opacity: 1;
					}
				}
			}
			@include tablet {
				font-size: 22px;
			}
			@include mobile {
				// @include content-width_mob;
				padding-left: 30px;
				position: relative;
				&:active{color: $red}
				&:before{
					content: "";
					width: 23px;
					height: 23px;
					background: url("../images/icons/chevron-right-white.svg") center/contain no-repeat;
					position: absolute;
					top: 15px;
					right: 18px;
					z-index: 20;
				}
				&:after {
					content: "";
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background: $gray;
					position: absolute;
					top: 12px;
					right: 15px;
					z-index: 1;
				}
			}
		}
	}
}//header

//************************************************
.footer {
	&__content {
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;
		@include mobile {
			flex-flow: column;
		}
	}
	&_menu {
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;
		position: relative;
		&__block {
			flex: 1;
			display: flex;
			flex-flow: column;
		}
		&__item {
			display: inline-block;
			white-space: nowrap;
			font-size: 18px;
			margin-bottom: 7px;
			color: #6e7680;
			text-decoration: underline;
			transition: .2s color ease-in;
			&:hover {
				text-decoration: none;
				color: $red;
			}
		}
		&__item-title {
			color: $red;
			@include bold;
			font-size: 22px;
			line-height: 1;
			text-decoration: none;
			@include smallest-mobile {
				font-size: 20px;
			}
		}
		@include tablet {
			flex-flow: row wrap;
			justify-content: flex-start;
			&__block {
				flex: 0 0 33.333%;
				margin-bottom: 20px;
				&:nth-child(3) {padding-left: 35px;}
			}
		}
		@include mobile {
			display: block;
			&__block {
				width: 50%;
				float: left;
				margin-bottom: 20px;
				&_b2, &_b4, &_b5 {padding-left: 20px;}
				&_b2 {order: 2;}
				&_b3 {
					order: 3;
					margin-top: -80px;
				}
				&_b4 {order: 4;}
			}
			&__item {white-space: normal}
		}
	}
	&_mid {
		margin-bottom: 35px;
		padding-top: 27px;
		@include mobile {
			padding-top: 0;
		}
	}
	&__content {
		padding-top: 33px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			width: 100%;
			height: 2px;
			background: linear-gradient(to right,#fff 0%,$gray,$gray, $gray, #fff 100%);
		}
		@include mobile {
			padding-top: 20px;
			&:before {display: none;}
		}
	}
	&__logo {
		flex: 1;
		display: flex;
		flex-flow: column;
		margin-top: 5px;
		&_logo {
			background: url("../images/icons/logo-small-red.svg") 0 0/100% no-repeat;
			width: 123px;
			height: 30px;
		}
		&_txt {
			white-space: nowrap;
			margin-top: 12px;
		}
	}
	&_social {
		flex: 0 0 300px;
		padding-top: 23px;
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;
		&__item {
			display: inline-block;
			text-decoration: none;
			width: 22px;
			height: 22px;
		}
		@include tablet {
			flex: 0 0 380px;
			&__item {
				width: 26px;
				height: 26px;
				&:before {
					width: 100% !important; 
					height: 100% !important;
				}
			}

		}
		@include mobile {
			padding-top: 50px;
			flex: 1;
			width: 90%;
			margin: 0 auto;
		}
	}
	&_bottom {
		background: $gray;
		padding-top: 30px;
		padding-bottom: 30px;
		&__txt {
			font-size: 18px;
			margin-bottom: 25px;
			&:last-of-type {
				@include bold;
				margin-bottom: 0
			}
		}
		@include mobile {
			padding-top: 20px;
		}
	}
}//footer

