//icons
.icon {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
  }

  //shop contacts
  &_map-point:before {
    background: url("../images/icons/map-point-red.svg") center/contain no-repeat;
    width: 16px;
    height: 16px;
    @include tablet-mobile {
      background: url("../images/icons/map-point-white.svg") center/contain no-repeat;
    }
  }
  &_map-point-red:before {
    background: url("../images/icons/map-point-red.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
  }
  &_phone-red:before {
    background: url("../images/icons/phone-red.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
  }
  &_phone:before {
    background: url("../images/icons/phone-red.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
    @include tablet-mobile {
      background: url("../images/icons/phone-white.svg") center/contain no-repeat;
    }
  }
  &_hours:before {
    background: url("../images/icons/hours-red.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
    @include tablet-mobile {
      background: url("../images/icons/hours-white.svg") center/contain no-repeat;
    }
  }
  &_web:before {
    background: url("../images/icons/web-red.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
    @include tablet-mobile {
      background: url("../images/icons/web-white.svg") center/contain no-repeat;
    }
  }
  //end shop contacts
  &_phone-black:before {
    background: url("../images/icons/phone.svg") center/contain no-repeat;
  }

  &_door-red:before {
    background: url("../images/icons/door-red.svg") center/contain no-repeat;
  }
  &_employees-red:before {
    background: url("../images/icons/employees-red.svg") center/contain no-repeat;
  }
  &_metal-red:before {
    background: url("../images/icons/metal-red.svg") center/contain no-repeat;
  }
  &_factory-red:before {
    background: url("../images/icons/factory-red.svg") center/contain no-repeat;
  }
  &_shop-red:before {
    background: url("../images/icons/shop-red.svg") center/contain no-repeat;
  }
  &_warehouse-red:before {
    background: url("../images/icons/warehouse-red.svg") center/contain no-repeat;
  }
  &_document:before {
    background: url("../images/icons/document.svg") center/contain no-repeat;
  }
  &_alarm-clock:before {
    background: url("../images/icons/alarm-clock.svg") center/contain no-repeat;
  }

  &_delivery:before {
    background: url("../images/icons/delivery.svg") center/contain no-repeat;
  }
  &_shield:before {
    background: url("../images/icons/shield.svg") center/contain no-repeat;
  }
  &_contact:before {
    background: url("../images/icons/contact.svg") center/contain no-repeat;
  }
  &_chevron-down:before {
    background: url("../images/icons/chevron-down.svg") center/contain no-repeat;
    width: 12px;
    height: 8px;
  }
  &_chevron-down-red:before {
    background: url("../images/icons/chevron-down-red.svg") center/contain no-repeat;
    width: 12px;
    height: 8px;
  }
  &_chevron-left-red:before {
    background: url("../images/icons/chevron-left-red.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
  }
  &_chevron-right-red:before {
    background: url("../images/icons/chevron-right-red.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
  }
  &_chevron-left:before {
    background: url("../images/icons/chevron-left.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
  }
  &_chevron-right:before {
    background: url("../images/icons/chevron-right.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
  }
  &_chevron-left-white:before {
    background: url("../images/icons/chevron-left-white.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
  }
  &_chevron-right-white:before {
    background: url("../images/icons/chevron-right-white.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
  }
  &_cross:before {
    background: url("../images/icons/cross.svg") center/contain no-repeat;
    width: 18px;
    height: 18px;
  }
  &_at:before {
    background: url("../images/icons/at-red.svg") center/contain no-repeat;
    // width: 18px;
    // height: 18px;
  }
  
  &_fb-red:before {
    background: url("../images/icons/fb-red.svg") center/contain no-repeat;
    width: 10px;
    height: 20px;
  }
  &_fb-blue:before {
    background: url("../images/icons/fb-blue.svg") center/contain no-repeat;
    width: 10px;
    height: 20px;
  }
  
  &_youtube-red:before {
    background: url("../images/icons/youtube-red.svg") center/contain no-repeat;
    width: 20px;
    height: 20px;
  }
  &_ok-red:before {
    background: url("../images/icons/ok-red.svg") center/contain no-repeat;
    width: 12px;
    height: 20px;
  }
  &_ok-orange:before {
    background: url("../images/icons/ok-orange.svg") center/contain no-repeat;
    width: 12px;
    height: 20px;
  }

  &_vk-red:before {
    background: url("../images/icons/vk-red.svg") center/contain no-repeat;
    width: 20px;
    height: 20px;
  }
  &_vk-blue:before {
    background: url("../images/icons/vk-blue.svg") center/contain no-repeat;
    width: 20px;
    height: 20px;
  }

  &_twitter-red:before {
    background: url("../images/icons/twitter-red.svg") center/contain no-repeat;
    width: 20px;
    height: 20px;
  }

  &_skype-red:before {
    background: url("../images/icons/skype-red.svg") center/contain no-repeat;
    width: 16px;
    height: 17px;
  }
  &_skype-blue:before {
    background: url("../images/icons/skype-blue.svg") center/contain no-repeat;
    width: 16px;
    height: 17px;
  }

  &_gplus-red:before {
    background: url("../images/icons/gplus-red.svg") center/contain no-repeat;
    width: 20px;
    height: 20px;
  }





}//icon
.company-stats__item .icon_door-red:hover:before {
    background: url("../images/icons/door.svg") center/contain no-repeat;
  }
.company-stats__item .icon_employees-red:hover:before {
    background: url("../images/icons/employees.svg") center/contain no-repeat;
  }

.company-stats__item .icon_metal-red:hover:before {
    background: url("../images/icons/metal.svg") center/contain no-repeat;
  }
.company-stats__item .icon_factory-red:hover:before {
    background: url("../images/icons/factory.svg") center/contain no-repeat;
  }
.company-stats__item .icon_shop-red:hover:before {
    background: url("../images/icons/shop.svg") center/contain no-repeat;
  }
.company-stats__item .icon_warehouse-red:hover:before {
    background: url("../images/icons/warehouse.svg") center/contain no-repeat;
  }


.footer_social .icon_fb-blue:hover:before,
.footer_social .icon_fb-blue:active:before {
    background: url("../images/icons/fb-black.svg") center/contain no-repeat;
}
.footer_social .icon_ok-orange:hover:before,
.footer_social .icon_ok-orange:active:before {
    background: url("../images/icons/ok-black.svg") center/contain no-repeat;
}
.footer_social .icon_vk-blue:hover:before,
.footer_social .icon_vk-blue:active:before {
    background: url("../images/icons/vk-black.svg") center/contain no-repeat;
}
.footer_social .icon_youtube-red:hover:before,
.footer_social .icon_youtube-red:active:before {
    background: url("../images/icons/youtube-black.svg") center/contain no-repeat;
}
.footer_social .icon_skype-blue:hover:before,
.footer_social .icon_skype-blue:active:before {
    background: url("../images/icons/skype-black.svg") center/contain no-repeat;
}
