@import "../../style/parts/_vars-mixins.scss";

.represent {
    margin-bottom: 80px;
    @include tablet {
        &_content {
            margin-bottom: 20px;
        }
        div[data-slider=configurator__slider] .slick-prev {
            left: -15px;
        }
        div[data-slider=configurator__slider] .slick-next {
            right: -20px;
        }
    }
    @include mobile {
        margin-bottom: 20px;
        .card-product__appearance {
            width: 100%;
        }
    }
}

.card-product {
    position: relative;
    @include desktop {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }
    &__represent {
        display: flex;
        justify-content: space-between;
        @include desktop {
            margin-right: 20px;
            width: 500px;
        }
        @include tablet {
            margin-bottom: 30px;
        }
    }
    &__details {}
    &__outside {}
    &__inside {}
    &__picture {
        margin-bottom: 30px;
        width: 240px;
        height: 480px;
        @include desktop {
            margin-bottom: 50px;
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
        &_small {
            width: 220px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__finish {
        font-family: $LitteraMedium;
        margin-bottom: 10px;
    }
    &__outside,
    &__inside {
        @include mobile {
            margin: 30px auto;
        }
        &-picture {
            position: relative;
            overflow: hidden;
            width: 240px;
            height: 40px;
            transition: .3s;
            cursor: pointer;
            overflow: hidden;
            &:hover {
                box-shadow: 0 0 45px -5px rgba(0,0,0,.25);
                .card-product__inside-row {
                    background-color: $accent-color;
                    &:before {
                        border-color: #fff;
                    }
                }
            }
            &_small {
                width: 220px;
            }
            img {
                width: 100%;
            }
            &.red {
                /*.card-product__inside-row {
                    background-color: $accent-color;
                    border-right: 1px solid $accent-color;
                    border-bottom: 1px solid $accent-color;
                }*/
            }
        }
        &-row {
            position: absolute;
            top: 50%;
            right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            transform: translateY(-50%);
            transition: .3s;
            &:before {
                content: '';
                top: 5px;
                right: 7px;
                position: absolute;
                width: 8px;
                height: 8px;
                border-right: 1px solid $accent-color;
                border-bottom: 1px solid $accent-color;
                transform: rotate(-45deg);
            }
        }
    }
    &__title {
        .h1 {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 0;
            vertical-align: baseline;
        }
    }
    &__purpose {
        color: #333;
    }
    &__voiting {
        margin: 20px 0 15px;
        z-index: 100;
        &-stars {
            display: inline-block;
            > fieldset {
                border: none;
                display: inline-block;

                &:not(:checked) {
                    > input {
                        position: absolute;
                        display: none;
                        clip: rect(0,0,0,0);
                    }
                    > label {
                        position: relative;
                        float: right;
                        margin-right: 5px;
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        white-space: nowrap;
                        cursor: pointer;
                        font-size: 0;
                        color: red;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 35px;
                            height: 35px;
                            background: url("../../images/icons/star.svg");
                            transition: .2s;
                        }

                        &:hover,
                        &:hover ~ label {
                            &:before {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }

                > input:checked {
                    & ~ label {
                        &:before {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }

                > label:active {
                    &:before {
                        zoom: 1.1;
                        transition: .3s;
                    }
                }
            }
        }
        &-instructions {
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
            vertical-align: top;
        }
    }
    &__comparison {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: baseline;
        background: url("../../images/icons/scales.svg") no-repeat center;
        background-size: contain;
    }
    &__features {
        margin: 20px 0;
        @include desktop {
            margin: 20px 0 35px;
        }
        .field {
            display: inline-block;
            width: 250px;
            &:not(:last-child) {
                margin-right: 20px;
            }
            @include mobile {
                width: 100%;
            }
        }
    }
    &__row {
        align-items: center;
        margin: 0;
        @include mobile {
            display: block;
            text-align: center;
        }
    }
    &__price {
        height: 28px;
        font-family: $LitteraBold;
        font-size: 28px;
        margin-right: 30px;
        @include mobile {
            display: block;
            margin: 0 auto 20px;
        }
    }
    &__currency {
        font-size: 28px;
        font-weight: 600;
    }
    &__master {
        .btn_red {
            vertical-align: middle;
        }
        @include mobile {
            display: block;
            margin: 0 auto 20px;
        }
    }
    &__additionally {
        margin: 25px 0;
        color: $deep-gray;
        @include desktop {
            margin: 35px 0 25px;
        }
        span {
            font-weight: 700;
            color: #000;
        }
        .hint {
            &__icon {
                background-color: $deep-gray;
                border: none;
                color: #fff;
                font-size: 14px;
                width: 15px;
                height: 15px;
            }
            &__container {
                top: -4px;
                width: 15px;
                height: 15px;
            }
        }
    }
    &__btn {
        margin: 0;
        padding: 12px 15px;
        font-size: 16px;
        color: #000;
        @include mobile {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__preview {
        justify-content: space-between;
        @include desktop {
            margin: 30px 0 0;
        }
        @include tablet {
            margin: 30px 0;
            justify-content: inherit;
            .card-product__btn {
                margin-right: 40px;
            }
        }
        @include mobile {
            margin: 30px 0 0;
        }
    }
    &__appearance {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 40px;
        width: 580px;
        height: 0;
        background-color: transparent;
        z-index: 500;
        overflow: hidden;
        opacity: 0;
        transition: .4s;
        @include desktop {
            right: 50px;
        }
        @include tablet {
            width: 100%;
        }
        @include mobile {
            width: 335px;
        }
        &.show {
            height: 100%;
            padding: 30px 40px 20px;
            overflow: unset;
            background-color: #fff;
            box-shadow: 0 0 45px -5px rgba(0,0,0,.25);
            opacity: 1;
            transition: all .3s, opacity .7s;
            @include tablet {
                height: 600px;
            }
            @include mobile {
                height: 600px;
            }
        }
    }
    &__close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
        color: $deep-gray;
        cursor: pointer;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 14px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #666;
            border-radius: 5px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            color: $accent-color;
        }
    }
    &__slider {
        &-box {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &.selected {}
        }
        &-title {
            display: block;
            position: relative;
            margin-bottom: 5px;
            @include desktop {
                &:before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $accent-color;
                }
                &:after {
                    content: '';
                    position: absolute;
                    border-bottom: 1px solid $accent-color;
                }
            }
            &_outside {
                &:before {
                    left: -407px;
                    bottom: -2px;
                }
                &:after {
                    right: 375px;
                    bottom: 0;
                    width: 530px;
                }
            }
            &_inside {
                &:before {
                    left: -207px;
                    bottom: -2px;
                }
                &:after {
                    right: 353px;
                    bottom: 0;
                    width: 350px;
                }
            }
        }
        &-color {
            display: inline-block;
            margin-bottom: 10px;
            padding: 10px 30px;
            background-color: $mid-gray;
            font-family: $LitteraLight;
            overflow: hidden;
            transition: .3s;
        }
        &-name {
            font-family: $LitteraBold;
        }
    }
    &__slide {
        opacity: .2;
        text-align: center;
        padding: 10px 0 5px;
        @include mobile {
            width: 100px;
        }
        img {
            display: inline;
        }
        &.marked {
            opacity: 1;
            img {
                box-shadow: 0 0 20px -5px $accent-color;
            }
        }
    }
    &__popup-title {
        font-family: $LitteraBold;
        font-size: 18px;
    }
    .configurator {
        &__tabs {
            display: none;
            @include mobile {
                display: block;
            }
        }
    }
}

.filter-series-tooltip {
    position: relative;
    width: 232px;
    height: 519px;
    @include tablet-mobile {
        display: none;
    }
    img {
        width: 100%;
        height: auto;
        @include mobile {
            display: none;
        }
    }
    .series-door-tooltip {
        position: absolute;
        padding-top: 1px;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 50%;
        background: transparent url("../../images/icons/circle.svg") no-repeat;
        background-size: 100%;
        background-position: 0 0;
        cursor: default;
        &:hover {
            background-position: 0 -25px;
            .series-door-tooltip__number {
                color: #fff;
                + .series-door-tooltip__text {
                    left: calc(100% + 20px);
                    padding: 20px;
                    width: 300px;
                    height: auto;
                    font-size: 16px;
                    opacity: 1;
                    transition: .3s, left 0s;
                }
            }
        }
        &__text {
            position: absolute;
            top: 50%;
            left: -9999px;
            padding: 0;
            width: 0;
            height: 0;
            font-size: 0;
            text-align: left;
            color: #000;
            border-radius: 5px;
            background-color: #fff;
            z-index: 9999;
            box-shadow: -10px 7px 45px -5px rgba(0,0,0,.25);
            opacity: 0;
            &:before {
                content: '';
                position: absolute;
                left: -15px;
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 15px 0 15px;
                border-color: #fff transparent transparent transparent;
            }
        }
        &--u1 {
            top: 70px;
            right: 50px;
        }
        &--u2 {
            top: 100px;
            right: 110px;
        }
        &--u3 {
            top: 92px;
            left: 20px;
        }
        &--u4 {
            top: 165px;
            right: 90px;
        }
        &--u5 {
            top: 160px;
            right: 50px;
        }
        &--u6 {
            top: 200px;
            left: 55px;
        }
        &--u7 {
            top: 250px;
            left: 35px;
        }
        &--u8 {
            top: 275px;
            left: 100px;
        }
        &--u9 {
            bottom: 150px;
            left: 100px;
        }
        &--u10 {
            bottom: 40px;
            left: 30px;
        }
    }
}
.filter-series-info {
    @include desktop {
        width: 900px;
    }
    @include tablet {
        margin-top: 40px;
    }
}
.info-list {
    position: relative;
    margin-left: 40px;
    @include mobile {
        padding: 0 15px;
    }
    &__text {
        padding: 0 15px;
        .strong {
            font-family: $LitteraBold;
            display: block;
        }
    }
    &__row {
        margin: 30px 0;
        font-family: $LitteraLight;
        img {
            position: absolute;
            left: -40px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            @include mobile {
                left: -25px;
            }
        }
    }
}

.card-detail {
    .tabs-links {
        margin-bottom: 60px;
        border-bottom: 2px solid $mid-gray;
        box-shadow: none;
        justify-content: space-between;
        @include tablet {
            padding-bottom: 10px;
            border-bottom: none;
            overflow: hidden;
            flex-wrap: wrap;
        }
        @include mobile {
            margin-top: 20px;
            display: inline-block;
            border-bottom: none;
        }
        .tab-link {
            display: block;
            position: relative;
            background-color: #fff;
            text-transform: none;
            width: auto;
            text-align: center;
            padding: 0;
            font-size: 16px;
            text-decoration: none;
            color: $deep-gray;
            @include desktop {
                &:hover {
                    color: $red;
                    &:before {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
            @include tablet {
                margin-top: 20px;
                flex: 1 1 140px;
                @include tablet {
                    flex: none;
                    margin-right: 60px;
                    &:nth-child(5n+5),
                    &:nth-child(9n+9) {
                        margin-right: 0;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    right: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $mid-gray;
                    z-index: 1;
                    @include tablet {
                        width: 400px;
                    }
                }
            }
            @include mobile {
                margin-top: 18px;
                padding-bottom: 11px;
                display: block;
                font-size: 18px;
                &:last-child {
                    &:before {
                        display: none;
                    }
                }
                &:before {
                    width: 100% !important;
                    height: 1px !important;
                    background: $mid-gray !important;
                    opacity: 1 !important;
                }
            }
            &:before {
                content: '';
                position: absolute;
                bottom: -2px;
                right: 0;
                left: 0;
                width: 0;
                height: 2px;
                background: $red;
                opacity: 0;
                transition: .2s all ease-in;
                z-index: 100;
            }
            &.active {
                color: #000;
                @include mobile {
                    color: $accent-color;
                }
                &:before {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        &_inside {
            @include mobile {
                display: block;
            }
            .tab-link {
                &:not(.active) {
                    &:hover {
                        color: $accent-color;
                        transition: .3s;
                    }
                }
            }
        }
    }
    &__construction {
        justify-content: space-between;
        @include tablet {
            position: relative;
        }
        @include mobile {
            margin-bottom: 0;
        }
        &-door {
            position: relative;
            width: 232px;
            height: 519px;
            @include mobile {
                width: 100%;
                height: auto;
                font-size: 18px;
            }
            img {
                width: 100%;
                height: auto;
                @include mobile {
                    display: none;
                }
            }
        }
        &-description {
            width: 900px;
            @include tablet {
                margin-top: 40px;
            }
        }
    }
    &__list {
        position: relative;
        margin-left: 40px;
        @include mobile {
            padding: 0 15px;
        }
        &-item {
            font-family: $LitteraLight;
            &_icon {
                position: absolute;
                left: -50px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                @include mobile {
                    left: -25px;
                }
                img {
                    width: 100%;
                }
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    &__videos {
        justify-content: space-between;
        @include tablet {
            display: block;
        }
    }
    &__video {
        @include mobile {
            margin: 0 auto;
        }
        &-box {
            border-radius: 10px;
            margin-bottom: 15px;
            overflow: hidden;
            font-size: 0;
            @include tablet-mobile {
                width: 100%;
                display: block;
                iframe {
                    width: 100%;
                    height: 380px;
                }
            }

            @include mobile {
                iframe {
                    height: 200px;
                }
            }
        }
        &:not(:last-child) {
            margin-bottom: 60px;
        }
        &-additional {
            font-size: 14px;
            @include tablet {
                font-size: 18px;
            }
            &_name {}
            &_time {
                color: $accent-color;
            }
        }
    }
    &__warranty {
        position: relative;
        display: inline-block;
        margin-right: 30px;
        @include tablet {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            margin: 0;
            width: 200px;
            img {
                width: 100%;
            }
        }
        @include mobile {
            display: block;
            width: 180px;
            margin: 0 auto 20px;
            img {
                width: 100%;
            }
        }
        &-container {
            position: relative;
            @include tablet {
                height: 210px;
            }
            @include mobile {
                margin-bottom: 70px;
            }
        }
        &-title {
            display: inline-block;
            vertical-align: top;
            @include tablet {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                .link {
                    font-size: 25px;
                }
            }
            @include mobile {
                .link {
                    font-size: 20px;
                }
            }
        }
        @include tablet {
            &-head {
                font-size: 25px;
            }
        }
        @include mobile {
            &-head {
                font-size: 25px;
            }
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include mobile {
            display: none;
        }
        &-hint {
            position: absolute;
            width: 20px;
            height: 20px;
            &:nth-child(1) {
                top: 70px;
                right: 50px;
            }
            &:nth-child(2) {
                top: 100px;
                right: 110px;
            }
            &:nth-child(3) {
                top: 92px;
                left: 20px;
            }
            &:nth-child(4) {
                top: 165px;
                right: 90px;
            }
            &:nth-child(5) {
                top: 160px;
                right: 50px;
            }
            &:nth-child(6) {
                top: 200px;
                left: 55px;
            }
            &:nth-child(7) {
                top: 250px;
                left: 35px;
            }
            &:nth-child(8) {
                top: 275px;
                left: 100px;
            }
            &:nth-child(9) {
                bottom: 150px;
                left: 100px;
            }
            &:nth-child(10) {
                bottom: 40px;
                left: 30px;
            }
        }
    }
    &__description {
        &-box {
            @include tablet {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            @include mobile {
                padding: 0 15px;
            }
        }
        @include desktop {
            width: 650px;
        }
        @include tablet {
            position: absolute;
            top: 0;
            right: 0;
            margin-left: 50px;
            width: 450px;
            height: 520px;
        }
        @include mobile {
            position: relative;
        }
    }
    &__specification {
        @include mobile {
            margin-bottom: 0;
        }
    }
}

.specification-line {
    display: flex;
    padding: 12px 25px 10px;
    justify-content: space-between;
    border-radius: 5px;
    @include mobile {
        display: block;
    }
    &_pink {
        background-color: $pink;
    }
    &_left {
        display: inline-block;
        position: relative;
        @include mobile {
            display: block;
            width: 100%;
        }
    }
    &_right {
        display: inline-block;
        position: relative;
        font-family: $LitteraBold;
    }
    &__lists {
        display: flex;
        justify-content: space-between;
        @include tablet-mobile {
            display: block;
        }
    }
    &__list {
        width: 50%;
        &:not(:last-child) {
            @include desktop {
                margin-right: 40px;
            }
        }
        @include tablet-mobile {
            width: 100%;
        }
    }
}

.portfolio {
    display: block;
    position: relative;
    width: 380px;
    margin-bottom: 40px;
    @include tablet {
        width: 100%;
    }
    @include mobile {
        width: 100%;
    }
    &__picture {
        margin-bottom: 10px;
        width: 100%;
        font-size: 0;
        border-radius: 7px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__product {}
    &__place {
        display: block;
        font-size: 18px;
    }
    &__date {
        font-family: $LitteraBold;
        color: $accent-color;
    }
    &-container {
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.document {
    &-container {
        display: inline-block;
        position: relative;
        margin: 0 22px 30px 0;
        padding: 15px 20px;
        width: 280px;
        height: 180px;
        text-align: left;
        border-radius: 7px;
        box-shadow: 0 0 45px -5px rgba(0, 0, 0, .25);
        cursor: pointer;
        vertical-align: top;
        transition: .3s ease;
        text-decoration: none;
        @include desktop {
            background: #fff url("../../images/doc-background.jpg") no-repeat -10px center;
            background-size: contain;
        }
        @include tablet {
            display: block;
            width: 100%;
            font-size: 24px;
            background-position: right;
        }
        @include mobile {
            display: block;
            width: 100%;
            height: auto;
            font-size: 24px;
            background-position: right;
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 94px;
            height: 127px;
            background: #fff url("../../images/pdf-icon.jpg") no-repeat center;
            background-size: contain;
            transform: translateY(-50%);
            @include desktop {
                right: 15px;
            }
            @include tablet {
                right: 70px;
            }
            @include mobile {
                right: 20px;
                width: 50px;
                height: 73px;
            }
        }
        &:nth-child(4n+4) {
            margin-right: 0;
        }
        &:hover {
            box-shadow: 0px 0px 45px -5px rgba(0, 0, 0, .75);

            .document-container__title {
                border-bottom: 1px dashed;
            }
        }
        &__title {
            font-family: $LitteraBold;
            color: $red;
            border-bottom: 1px dashed;
            text-decoration: none;
            @include desktop {
                font-size: 17px;
            }
            @include tablet {
                font-size: 26px;
            }
            @include mobile {}
            &-wrap {
                display: block;
                width: 200px;
                @include desktop {
                    width: 155px;
                }
                @include tablet {
                    width: 400px;
                }
                @include mobile {
                    width: 230px;
                }
            }
        }
    }
    &-wrap {
        margin: 0 auto;
    }
}