<div class="card-product js-toggle-content">

    <div class="configurator__tabs">
        <div class="configurator__tabs-row shadow" id="configurator_out-in">
            <div class="configurator__tab tab-inactive" data-find="inside">Cнаружи</div>
            <div class="configurator__tab tab-active" data-find="outside">Внутри</div>
        </div>
    </div>

    <div class="card-product__represent">
        <div class="card-product__outside js-toggle-me toggle-me" data-toggle="outside">
            <div class="card-product__picture">
                <a href="./images/finish/outside-01.jpg" class="card-product__picture-box" data-fancybox="product-outside">
                    <img class="js-product-outside" src="./images/finish/outside-01.jpg" alt="">
                </a>
            </div>
            <div class="card-product__finish">
                Внешняя отделка:
            </div>
            <div class="card-product__outside-picture">
                <img src="./images/finish/outside-tx-01.jpg" class="js-outside-picture" alt="">
                <div class="card-product__inside-row"></div>
            </div>
        </div>

        <div class="card-product__inside js-toggle-me" data-toggle="inside">
            <div class="card-product__picture card-product__picture_small">
                <a href="./images/finish/inside-01.jpg" class="card-product__picture-box" data-fancybox="product-inside">
                    <img class="js-product-inside" src="./images/finish/inside-01.jpg" alt="">
                </a>
            </div>
            <div class="card-product__finish">
                Внутренняя отделка:
            </div>
            <div class="card-product__inside-picture card-product__inside-picture_small">
                <img src="./images/finish/inside-tx-01.jpg" class="js-inside-picture" alt="">
                <div class="card-product__inside-row"></div>
            </div>
        </div>
    </div>

    <div class="card-product__details">
        <div class="card-product__title">
            <h1 class="h1">Ultimatum-M CISA PP</h1>
            <a href="#" class="card-product__comparison hidden_mob"></a>
        </div>
        <div class="card-product__purpose">
            <h3>Входная дверь для квартиры</h3>
        </div>
        <div class="card-product__voiting">
            <div class="card-product__voiting-stars">
                <fieldset>
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5" class="js-rating" title="">5 stars</label>

                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4" class="js-rating" title="">4 stars</label>

                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3" class="js-rating" title="">3 stars</label>

                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2" class="js-rating" title="">2 stars</label>

                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1" class="js-rating" title="">1 star</label>
                </fieldset>
            </div>
            <div class="card-product__voiting-instructions">
                <span class="hint__icon"
                      rel="tooltip"
                      title="Здесь текст с инструкцией о звездочках для выставления рейтинга.">i</span>
            </div>
        </div>
        <div class="card-product__description">
            Двери нового поколения с инновационной технологией Армированный теплобетон.
            Они обладают максимальной защитой и повышенной функциональностью.<br>
            Флагман серии модель Super Omega 10 MAX.
        </div>
        <div class="card-product__features">
            <form>
                <div class="field">
                    <div class="inp-wrap">
                        <select name="select-box" class="js-custom-select">
                            <option value="left">Открывание влево</option>
                            <option value="right">Открывание вправо</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="inp-wrap">
                        <select name="select-box" class="js-custom-select">
                            <option value="1">2050x950</option>
                            <option value="2">2070x970</option>
                            <option value="2">2100x950</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-product__row row">
            <div class="card-product__price">
                66 532 <span class="card-product__currency ruble">q</span>
                <a href="#" class="card-product__comparison hidden_desk-tabl"></a>
            </div>
            <div class="card-product__master">
                <span class="header__btn btn btn_red" data-fancybox="" data-src="#call-master">Вызвать замерщика</span>
            </div>
        </div>
        <div class="card-product__additionally">
            <ul>
                <li>
                    Замер в пределах Москвы -
                    <span class="no-wrap">
                        бесплатно
                        <span class="hint__container">
                            <span class="hint__icon"
                                  rel="tooltip"
                                  title="Замер в пределах города бесплатно!<br>
                                  Или стоимость в пределах города: <b>300 руб.</b><br>
                                  Стоимость установки: <b>3&nbsp;000&nbsp;руб.</b><br>
                                  Установка в течении 3-х рабочих дней!<br>
                                  Или срок изготовления и доставки в город:
                                  <b>21&nbsp;рабочий&nbsp;день</b>"
                            >i</span>
                        </span>
                    </span>
                </li>
                <li>Стоимость установки - <span>3 000 <span class="ruble">q</span></span></li>
                <li>Установка в течение - <span>3-х рабочих дней</span></li>
            </ul>
        </div>
        <div class="card-product__more">
            <a class="link" href="#services">Подробнее</a>
        </div>
        <div class="card-product__preview row hidden_mob">
            <span class="card-product__btn btn" data-fancybox="" data-src="#show-interior">Посмотреть дверь в интерьере</span>
            <span class="card-product__btn btn" data-fancybox="" data-src="#show-constructor">Посмотреть дверь в конструкторе</span>
        </div>

        <div class="card-product__appearance js-popup-appearance">
            <div class="card-product__popup-title red m-b-s">Выбор отделки</div>
            <div class="card-product__close-btn"></div>
            <div class="card-product__slider-box">
                <span class="card-product__slider-title card-product__slider-title_outside">Внешняя отделка:</span>
                <div class="card-product__slider-color">
                    <span>Цвет:</span>
                    <span class="card-product__slider-name"></span>
                </div>
                <div class="card-product__slider-wrap js-outline-slider-wrap">
                    <div class="finish-slider js-finish__slider card-product__slider black-arrow configurator__slider_texture">
                        <div class="card-product__slide js-marked" data-color="Черный шелк">
                            <img src="./images/finish/outside-sm-01.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Вишня">
                            <img src="./images/finish/outside-sm-02.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Мореный дуб">
                            <img src="./images/finish/outside-sm-03.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Черный шелк">
                            <img src="./images/finish/outside-sm-01.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Вишня">
                            <img src="./images/finish/outside-sm-02.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Мореный дуб">
                            <img src="./images/finish/outside-sm-03.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Черный шелк">
                            <img src="./images/finish/outside-sm-01.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Вишня">
                            <img src="./images/finish/outside-sm-02.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Мореный дуб">
                            <img src="./images/finish/outside-sm-03.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Черный шелк">
                            <img src="./images/finish/outside-sm-01.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Вишня">
                            <img src="./images/finish/outside-sm-02.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Мореный дуб">
                            <img src="./images/finish/outside-sm-03.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-product__slider-box">
                <span class="card-product__slider-title card-product__slider-title_inside">Внутренняя отделка:</span>
                <div class="card-product__slider-color">
                    <span>Цвет:</span>
                    <span class="card-product__slider-name"></span>
                </div>
                <div class="card-product__slider-wrap js-inline-slider-wrap">
                    <div class="finish-slider js-finish__slider card-product__slider black-arrow configurator__slider_texture">
                        <div class="card-product__slide js-marked" data-color="Зеленый">
                            <img src="./images/finish/inside-sm-01.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Древесный">
                            <img src="./images/finish/inside-sm-02.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Белый">
                            <img src="./images/finish/inside-sm-03.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Зеленый">
                            <img src="./images/finish/inside-sm-01.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Древесный">
                            <img src="./images/finish/inside-sm-02.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Белый">
                            <img src="./images/finish/inside-sm-03.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Зеленый">
                            <img src="./images/finish/inside-sm-01.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Древесный">
                            <img src="./images/finish/inside-sm-02.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Белый">
                            <img src="./images/finish/inside-sm-03.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Зеленый">
                            <img src="./images/finish/inside-sm-01.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Древесный">
                            <img src="./images/finish/inside-sm-02.jpg" alt="">
                        </div>
                        <div class="card-product__slide" data-color="Белый">
                            <img src="./images/finish/inside-sm-03.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>