<div class="card-detail">
    <div class="tabs js-tabs">
        <div class="tabs-links js-submenu">
            <a href="#" class="tab-link js-tab-link active" data-tab="tab1">Конструкция</a>
            <a href="#" class="tab-link js-tab-link" data-tab="tab2">Характеристики</a>
            <a href="#" class="tab-link js-tab-link" data-tab="tab3">Видео</a>
            <a href="#" class="tab-link js-tab-link" data-tab="tab4">Отзывы</a>
            <a href="#" class="tab-link js-tab-link" data-tab="tab5">Документы</a>
            <a href="#" class="tab-link js-tab-link" data-tab="tab6">Доп.опции</a>
            <a href="#" class="tab-link js-tab-link js-init-reveal" data-tab="tab7">Портфолио</a>
            <a id="services" href="#" class="tab-link js-tab-link" data-tab="tab8">Услуги</a>
            <a href="#" class="tab-link js-tab-link" data-tab="tab9">Гарантия</a>
        </div>
        <div class="tabs-block-wrap">
            <div class="tab-block js-tab-block visible" data-tab="tab1">
                <div class="row card-detail__construction">



                    <div class="filter-series-tooltip">
                        <img src="./images/constructor-door.png" alt="">
                        <div class="series-door-tooltip series-door-tooltip--u1">
                            <span class="series-door-tooltip__number">1</span>
                            <span class="series-door-tooltip__text">
                                Фрезерованная декоративно-защитная панель 10 мм
                            </span>
                        </div>
                        <div class="series-door-tooltip series-door-tooltip--u2">
                            <span class="series-door-tooltip__number">2</span>
                            <span class="series-door-tooltip__text">
                                Минеральная плита высокой плотности
                            </span>
                        </div>
                        <div class="series-door-tooltip series-door-tooltip--u3">
                            <span class="series-door-tooltip__number">3</span>
                            <span class="series-door-tooltip__text">
                                        Девиатор - дополнительные точки запирания
                                    </span>
                        </div>
                        <div class="series-door-tooltip series-door-tooltip--u4">
                            <span class="series-door-tooltip__number">4</span>
                            <span class="series-door-tooltip__text">
                                        Вертикальные ребра жесткости
                                    </span>
                        </div>
                        <div class="series-door-tooltip series-door-tooltip--u5">
                            <span class="series-door-tooltip__number">5</span>
                            <span class="series-door-tooltip__text">
                                        Два контура уплотнителей - резиновый и магнитный
                                    </span>
                        </div>
                        <div class="series-door-tooltip series-door-tooltip--u6">
                            <span class="series-door-tooltip__number">6</span>
                            <span class="series-door-tooltip__text">
                                        Замковый карман по всей высоте полотна
                                    </span>
                        </div>
                        <div class="series-door-tooltip series-door-tooltip--u7">
                            <span class="series-door-tooltip__number">7</span>
                            <span class="series-door-tooltip__text">
                                        Ночная задвижка
                                    </span>
                        </div>
                        <div class="series-door-tooltip series-door-tooltip--u8">
                            <span class="series-door-tooltip__number">8</span>
                            <span class="series-door-tooltip__text">
                                        Замок двухсистемный с перекодировкой 4-го класса защиты
                                    </span>
                        </div>
                        <div class="series-door-tooltip series-door-tooltip--u9">
                            <span class="series-door-tooltip__number">9</span>
                            <span class="series-door-tooltip__text">
                                        Термозвукоизолятор - изолон
                                    </span>
                        </div>
                        <div class="series-door-tooltip series-door-tooltip--u10">
                            <span class="series-door-tooltip__number">10</span>
                            <span class="series-door-tooltip__text">
                                Порог из нержавеющей стали
                            </span>
                        </div>
                    </div>

                    <div class="filter-series-info">
                        <div class="info-list__text">
                            Professor 4+ – не просто дверь, а современная защитная система, у которой Все под контролем.
                            Лучшие технологические решения и стильный статусный дизайн делают двери
                            Professor 4-го поколения по-настоящему современными во всех смыслах.
                        </div>
                        <div class="info-list">
                            <div class="info-list__row">
                                <div class="info-list__img">
                                    <img src="./images/icons/brilliant.svg">
                                </div>
                                <div class="info-list__text">
                                    Флагман модельного ряда Torex. В этих дверях применены лучшие<br>
                                    технологии и решения стальных дверей пр-ва Torex.
                                    <span class="strong">Срок службы - от 20 лет.</span>
                                </div>
                            </div>
                            <div class="info-list__row">
                                <div class="info-list__img">
                                    <img src="./images/icons/hand.svg" alt="">
                                </div>
                                <div class="info-list__text">
                                    Усиленная конструкция! Гранитобетонная вставка, три гиба<br>
                                    жесткости по торцу полотна и короба, защитно -декоративные<br>
                                    вставки из нержавеющей стали.
                                    <span class="strong">Ваша дверь максимально защитная!</span>
                                </div>
                            </div>
                            <div class="info-list__row">
                                <div class="info-list__img">
                                    <img src="./images/icons/lock.svg" alt="">
                                </div>
                                <div class="info-list__text">
                                    Замковая система класса "премиум", дополнительные точки<br>
                                    запирания и броненакладки на замки обеспечивают максимальный<br>
                                    уровень защиты от интеллектуальных и силовых методов взлома.
                                    <span class="strong">Замковая система класса "Premium"!</span>
                                </div>
                            </div>
                            <div class="info-list__row">
                                <div class="info-list__img">
                                    <img src="./images/icons/headphones.svg" alt="">
                                </div>
                                <div class="info-list__text">
                                    Высочайший уровень тепло- и шумоизоляции. 3 контура примыкания<br>
                                    с уплотнителями разного типа, многослойное заполнение полотна<br>
                                    (STP GB – минплита – автомобильный войлок).
                                    <span class="strong">Одна дверь - сменные дизайны!</span>
                                </div>
                            </div>
                            <div class="info-list__row">
                                <div class="info-list__img">
                                    <img src="./images/icons/palitra.svg" alt="">
                                </div>
                                <div class="info-list__text">
                                    <span class="strong">Респектабельный дизайн.</span>
                                    Богатый выбор моделей "Professor 4+" удовлетворит эстетические<br>
                                    пожелания даже самых взыскательных покупателей.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--Конструктор-->
            <div class="tab-block js-tab-block" data-tab="tab2">
                <div class="card-detail__specification">
                    <div class="tabs js-tabs_inside">
                        <div class="tabs-links_inside">
                            <a href="#" class="tab-link js-tab-link_inside active" data-tab="doortab">Характеристики двери</a>
                            <a href="#" class="tab-link js-tab-link_inside" data-tab="locktab">Замковая система</a>
                        </div>
                        <div class="tabs-block-wrap">
                            <div class="tab-block_inside-container">
                                <div class="tab-block_inside js-tab-block_inside visible" data-tab="doortab">
                                    <div class="specification-line__lists">
                                        <div class="specification-line__list">
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Тип двери</div>
                                                <div class="specification-line_right">Одностворачатая/Двустворчатая</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Серия</div>
                                                <div class="specification-line_right">Professor</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Модель</div>
                                                <div class="specification-line_right">Professor 4 PP 02</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Тип внешней отделки</div>
                                                <div class="specification-line_right">Порошково-полимерное покрытие</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Цвет внешней отделки</div>
                                                <div class="specification-line_right">Черный шелк</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Тип внутренней отделки</div>
                                                <div class="specification-line_right">Панель MDF с покрытием Cortorex</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Цвет внутренней отделки</div>
                                                <div class="specification-line_right">КТ Дуб мореный</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Цвет фурнитуры</div>
                                                <div class="specification-line_right">Хром</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Рисунок внешней отделки</div>
                                                <div class="specification-line_right">OS45-04</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Рисунок внутренней отделки</div>
                                                <div class="specification-line_right">S45-04</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Код серии</div>
                                                <div class="specification-line_right">2139123</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Сторона открывания</div>
                                                <div class="specification-line_right">правая/левая</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Конструкция полотна</div>
                                                <div class="specification-line_right">Каркасная/Монолитная</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Вес</div>
                                                <div class="specification-line_right">106 кг</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Назначение</div>
                                                <div class="specification-line_right">Квартира/Дом</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Размеры</div>
                                                <div class="specification-line_right">2050х900 мм (список)</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Гарантия</div>
                                                <div class="specification-line_right">3 года</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Толщина полотна</div>
                                                <div class="specification-line_right">93 мм</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Толщина стали полотна</div>
                                                <div class="specification-line_right">2 мм</div>
                                            </div>
                                        </div>
                                        <div class="specification-line__list">
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Тип двери</div>
                                                <div class="specification-line_right">Одностворачатая/Двустворчатая</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Серия</div>
                                                <div class="specification-line_right">Professor</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Модель</div>
                                                <div class="specification-line_right">Professor 4 PP 02</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Тип внешней отделки</div>
                                                <div class="specification-line_right">Порошково-полимерное покрытие</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Цвет внешней отделки</div>
                                                <div class="specification-line_right">Черный шелк</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Тип внутренней отделки</div>
                                                <div class="specification-line_right">Панель MDF с покрытием Cortorex</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Цвет внутренней отделки</div>
                                                <div class="specification-line_right">КТ Дуб мореный</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Цвет фурнитуры</div>
                                                <div class="specification-line_right">Хром</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Рисунок внешней отделки</div>
                                                <div class="specification-line_right">OS45-04</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Рисунок внутренней отделки</div>
                                                <div class="specification-line_right">S45-04</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Код серии</div>
                                                <div class="specification-line_right">2139123</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Сторона открывания</div>
                                                <div class="specification-line_right">правая/левая</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Конструкция полотна</div>
                                                <div class="specification-line_right">Каркасная/Монолитная</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Вес</div>
                                                <div class="specification-line_right">106 кг</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Назначение</div>
                                                <div class="specification-line_right">Квартира/Дом</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Размеры</div>
                                                <div class="specification-line_right">2050х900 мм (список)</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Гарантия</div>
                                                <div class="specification-line_right">3 года</div>
                                            </div>
                                            <div class="specification-line specification-line">
                                                <div class="specification-line_left">Толщина полотна</div>
                                                <div class="specification-line_right">93 мм</div>
                                            </div>
                                            <div class="specification-line specification-line_pink">
                                                <div class="specification-line_left">Толщина стали полотна</div>
                                                <div class="specification-line_right">2 мм</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-block_inside js-tab-block_inside" data-tab="locktab">
                                    <div class="specification-line__lists">
                                    <div class="specification-line__list">
                                        <div class="specification-line specification-line_pink">
                                            <div class="specification-line_left">Тип замка</div>
                                            <div class="specification-line_right">Цилиндровый</div>
                                        </div>
                                        <div class="specification-line specification-line">
                                            <div class="specification-line_left">Серия</div>
                                            <div class="specification-line_right">Professor</div>
                                        </div>
                                        <div class="specification-line specification-line_pink">
                                            <div class="specification-line_left">Модель</div>
                                            <div class="specification-line_right">Professor 4 PP 02</div>
                                        </div>
                                        <div class="specification-line specification-line">
                                            <div class="specification-line_left">Тип внешней отделки</div>
                                            <div class="specification-line_right">Порошково-полимерное покрытие</div>
                                        </div>
                                    </div>
                                    <div class="specification-line__list">
                                        <div class="specification-line specification-line_pink">
                                            <div class="specification-line_left">Тип замка</div>
                                            <div class="specification-line_right">Цилиндровый</div>
                                        </div>
                                        <div class="specification-line specification-line">
                                            <div class="specification-line_left">Серия</div>
                                            <div class="specification-line_right">Professor</div>
                                        </div>
                                        <div class="specification-line specification-line_pink">
                                            <div class="specification-line_left">Модель</div>
                                            <div class="specification-line_right">Professor 4 PP 02</div>
                                        </div>
                                        <div class="specification-line specification-line">
                                            <div class="specification-line_left">Тип внешней отделки</div>
                                            <div class="specification-line_right">Порошково-полимерное покрытие</div>
                                        </div>
                                        <div class="specification-line specification-line_pink">
                                            <div class="specification-line_left">Цвет внешней отделки</div>
                                            <div class="specification-line_right">Черный шелк</div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--Характеристики-->
            <div class="tab-block js-tab-block" data-tab="tab3">
                <div class="row card-detail__videos">
                    <div class="card-detail__video">
                        <div class="card-detail__video-box">
                            <iframe
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/tPrtfyKabuM"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        <div class="card-detail__video-additional">
                            <span class="card-detail__video-additional_name">Торэкс 25 лет. Часть 1</span>
                            <span class="card-detail__video-additional_time">(2:30)</span>
                        </div>
                    </div>
                    <div class="card-detail__video">
                        <div class="card-detail__video-box">
                            <iframe
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/tPrtfyKabuM"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        <div class="card-detail__video-additional">
                            <span class="card-detail__video-additional_name">Торэкс 25 лет. Часть 1</span>
                            <span class="card-detail__video-additional_time">(2:30)</span>
                        </div>
                    </div>
                    <div class="card-detail__video">
                        <div class="card-detail__video-box">
                            <iframe
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/tPrtfyKabuM"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        <div class="card-detail__video-additional">
                            <span class="card-detail__video-additional_name">Торэкс 25 лет. Часть 1</span>
                            <span class="card-detail__video-additional_time">(2:30)</span>
                        </div>
                    </div>
                    <div class="card-detail__video">
                        <div class="card-detail__video-box">
                            <iframe
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/tPrtfyKabuM"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        <div class="card-detail__video-additional">
                            <span class="card-detail__video-additional_name">Торэкс 25 лет. Часть 1</span>
                            <span class="card-detail__video-additional_time">(2:30)</span>
                        </div>
                    </div>
                </div>
            </div> <!--Видео-->
            <div class="tab-block js-tab-block" data-tab="tab4">
                @@include('../review/review.html')
            </div> <!--Отзывы-->
            <div class="tab-block js-tab-block" data-tab="tab5">
                <div class="document-wrap">
                    @@include('./documents.html',{
                    "title":"Стальные двери ’’СТЕЛ’’.pdf"
                    })

                    @@include('./documents.html',{
                    "title":"Стальные двери ’’СТЕЛ’’.pdf"
                    })

                    @@include('./documents.html',{
                    "title":"Стальные двери ’’СТЕЛ’’.pdf"
                    })

                    @@include('./documents.html',{
                    "title":"Стальные двери ’’СТЕЛ’’.pdf"
                    })

                    @@include('./documents.html',{
                    "title":"Стальные двери ’’СТЕЛ’’.pdf"
                    })
                </div>
                <p>
                    Металлические двери Torex имеют сертификат соответствия согласно ГОСТу 31173-2003 «Блоки дверные стальные».
                    Они соответствуют высшему классу ГОСТ по прочности, тепло- и шумоизоляции. А некоторые модели
                    превосходят его в несколько раз по своим защитным свойствам. Двойной контур утепления и прочная
                    запатентованная конструкция полотна делают такую дверь легкой в открывании, тепло- и шумоизолирующей,
                    эстетичной по внешнему виду. На входных дверях Torex устанавливаются сертифицированные замковые системы.
                    Они отвечают 4 (высшему) классу надежности по ГОСТу 5089-2003 и будут максимально надежно защищать
                    ваш дом от несанкционированного проникновения. Сертификация замковых систем – это необходимость,
                    которая гарантирует высокое качество двери и высокий уровень ее защиты от взлома и вскрытия.
                </p>
            </div> <!--Документы-->
            <div class="tab-block js-tab-block" data-tab="tab6">ДОП. ОПЦИИ</div> <!--Доп.опции нет в макете и ТЗ-->
            <div class="tab-block js-tab-block" data-tab="tab7">
                <div data-custom-reveal="fade-in" class="portfolio-container">
                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port02.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })
                </div>
                <div data-custom-reveal="fade-in" class="portfolio-container">
                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port02.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })
                </div>
                <div data-custom-reveal="fade-in" class="portfolio-container">
                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port02.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })
                </div>
                <div data-custom-reveal="fade-in" class="portfolio-container">
                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port02.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })
                </div>
                <div data-custom-reveal="fade-in" class="portfolio-container">
                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port02.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })
                </div>
                <div data-custom-reveal="fade-in" class="portfolio-container">
                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port02.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })

                    @@include('./portfolio.html',{
                    "picture":"./images/port01.jpg",
                    "product":"ULTIMATUM-M CISA PP",
                    "place":"Балашиха",
                    "date":"30.12.2018"
                    })
                </div>
            </div> <!--Портфолио-->
            <div class="tab-block js-tab-block" data-tab="tab8">УСЛУГИ</div> <!--Услуги нет в макете и ТЗ-->
            <div class="tab-block js-tab-block" data-tab="tab9">
                <div class="card-detail__warranty-container">
                    <div class="card-detail__warranty">
                        <img src="./images/warranty.png" alt="">
                    </div>
                    <div class="card-detail__warranty-title">
                        <div class="card-detail__warranty-head">Гарантия 3 года</div>
                        <a class="link link_lite link_dashed" data-fancybox="" data-src="#show-warranty" href="#">Подробные условия гарантии</a>
                    </div>
                </div>
            </div> <!--Гарантия-->
        </div>
    </div>
</div>