@import "../../style/parts/_vars-mixins.scss";

.card-doors {
    display: inline-block;
    margin-bottom: 30px;
    width: 320px;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    @include desktop {
        width: 273px;
        margin-right: 30px;
        &:nth-child(3n+3) {
            margin-right: 0;
        }
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }
    &:hover {
        border: 2px solid transparent;
        box-shadow: 0 0 45px -5px rgba(0,0,0,.25);
    }
    &__wrap {
        padding: 0 15px;
    }
    &__link {
        display: block;
        padding-top: 40px;
        text-decoration: none;
    }
    &__picture {
        position: relative;
        text-align: center;
        font-size: 0;
        &_left,
        &_right {
            display: inline-block;
            img {
                width: 100%;
            }
        }
        &_left {
            margin-right: 20px;
            @include desktop {
                margin-right: 30px;
                width: 106px;
            }
        }
        &_right {
            @include desktop {
                width: 100px;
            }
        }
    }
    &__new {
        position: absolute;
        top: -20px;
        right: -15px;
        width: 40px;
        height: 40px;
        @include desktop {
            top: -15px;
            right: -10px;
            width: 35px;
            height: 35px;
        }
        img {
            width: 100%;
        }
    }
    &__title {
        margin: 30px 0 5px;
        font-family: $LitteraBold;
        font-size: 22px;
        text-transform: uppercase;
    }
    &__use {
        font-family: $Littera;
        font-size: 18px;
        color: #9b9ca0;
    }
    &__price {
        cursor: default;
        &-current {
            color: $accent-color;
            font-size: 21px;
            margin-right: 15px;
        }
        &-previous {
            position: relative;
            color: #9b9ca0;
            font-size: 16px;
            margin-right: 15px;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            &:before {
                content: '';
                position: absolute;
                top: 9px;
                width: 100px;
                height: 1px;
                background-color: #9b9ca0;
            }
        }
    }
    &__comparison {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 25px;
        vertical-align: baseline;
        background: url("../../images/icons/scales.svg") no-repeat center 4px;
        background-size: contain;
        &:before,
        &:after {
            opacity: 0;
            transition: .3s;
        }
        &:hover {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                width: 0;
                height: 0;
                border: 0 solid transparent;
                border-top-width: 5px;
                border-bottom-width: 5px;
                border-right: 5px solid rgba(0,0,0,.7);
                transform: translateY(-50%);
                opacity: 1;
            }
            &:after {
                content: 'Сравнение дверей';
                position: absolute;
                top: 50%;
                left: calc(100% + 5px);
                font-family: $LitteraLight;
                font-size: 14px;
                padding: 5px 10px;
                border-radius: 3px;
                color: #fff;
                background-color: rgba(0,0,0,.7);
                transform: translateY(-50%);
                opacity: 1;
            }
        }
    }
    &__button {
        margin-bottom: 25px;
        text-align: center;
        .btn {
            width: 100%;
            padding: 10px 0;
        }
    }
}