<div class="card-doors">
    <a class="card-doors__wrap card-doors__link" href="#">
        <div class="card-doors__picture">
            <div class="card-doors__picture_left">
                <img src="./images/card-door-left.jpg" alt="">
            </div>
            <div class="card-doors__picture_right">
                <img src="./images/card-door-right.jpg" alt="">
            </div>
            @@if(context.new === true) {
                <div class="card-doors__new"><img src="./images/new.png" alt=""></div>
            }
        </div>
        <div class="card-doors__title">Ultimatum M</div>
        <div class="card-doors__use">Дверь для дома</div>
    </a>
    <div class="card-doors__wrap card-doors__price m-b-s">
        <span class="card-doors__price-current">от 17 560<span class="ruble">q</span></span>
        @@if(context.prev) {
            <span class="card-doors__price-previous">@@prev<span class="ruble">q</span></span>
        }
        <a href="#" class="card-doors__comparison"></a>
    </div>
    <div class="card-doors__wrap card-doors__button">
        <span class="btn">Заказать в один клик</span>
    </div>
</div>