<div class="portfolio">
    <div class="portfolio__picture">
        <a href="@@picture" data-fancybox="images">
            <img src="@@picture" />
        </a>
    </div>
    <h3 class="portfolio__product">@@product</h3>
    <span class="portfolio__place">@@place</span>
    <span class="portfolio__date">@@date</span>
</div>