@import "../../style/parts/_vars-mixins.scss";

.how-to-buy {
	&__wrap {
		&_frontpage{
			margin-bottom: 180px;
			@include tablet {
				margin-bottom: 80px;
			}
			@include mobile {
				margin-bottom: 50px;
			}
			
		}
		//other pages go here
	}//wrap
	&__title {
		text-align: center;
		margin-bottom: 5px;
	}
	&__subtitle {
		display: block;
		font-size: 18px;
		color: #39474d;
		text-align: center;
		margin-bottom: 83px;
		@include tablet {
			margin-bottom: 70px;
		}
		@include mobile {
				margin-bottom: 57px;
		}
	}
	&__content-slider {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		@include tablet {
			flex-flow: row wrap;
			justify-content: center;
		
		}
		@include mobile {
			display: block;
		}
	}
	&__item {
		flex: 0 0 210px;
		@include tablet {
			flex: 0 0 33.33%;
			margin-bottom: 40px;
		}
		@include mobile {
			width: 100%;
		}
	}
	&__item-content {
		padding-left: 12px;
		position: relative;
		@include tablet {
			padding-left: 0;
			.i1 & {margin-left: 10px;}
			.i2 & {margin-left: 50px;}
			.i4 & {margin-left: 10px;}
			.i3 &, .i5 & {float: right;}
		}
		@include mobile {
			width: 100%;
			text-align: center;
			margin: 0 auto;
			.i2 &,
			.i4 &  {width: 60%;}

		}

	}
	&__icon {
		height: 50px;
		display: inline-block;
		z-index: 20;
		@include mobile {
			width: 50px;
			margin: 0 auto;
		}
		&:before {
			width: 45px;
			height: 45px;
		}
		&.icon_delivery:before {
			width: 70px;
			height: 60px;
			top: -10px;
		}
	}
	&__bg-num {
		display: block;
		position: absolute;
		font-size: 94px;
		line-height: 1;
		color: #f7e5e5;
		white-space: nowrap;
		@include bold;
		z-index: 0;
		top: 5px;
		left: 0;
		@include tablet {
			left: -15px;
		}
		@include mobile {
			left: 50%;
			margin-left: -100px;
		}
	}
	&__header {
		display: block;
		position: relative;
		font-size: 20px;
		@include bold;
		line-height: 1.2;
		margin-bottom: 8px;
		z-index: 20;
		a {
			border-bottom: 1px solid #000;
			text-decoration: none;
			line-height: 1;
			transition: .3s border-bottom ease-in;
			&:hover {border-bottom: transparent;};
		}

	}
	&__txt {
		font-size: 16px;
		@include semibold;
		z-index: 10; 
		position: relative;
		display: inline-block;
	}
	.mobile-only-dots {margin-top: 25px}
	


	
}