<section class="how-to-buy content-width">
	<h2 class="how-to-buy__title">Как купить <span class="text_red">входную дверь</span>?</h2>
	<span class="how-to-buy__subtitle">Пять простых шагов</span>
	<div class="how-to-buy__content-slider" data-slider="mob-only">
		<div class="how-to-buy__item i1">
			<div class="how-to-buy__item-content">
				<i class="how-to-buy__bg-num hidden_mob hidden_mob">1</i>
				<i class="how-to-buy__bg-num hidden_desk-tabl">1 шаг</i>
				<div class="icon icon_contact how-to-buy__icon"></div>
				<span class="how-to-buy__header"><a href="#">Оставьте<br>заявку на замер</a></span>
				<span class="how-to-buy__txt">Это займет у вас 10&nbsp;секунд</span>
			</div>
		</div>
		<div class="how-to-buy__item i2">
			<div class="how-to-buy__item-content">
				<i class="how-to-buy__bg-num hidden_mob">2</i>
				<i class="how-to-buy__bg-num hidden_desk-tabl">2 шаг</i>
				<div class="icon icon_alarm-clock how-to-buy__icon"></div>
				<span class="how-to-buy__header">Назначьте удобное время для замера</span>
				<span class="how-to-buy__txt">Специалист приедет и&nbsp;снимет мерки</span>
			</div>
		</div>
		<div class="how-to-buy__item i3">
			<div class="how-to-buy__item-content">
				<i class="how-to-buy__bg-num hidden_mob">3</i>
				<i class="how-to-buy__bg-num hidden_desk-tabl">3 шаг</i>
				<div class="icon icon_document how-to-buy__icon"></div>
				<span class="how-to-buy__header">Заключите<br>договор</span>
				<span class="how-to-buy__txt">Дома после замера,<br>или в&nbsp;салоне</span>
			</div>
		</div>
		<div class="item-break hidden_desk hidden_mob"></div>
		<div class="how-to-buy__item i4">
			<div class="how-to-buy__item-content">
				<i class="how-to-buy__bg-num hidden_mob">4</i>
				<i class="how-to-buy__bg-num hidden_desk-tabl">4 шаг</i>
				<div class="icon icon_delivery how-to-buy__icon"></div>
				<span class="how-to-buy__header">Ждите доставку и&nbsp;установку</span>
				<span class="how-to-buy__txt">Для дверей в наличии &mdash; от&nbsp;3-х дней</span>
			</div>
		</div>
		<div class="how-to-buy__item i5">
			<div class="how-to-buy__item-content">
				<i class="how-to-buy__bg-num hidden_mob">5</i>
				<i class="how-to-buy__bg-num hidden_desk-tabl">5 шаг</i>
				<div class="icon icon_shield how-to-buy__icon"></div>
				<span class="how-to-buy__header"><a href="#">Примите<br>работу</a></span>
				<span class="how-to-buy__txt">Понравилось?<br>Расскажите&nbsp;об&nbsp;этом!</span>
			</div>
		</div>
	</div>
</section>