@import "../../style/parts/_vars-mixins.scss";
.recently-slider {
    &__container {}
    &__header {
        margin: 0 0 50px;
        text-align: center;
    }
    &__container {}
    &__picture,
    &__title,
    &__description {
        width: 111px;
        margin: 0 auto;
    }
    &__picture {
        padding: 15px 0;
        img {
            transition: .3s;
        }
        &:hover {
            img {
                box-shadow: 0 0 15px -1 rgba(0,0,0,.4);
                transform: scale(1.02);
                transition: .3s;
            }
        }
    }
    &__title {
        font-family: $LitteraBold;
    }
    &__description {}
}