<div class="recently-slider__container">
    <h3 class="recently-slider__header">Недавно <span class="red">просмотренные</span></h3>
    <div class="recently-slider js-recently-slider black-arrow">
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">СТЕЛ 07</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">SNEGIR</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">SUPER OMEGA</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">ULTIMATUM</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">SNEGIR</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">СТЕЛ 07</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">SNEGIR</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">SUPER OMEGA</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">ULTIMATUM</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">SNEGIR</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">ULTIMATUM</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
        <div class="recently-slider__container">
            <div class="recently-slider__picture"><img src="./images/door-example.jpg" alt=""></div>
            <div class="recently-slider__title">SNEGIR</div>
            <div class="recently-slider__description">Раздел</div>
        </div>
    </div>
</div>