.callback-section {
	margin: 140px auto 170px;
}
.page-series .callback-section {
	@include mobile {
		display: none;
	}
}
.consultation-form{
	display:block;
	max-width: 400px;
	margin: 0 auto;
	&__inner{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__title{
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
		font-size: 22px; 
		// font-family: 'Proxima Nova';
		font-weight: bold;
		color: $accent_color;
	}
	&__input{
		width: 100%;
		border: none;
		// font: 16px 'Proxima Nova Lt';
		font-weight: 300;
		border-bottom: 1px solid #babcba;
		line-height: 3em;
	    box-sizing: border-box;
	    outline: none;
	    @include placeholder {
	    	color: #babcba;
	    }
	    &:focus {
	    	border-color: $red;
	    }
	    &.incorrect {
	    	border-color: red;
	    }
	    &.is-valid {
	    	border-color: green;
	    }
	}
	&__btn{
		margin: 70px auto 0 auto;	
		width: auto;
	}	
}
.field{
	margin: 10px 0;
}

@include tablet {
	.consultation-form{
		display: none;
	}
}