<form action="" class="consultation-form form js-validation">
	<div class="consultation-form__inner">
		<h4 class="consultation-form__title">Необходима консультация?</h4>
		<div class="field">
			<input type="text"  name="name" class="consultation-form__input" placeholder="Ваше имя" required>
		</div>		
		<div class="field">
			<input type="text" name="phone"  class="consultation-form__input" placeholder="Ваш телефон" required>
		</div>
		<input type="submit" class="btn btn_fullwidth consultation-form__btn" value="Отправить">
	</div>
</form>