<div class="configurator_opts content-active" id="configurator_opts_outside">
	<span class="configurator__title">Цвет отделки снаружи:</span>
	<div class="configurator__color-wrap shadow">
		<div class="configurator__slider configurator__slider_color" data-slider="configurator__slider">
			<div class="configurator__slide">
				<div class="configurator__color-item color-active" data-color="color01"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__color-item" data-color="color02"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__color-item" data-color="color01"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__color-item" data-color="color02"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__color-item" data-color="color01"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__color-item" data-color="color02"></div>
			</div>
		</div>
	</div>
	<span class="configurator__title">Рисунок отделки снаружи:</span>
	<div class="configurator__texture-wrap shadow">
		<div class="configurator__slider configurator__slider_texture" data-slider="configurator__slider">
			<div class="configurator__slide">
				<div class="configurator__texture-item texture-active" data-texture="texture01"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__texture-item" data-texture="texture02"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__texture-item" data-texture="texture01"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__texture-item" data-texture="texture02"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__texture-item" data-texture="texture01"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__texture-item" data-texture="texture02"></div>
			</div>
			<div class="configurator__slide">
				<div class="configurator__texture-item" data-texture="texture01"></div>
			</div>

		</div>
	</div>
</div>