<section class="door-configurator content-width">
	<h2 class="door-configurator__title section-title"><span class="text_red">Конструктор</span><br>дверей</h2>
	<div class="door-configurator__content">
		<div class="door-configurator__content_left">
				<div class="configurator__tabs">
					<div class="configurator__tabs-row shadow" id="configurator_cottage-flat">
						<div class="configurator__tab tab-inactive" data-place="cottage" data-image-out="images/configurator-doors/door--place_cottage--side_out--color_color01--texture_texture01.png" data-place="cottage" data-image-in="images/configurator-doors/door--place_cottage--side_in--color_color01--texture_texture01.png">в&nbsp;дом</div>
						<div class="configurator__tab tab-active" data-place="flat" data-image-out="images/configurator-doors/door--place_flat--side_out--color_color01--texture_texture01.png" data-place="flat" data-image-in="images/configurator-doors/door--place_flat--side_in--color_color01--texture_texture01.png">в&nbsp;квартиру</div>
					</div>
					<div class="configurator__tabs-row shadow" id="configurator_out-in">
						<div class="configurator__tab tab-active" data-side="out" data-content="configurator_opts_outside">снаружи</div>
						<div class="configurator__tab tab-inactive" data-side="in" data-content="configurator_opts_inside">внутри</div>
					</div>
				</div>
				@@include("configurator_opts_outside.html")
				@@include("configurator_opts_inside.html")
			<div class="btn-holder">
				<a href="https://torex.ru/configurator-doors/" target="_blank" class="configurator__btn btn">Больше параметров</a>
				<span class="configurator__btn btn btn_red" data-fancybox data-src="#call-master">Вызвать замерщика</span>
			</div>
		</div>
		<div class="door-configurator__content_right">
			<div class="configurator__info">
				<div class="configurator__info_model" id="configurator_model">Ultimatum NEXT</div>
				<div class="configurator__info_price">Цена от <span id="configurator_price">43 455</span>&nbsp;&#8381;</div>
			</div>
			<div class="configurator__preview">
				<div class="configurator__image configurator__image-outside image-active">
					<img src="images/configurator-doors/door--place_flat--side_out--color_color01--texture_texture01.png" id="image-outside" alt="">
				</div>
				<div class="configurator__image configurator__image-inside">
					<img src="images/configurator-doors/door--place_flat--side_in--color_color01--texture_texture01.png" id="image-inside" alt="">
				</div>

			</div>
		</div>
	</div>
</section>