@import "../../style/parts/_vars-mixins.scss";
.door-configurator {
	&__wrap {
		&_frontpage{
			margin-bottom: 170px;
			@include desktop {
			position: relative;
				&:before {
					content: "";
					width: 235px;
					height: 900px;
					display: block;
					background: url("../../images/bg-gray-round-right-half.png") center no-repeat;
					position: absolute;
					top: -350px;
					left: 0;
					z-index: 0;
				}
			}
			@include tablet {
				margin-bottom: 85px;
			}
		}
		//other pages go here
	}//wrap
	
	position: relative;
	&__title {
		margin-bottom: 82px;
	}
	&__content {
		@include default-flex;
		position: relative;
		z-index: 20;
		&_left {
			flex: 0 0 450px;
			position: relative;
		}
		&_right {
			flex: 0 0 750px;
		}
		@include tablet {
			&_left, &_right {
				flex: 0 0 100%;
			}
			&_left {
				margin-bottom: 65px
			}
		}
	}
}
//slider arrows are in slick-theme-customized.scss
.configurator {
	&_opts {
		overflow: hidden;
		opacity: 0;
		height: 0;
		transition: .5s opacity ease-in;
		&.content-active {
			opacity: 1;
			height: auto;
		}
	}
	&__tabs {
		margin-bottom: 20px
	}
	&__tabs-row {
		display: flex;
		flex-flow: row nowrap;
		&:first-child {
			margin-bottom: 22px
		}
	}
	&__tab {
		flex: 0 0 50%;
		text-align: center;
		color: #7a7a7a;
		font-size: 16px;
		text-transform: uppercase;
		@include bold;
		padding: 22px 0;
		cursor: pointer;
		background: $gray;
		transition: .3s all ease-in;
		&.tab-active {
			color: #000;
			background: #fff;
			cursor: default;
			&:hover {
				color: #000;
				background: #fff;
			}
		}
		&:hover {
			color: #000;
			background: #fbfcfc;
		}
	}

	&__title {
		display: inline-block;
		font-size: 22px;
		color: #7a7a7a;
		margin-bottom: 15px
	}
	&__slider {
		width: 390px;
		&_color {
			.configurator__slide {
				padding-top: 22px;
				padding-bottom: 22px;
			}
		}
		&_texture {
			.configurator__slide {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
	&__slide {
		text-align: center;
		outline: none;
	}
	&__color-wrap {
		@include shadow;
		padding: 0 30px;
		margin-bottom: 45px;
		height: 88px;
		overflow: hidden;
	}
	&__color-item {
		display: inline-block;
		width: 40px;
		height: 40px;
		border: 3px solid #fff;
		border-radius: 50%;
		cursor: pointer;
		box-shadow: 5px 5px 40px -12px;
		&.color-active {border: 3px solid $red;}
	}
	&__texture-wrap {
		padding: 0 30px;
		margin-bottom: 40px;
		height: 95px;
		overflow: hidden;
	}
	&__texture-item {
		display: inline-block;
		width: 40px;
		height: 70px;
		border: 3px solid #fff;
		border-radius: 3px;
		cursor: pointer;
		box-shadow: 5px 5px 40px -12px;
		&.texture-active {border: 3px solid $red;}
	}
	&__btn {
		width: 100%;
		padding: 13px 40px;
		&:first-child {
			margin-bottom: 30px
		}
	}
	&__info {
		position: absolute;
		top: 0;
		right: 0;
		width: 250px;
		&_model {
			font-size: 24px;
			@include bold;
			margin-bottom: 10px;
		}
		&_price {
			font-size: 22px;
			color: $red;
		}
	}
	&__preview {
		position: relative;
		height: 700px;
	}
	&__image {
		position: absolute;
		bottom: 0;
		left: 100px;
		width: 260px;
		height: 540px;
		filter: blur(5px);
		transform: scale(0.8) translateX(500px);
		transition: .6s all ease-in;
		img {width: 100%;}
		&.image-active {
			width: 343px;
			height: 697px;
			position: relative;
			top: 0;
			left: 80px;
			bottom: auto;
			filter: none;
			transform: none;
			&:after {
				bottom: 30px;
			}
		}
		//bad shadow?
		&:after {
			content: "";
			width: 100%;
			height: 30px;
			position: absolute;
			bottom: 45px;
			box-shadow: 17px 40px 60px -7px rgba(0,0,0, .7);
		}
	}
	// &__image-outside:before {
	// 	content: "--OUTSIDE--";
	// 	position: absolute;
	// 	left: 30px;
	// 	top: 30px;
	// 	color: red;
	// 	font-size: 25px;
	// }
	// &__image-inside:before {
	// 	content: "--INSIDE--";
	// 	position: absolute;
	// 	left: 30px;
	// 	top: 30px;
	// 	color: orange;
	// 	font-size: 25px;
	// }


}

//sample colors, remove in production
div[data-color="color01"] {
	background: #6c5745;
}
div[data-color="color02"] {
	background: #eceae8
}

div[data-texture="texture01"] {
	background: url("../../images/configurator-doors/texture01.png") center/cover no-repeat;
}
div[data-texture="texture02"] {
	background: url("../../images/configurator-doors/texture02.png") center/cover no-repeat;
}