<section class="top-slider">
	<span class="loading"></span>
	<div class="top-slider__slider">
		<div class="top-slider__slide item image">
			<div class="full-width top-slider__content">
				<div class="top-slider__content_left">
					<div class="top-slider__left-txt">
						<div class="bounce">
							<h1 class="text_red">Новинка Завода Стальных<br>Дверей Torex &mdash; дверь Ultimatum&nbsp;M</h1>
							<p class="top-slider__subtitle text_size26">Защитись красиво!</p>
							<p class="top-slider__txt">Украсит Ваш дом, и вызовет восхищение гостей!<br>Почему, спросите Вы?</p>
							<a href="#" class="top-slider__btn btn">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="top-slider__content_right">
					<div class="slide-image slide-media" style="background-image:url('images/top-slider__slide-01.jpg');">
						<img data-lazy="images/top-slider__slide-01.jpg" class="image-entity" />
					</div>
				</div>
			</div>
		</div>
		<div class="top-slider__slide item image">
			<div class="full-width top-slider__content">
				<div class="top-slider__content_left">
					<div class="top-slider__left-txt">
						<div class="bounce">
							<h1 class="text_red">Новинка Завода Стальных<br>Дверей Torex &mdash; дверь Ultumate&nbsp;X</h1>
							<p class="top-slider__subtitle text_size26">Защитись красиво! И отгородись ото всех!</p>
							<p class="top-slider__txt">Украсит Ваш дом, и вызовет восхищение гостей!</p>
							<a href="#" class="top-slider__btn btn">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="top-slider__content_right">
					<div class="slide-image slide-media" style="background-image:url('images/top-slider__slide-02.jpg');">
						<img data-lazy="images/top-slider__slide-02.jpg" class="image-entity" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>