@import "../../style/parts/_vars-mixins.scss";

.top-slider {
	&__wrap {
		&_frontpage {
			margin-bottom: 160px;
			@include tablet-mobile {
				margin-bottom: 65px;
			}
		}
		//other pages go here
	}//wrap
	position: relative;
	z-index: 20;
	background: linear-gradient(to bottom, #e7e7e7 1%, #f4f4f4 10%);
	&:before {
		content: "";
		background: url(../../images/bg-torex.png) center/90% no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

	}
	&__slider {
		height: 600px;
		position: relative;
	}
	&__content {
		display: flex;
		justify-content: space-around;
		height: 600px;
		position: relative;
		&_left {
			flex: 1;
		}
		&_right {
			overflow: hidden;
			flex: 1;
			img {height: 100%;}

		}
		@include tablet {
			display: block;
			&_left {
				position: relative;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.7);
				z-index: 10
			}
			&_right {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				z-index: 1;
				img {width: 100%; height: auto;}
			}
		}
	}
	&__left-txt {
		width: 90%;
		max-width: 520px;
		float: right;
		margin-right: 2%;
		padding-top: 100px;
		@include tablet {
			width: 500px;
			float: none;
			margin: 0 auto;
			padding-top: 70px;
			color: #fff;
			h1 {color: #fff;}
		}
	}
	&__subtitle {
		margin-bottom: 25px;
		@include tablet {
			margin-top: 30px
		}
	}
	&__txt {
		font-size: 22px;
		@include light;
	}
	&__btn {
		margin-top: 37px;
		padding: 13px 70px;
		@include tablet {
			margin-top: 30px;
			border: 1px solid #fff;
			color: #fff;
			&:hover,&:active {border: 1px solid $red;}
		}
	}
	&__dots {
		position: relative;
		@include content-width;
		margin-top: -55px;
		padding-left: 65px;
		z-index: 999;
		li {float: left;}
	}
}
//slider effects
%bv_hidden {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.top-slider {
	&.inited .loading {display: none;}
	&__slider {
		opacity: 0;
		visibility: hidden;
		transition:all 1.2s ease;
		&.slick-initialized {
			opacity: 1;
			visibility: visible;
		}
		.slick-prev {
			top: 275px;
			left: 1%;
			@include tablet {
				left: 7%;
			}
		}
		.slick-next {
			top: 275px;
			right: 1%;
			@include tablet {
				right: 7%;
			}
		}
		.slick-slide {
			position: relative;
			@extend %bv_hidden;
			&::before {
				@extend %bv_hidden;
				opacity: .3;
				z-index: 1;
			}
			.slide-image {
				opacity: 0;
				height: 100%;
				background-size: cover;
				background-position: center;
				transition:all .8s ease;
				&.show {
					opacity: 1;
				}
			}
			.image-entity {
				width: 100%;
				opacity: 0;
				visibility: hidden;
			}
			.slide-media {
				animation:slideOut .4s cubic-bezier(0.4, 0.29, 0.01, 1);
			}
			&.slick-active {
				z-index: 1;
				.slide-media {
					animation:slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
				}
				.bounce {
					opacity: 1;
					transform:translateY(0);
					transition:all .7s cubic-bezier(0.32, 0.34, 0, 1.62) .6s;
				}
			}
		}
		.bounce {
			opacity: 0;
			z-index: 1;
			transition:all .3s ease;
			transform:translateY(100px);
			@extend %bv_hidden;
		}
		.bounce-arrow {
			opacity: 0;
			z-index: 1;
			transition:all .6s ease;
			transform:translateY(400px);
			@extend %bv_hidden;
			@include tablet {
				transform:translateY(300px);
			}
		}

	}


}
@keyframes slideIn {
	from {
		filter:blur(15px);
	}
	to {
		filter:blur(0);
	}
}
@keyframes slideOut {
	from {
		filter:blur(0);
	}
	to {
		filter:blur(15px);
	}
}

@keyframes disappear {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

