<div class="filter-card m-b-m">
    <form>
        <div class="filter-card__place">
            @@include('modules/forms/checkbox.html', {
            "title":"Двери для дома",
            "id":"one",
            "class":""
            })
            @@include('modules/forms/checkbox.html', {
            "title":"Двери для квартиры",
            "id":"two",
            "class":""
            })
        </div>
    </form>
</div>