.door-card {
	background: $mid-gray;
	padding: 55px 0;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 15px 26px 62px 0 rgba(#000, 0.1);
	margin-top: 50px;
	&s {
		margin-top: -50px;
	}
	&-left{
		padding-left: 505px;
		padding-right: 150px;
	}
	&-right{
		padding-right: 505px;
		padding-left: 150px;
		.door-card__img-inner:before {
			background: -moz-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* ff3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(244,244,244,1)), color-stop(100%, rgba(244,244,244,0))); /* safari4+,chrome */
			background: -webkit-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* safari5.1+,chrome10+ */
			background: -o-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* opera 11.10+ */
			background: -ms-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* ie10+ */
			background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* w3c */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4',GradientType=1 ); /* ie6-9 */
			right: auto;
			left: 0;
		}
	}

	&__inner{
		position: static;
	}
	&__header{
		width: 100%;
		border-bottom: 2px solid #c3c3c3;
		margin-bottom: 15px;
		border-image: linear-gradient(to right, #c3c3c3 70%, transparent 100%);
		border-image-slice: 1;
		letter-spacing: -0.02em;
		transition: .3s;
		position: relative;
	}
	&__title{
		font-weight: bold;
		font-size: 42px;
		margin-bottom: 0;
	}
	&__price{
		margin-top: -2px;
		margin-bottom: 16px;
		font-weight: bold;
		font-size: 20px;
		font-weight: bold;
		color: $accent-color;
	}
	&__text{
		font-weight: 300;
		display: block;
		margin-bottom: 45px;
		color: #333333;
		font-size: 20px;
	}
	
	&__content{
		position: static;
	}
	&__img{
		position: absolute;
		top: 0;
		height: 100%;
		width: 350px;
		&-inner{
			background-image: url(../img/door1.jpg);
			display: block;
			height: 100%;
		    background-size: cover;
			width: 100%;
			&:before {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 110px;
				z-index: 1;
				background: -moz-linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* ff3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(244,244,244,0)), color-stop(100%, rgba(244,244,244,1))); /* safari4+,chrome */
				background: -webkit-linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* safari5.1+,chrome10+ */
				background: -o-linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* opera 11.10+ */
				background: -ms-linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* ie10+ */
				background: linear-gradient(270deg, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%); /* w3c */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4',GradientType=1 ); /* ie6-9 */

			}
		}
	}

	&-left .door-card__img {
		left: 0;
	}

	&-right .door-card__img {
		right: 0;
	}

	&__btn {
		margin-bottom: 15px;
		font-size: 16px;
	}
}

.open_arrow{
	display: none;
}

.door-cards_section {
	.tabs-block-wrap {
		padding: 60px 0 80px;
	}
}

@include tablet {
	.door-card {
		margin-top: 35px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.door-card-left {
		padding-left: 370px;
		padding-right: 20px;
	}

	.door-card-right{
		padding-right: 370px;
		padding-left: 20px;
		
	}
	.door-card__title {
		font-size: 36px;
	}
	.door-card__btn {
	    padding: 10px 25px;
	    font-size: 16px;
	}
	.door-card__text {
		margin-bottom: 20px;
		font-size: 16px;
	}
}

@include mobile {
	.door-cards_section {
		.tabs-block-wrap {
			padding: 40px 0 60px;
		}
	}
	.door-cards {
		margin-top: 0;
	}
	.door-card__btn {
	    padding: 14px 25px;
	    font-size: 16px;
	    display: block;
	    max-width: 237px;
	    margin: 0 auto 10px;
	}
	.door-card{
		box-shadow: none;
		background: #fff;
		margin: 0;
		padding: 0;
		line-height: 1.2;
		letter-spacing: -0.06em;
		margin-top: 6px;
	}
	.door-card__header{
		padding-right: 60px;
		margin-top: 20px;
		margin-left: 10px;
		cursor: pointer;
	}
	.door-card__title{
		font-size: 24px;
		margin-bottom: 3px;
		margin-top: -6px;
	}
	.door-card__price{
		margin-bottom: 14px;
	}

	.door-card__img{
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		width: 100%;
		height: auto;
	}
	.door-card__img-inner{
		height: 305px;
	    background-position: center;
		&:before {
			display: none;
		}
	}
	.open_arrow{
		display: block;
		position: relative;
		height: 0px;
		width: 0px;
		background: #000;
		position: absolute;
		bottom: 30px;
		right: 50px;
		border-radius: 50px;
		// transform: rotate(125deg);
	}
	.open_arrow:before{
		position: absolute;
		content: "";
		display: block;
		height: 16px;
		width: 3px;
		left: -5px;
		background: #000;
		border-radius: 50px;
		background: #000;
		transform: rotate(135deg);
		transition: 0.3s;
	}
	.open_arrow:after{
		position: absolute;
		content: "";
		display: block;
		height: 16px;
		width: 3px;
		left: 5px;
		background: #000;
		border-radius: 50px;
		background: #000;
		transform: rotate(-135deg);
		transition: 0.3s;
	}
	.active > .open_arrow:before{
		transform: rotate(45deg);
		transition: 0.3s;
	}
	.active > .open_arrow:after{
		transform: rotate(-45deg);
		transition: 0.3s;
	}


	.door-card-left{
		padding-left: 15px;
		padding-right: 15px;	
	}
	.door-card-right{
		padding-right: 15px;
		padding-left: 15px;
		
	}
	.door-card__content{
		background: $mid-gray;
		display: none;
		padding-bottom: 15px;
		border-radius: 10px 10px 0 0px;
	}
	.door-card__header.active{
		border-color: transparent;
		border-image: none;
	
	}
	.door-card__text{
		padding: 15px;
		margin-bottom: 10px;
		font-size: 19px;
	}

}

.page-series {
	.callback-section {
		@include tablet {
			display: none;
		}
	}
}