<section class="door-cards_section js-parent">
	<div class="content-width">
		<div class="tabs js-tabs">
			<div class="tabs-links">
				<a href="#" class="tab-link js-tab-link active" data-tab="tab1"><span class ="sm-novisible">Двери</span> для частного дома</a>
				<a href="#" class="tab-link js-tab-link"  data-tab="tab2"><span class ="sm-novisible">Двери</span> для квартиры</a>
			</div>
			<div class="tabs-block-wrap">
				<div class="tab-block visible js-tab-block" data-tab="tab1">
					<div class="door-cards">					
						@@loop('series-card.html', [
							{
								"class": "door-card-left",
								"title": "SUPER OMEGA-10",
								"price": "цена от 35 000 р",
								"text": "Super Omega 10 – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной  и повышенной функциональностью. Флагман серии – модель Super Omega 10 MAX.",
								"door_nomber": "door4",
								"img" : "./images/series/1.jpg"
							},
							{
								"class": "door-card-right",
								"title": "SUPER OMEGA-11",
								"price": "цена от 35 000 р",
								"text": "Super Omega 10 – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной  и повышенной функциональностью. Флагман серии – модель Super Omega 10 MAX.",
								"door_nomber": "door4",
								"img" : "./images/series/2.jpg"
							},
							{
								"class": "door-card-left",
								"title": "SUPER OMEGA-10",
								"price": "цена от 35 000 р",
								"text": "Super Omega 10 – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной  и повышенной функциональностью. Флагман серии – модель Super Omega 10 MAX.",
								"door_nomber": "door4",
								"img" : "./images/series/4.jpg"
							},
							{
								"class": "door-card-right",
								"title": "SUPER OMEGA-11",
								"price": "цена от 35 000 р",
								"text": "Super Omega 10 – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной  и повышенной функциональностью. Флагман серии – модель Super Omega 10 MAX.",
								"door_nomber": "door4",
								"img" : "./images/series/5.jpg"
							}
						])
					</div>
				</div>
				<div class="tab-block js-tab-block" data-tab="tab2">
					<div class="door-cards">	
						@@loop('series-card.html', [
							{
								"class": "door-card-right",
								"title": "SUPER OMEGA-11",
								"price": "цена от 35 000 р",
								"text": "Super Omega 10 – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной  и повышенной функциональностью. Флагман серии – модель Super Omega 10 MAX.",
								"door_nomber": "door4",
								"img" : "./images/series/стел.png"
							}
						])
					</div>
				</div>
			</div>
		</div>
	</div>
</section>