<div class="door-card @@class">
	<div class="door-card__inner">
		<div class="door-card__header js-only-mobile js-dropdown">
			<h3 class="door-card__title">@@title</h3>
			<div class="door-card__price">@@price</div>
			<div class="open_arrow"></div>
		</div>
		<div class="door-card__content js-only-mobile">
			<div class="door-card__img"><a href="#" class="door-card__img-inner" style="background-image: url(@@img);"></a></div>
			<p class="door-card__text">@@text</p>
			<a href="#" class="btn door-card__btn">Смотреть серию</a>
		</div>
	</div>
</div>