@import "../../style/parts/_vars-mixins.scss";
#shops-map {
	width: 100%;
	height: 480px;
}
.fancybox-content {
	padding: 0;
	background: transparent;
	overflow: hidden;
	img {max-width: 100%;}

}
.shops-map {
	&__wrap {
		&_frontpage{
			margin-bottom: 105px;
			@include desktop {
				position: relative;
				&:before {
					content: "";
					width: 235px;
					height: 900px;
					display: block;
					background: url("../../images/bg-gray-round-right-half.png") center no-repeat;
					position: absolute;
					top: 20px;
					left: 0;
					z-index: 0;
				}
			}
			@include tablet {
				margin-bottom: 75px;
			}
			@include mobile {
				margin-bottom: 65px;
			}
		}
		//other pages go here
	}//wrap
	position: relative;
	// outline: 1px solid violet;
	&__balloon {color: blue;}
	&__balloon-content{
		outline: 1px solid red;
		margin: 0 10px;
	}
	&__balloon-item {margin-bottom: 5px;}
	&__map-point { //.shops-map__map-point
		width: 20px;
		height: 20px;
		background: $red;
		border-radius: 50%;
		&:hover { //fail
			width: 30px;
			height: 30px;
		}
	}



}
.shop-nearby {
	&__title {
		margin-bottom: 52px;
		@include tablet {
			margin-bottom: 45px;
		}
		@include mobile {
			margin-bottom: 0;
		}
	}
	&__content {
		display: flex;
		justify-content: space-around;
		min-height: 480px;
		position: relative;
		&_left {
			height: 100%;
			flex: 1;
			background: url("../../images/shop-nearby__img_left.jpg") center/cover no-repeat;
		}
		&_right {
			display: block;
			background: url("../../images/shop-nearby__img_right.jpg") center/cover no-repeat;
			background-size: cover;
			flex: 1;
			img {height: 100%;}

		}
		@include tablet-mobile {
			display: block;
			min-height: auto;
			&_left {
				position: relative;
				width: 100%;
				padding-bottom: 15px;
				background: rgba(0,0,0,0.6);
				z-index: 10
			}
			&_right {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				z-index: 1;
				img {height: 100%; width: auto;}
			}
		}
	}//content
	&__left-txt {
		width: 85%;
		max-width: 515px;
		margin-top: 55px;
		float: right;
		@include tablet {
			@include content-width_tabl;
			max-width: initial;
			float: none;
			padding-top: 70px;
			color: #fff;
			a {color: #fff;}
		}
		@include mobile {
			width: 100%;
			max-width: 366px;
			margin: 45px auto 0;
			padding-left: 15px;
			padding-right: 15px;
			float: none;
			padding-top: 50px;
			color: #fff;
			a {color: #fff;}

		}
		a {text-decoration: none;
			&:hover {text-decoration: underline};}
		&_header {
			font-size: 32px;
			@include tablet-mobile {
				font-size: 28px;
			}
			@include smallest-mobile {
				font-size: 25px;
			}
		}
	}
	&__selected-shop {
		margin: 22px 0 15px 30px;
		@include mobile {
			margin: 22px 0 0 15px;
		}
		@include smallest-mobile {
			margin: 20px 0 0 0;
		}

	}
	&__item {
		padding-left: 30px;
		margin-bottom: 20px;
		&.icon:before {
			width: 18px;
			height: 16px;
			left: 0;
			top: 5px;
		}
		&_phone {white-space: nowrap;}
		&_hours {margin-bottom: 0;}
		&_break {opacity: .7;}
		&_photos {
			margin-left: 30px;
			padding-left: 0;
			margin-top: 20px;
		}
		@include mobile {
			margin-bottom: 15px
		}

	}
	&__btn {
		clear: both;
		margin-top: 15px; 
		margin-left: -30px;
		padding: 13px 28px;
		&:hover {text-decoration: none !important}
		@include tablet-mobile {
			margin-top: 5px; 
			border: 1px solid #fff;
			color: #fff;
			&:hover {
				border: 1px solid $red;
			}
		}
		@include smallest-mobile {
			margin-left: 0;
		}
	}
}