<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=0eeaebda-46ab-4a14-9f9c-5468c5d6c455" type="text/javascript"></script>
<section class="shops-map">
	<div id="shops-map">
		<span class="shops-map__loading loading"></span>
	</div>
</section>