<div class="shop-nearby-change">
	<section class="shop-nearby">
		<div class="content-width">
			<h2 class="shop-nearby__title section-title">Магазины <span class="text_red">Torex </span><br>в вашем <span class="text_red">городе</span></h2>
		</div>
		<div class="full-width shop-nearby__content ">
				<div class="shop-nearby__content_left">
					<div class="shop-nearby__left-txt">
						<div class="shop-nearby__left-txt_header hidden_tabl-mob">Выбранный магазин</div>
						<div class="shop-nearby__left-txt_header hidden_desk">Ближайший к Вам салон</div>
						<div class="shop-nearby__selected-shop" id="selected-shop">
							<div class="shop-nearby__item text_size20 icon icon_map-point" id="selected-shop_address">Москва, Юбилейный пр-т, 61</div>
							<div class="shop-nearby__item shop-nearby__item_phone text_size20 icon icon_phone" id="selected-shop_phone"><a href="tel:+78001004505">8 800 100 45 05</a></div>
							<div class="shop-nearby__item shop-nearby__item_hours text_size20 icon icon_hours" id="selected-shop_hours">10:00 - 18:00</div>
							<div class="shop-nearby__item shop-nearby__item_break text_size18 text_light" id="selected-shop_break">(без выходных и обеда)</div>
							<div class="shop-nearby__item shop-nearby__item_web text_size20 icon icon_web"><a href="#" target="_blank">www.torex.ru</a></div>
							<div class="shop-nearby__item shop-nearby__item_photos text_size18" ><span id="shop-photos" class="underline" data-fancybox-trigger="gallery0">Смотреть фото</span></div>
							<a href="#" class="shop-nearby__btn btn">Еще 88 точек продаж</a>
						</div>
					</div>
				</div>
				<a href="images/shop-nearby__img_right.jpg" data-fancybox="gallery0" class="shop-nearby__content_right" style="background-image: url(images/shop-nearby__img_right.jpg)"></a>
			</div>
		<div class="popup-container">
			<img src="images/shop-photos/russia-moscow/moscow-leningradskoe/moscow-leningradskoe-01.jpg" alt="" data-fancybox="gallery0">
			<img src="images/shop-photos/russia-moscow/moscow-leningradskoe/moscow-leningradskoe-02.jpg" alt="" data-fancybox="gallery0">
			<!-- <a href="images/shop-photos/russia-moscow/moscow-leningradskoe/moscow-leningradskoe-01.jpg" data-fancybox="images-preview" data-thumb=""></a>-->
			<!-- <div class="shop-nearby__popup popup" id="shop-photos">
				<div class="shop-nearby__slider">
					<div class="shop-nearby__slider-item">1</div>
					<div class="shop-nearby__slider-item">2</div>
					<div class="shop-nearby__slider-item">3</div>
				</div>
			</div> -->
		</div>
	</section>
</div>
