@import "../../style/parts/_vars-mixins.scss";

.dropdown-menu {
    background-color: $mid-gray;
    margin-bottom: 30px;
    padding: 0 10px;
    border-radius: 5px;
    overflow: hidden;
    &__header {
        position: relative;
        padding: 10px 0 5px;
        width: 100%;
        border-color: $dark-gray;
        letter-spacing: -1px;
        transition: .3s;
        cursor: pointer;
        h3 {
            margin: 0;
            padding: 0 15px;
        }
        &.active {
            border-bottom: 1px solid $dark-gray;
            .open_arrow {
                &:before {
                    transform: rotate(-135deg);
                    transition: .3s;
                }
                &:after {
                    transform: rotate(135deg);
                    transition: .3s;
                }
            }
        }
    }
    &__title {}
    &__content {
        display: none;
        padding: 0 0 1px;
    }
    &__checkbox {
        position: relative;
        margin: 10px 0;
        padding: 0 45px 0 15px;
    }
    &__label {
        cursor: pointer;
    }
    &__input {
        position: absolute;
        left: -9999px;
        width: 10px;
        height: 10px;
        &:checked {
            & + label {
                color: #c2292b;
                font-style: normal;
            }
        }
    }
    &__count {
        position: absolute;
        right: 0;
        padding: 0 0 0 5px;
        top: 50%;
        width: 45px;
        height: 20px;
        line-height: 22px;
        font-size: $LitteraBold;
        color: #c42426;
        transform: translateY(-50%);
    }
    .open_arrow {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        height: 7px;
        width: 7px;
        transform: translateY(-50%);
        background-color: transparent;
        &:before,
        &:after {
            position: absolute;
            content: "";
            display: block;
            height: 7px;
            width: 3px;
            border-radius: 50px;
            background: $deep-gray;
            -webkit-transition: .3s;
            transition: .3s;
        }
        &:before {
            transform: rotate(-45deg);
            left: -2px;
        }
        &:after {
            transform: rotate(45deg);
            left: 2px;
        }
        .dropdown-menu__header {
            margin-bottom: 10px;
        }
    }
}