<div class="dropdown-menu">
    <div class="dropdown-menu__header js-dropdown @@if(context.status){@@status}">
        <h3 class="dropdown-menu__title">@@title</h3>
        <div class="dropdown-menu__arrow open_arrow"></div>
    </div>
    <div class="dropdown-menu__content" @@if(context.open && open === true){style="display: block"}>
        @@for (var i = 0; i < context.array.length; i++) {
        <div class="dropdown-menu__checkbox">
            <input class="dropdown-menu__input" type="checkbox" id="@@group-`+ (+i+1) +`">
            <label class="dropdown-menu__label" for="@@group-`+ (+i+1) +`">`+array[i].label+`</label>
            <div class="dropdown-menu__count">`+array[i].count+`</div>
        </div>
        }
    </div>
</div>