@import "../../style/parts/_vars-mixins.scss";

.progress {
    position: relative;
    overflow: hidden;
    progress {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        left: -777px;
        border-radius: 0;
    }
    &-bg {
        background: #e6e9ed;
        position: relative;
        height: 2px;
        overflow: hidden;
    }
    &-bar {
        overflow: hidden;
        background: $accent-color;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        transition: width 1s linear;
    }
}
@for $i from 0 through 100 {
    .progress progress[value="#{$i}"] {
        & ~ .progress-bg .progress-bar { width: $i * 1% }
    }
}