<section class="door-categories">
	<div class="content-width">
	<h2 class="section-title">Серии<br>дверей</h2>
	<div class="door-categories__tabs-wrapper tabs-wrapper" data-widget="tabs">
	<div class="door-categories__controls tabs-wrapper__controls">
		<div class="door-categories__tab tabs-wrapper__tab tabs-wrapper__tab_active" data-target="door-categories__apartment">Для квартиры</div>
		<div class="door-categories__tab tabs-wrapper__tab" data-target="door-categories__cottage">Для частного дома</div>
	</div>
	<div class="tabs-content">
		<div class="tabs-content__item tabs-content__item_active" data-tab="door-categories__apartment">
			<div class="door-categories__section section-active">
				<div class="door-categories__header-wrap icon icon_chevron-down ">
					<h1 class="door-categories__header">Стел</h1>
					<span class="door-categories__price">цена от 35 000&#8381;</span>
				</div>
				<div class="door-categories__content">
					<img class="door-categories__img" src="images/door-categories_super-omega.jpg" alt="">
					<p class="text_size18">Стел – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной функциональностью. Флагман серии – модель Стел 100500.</p>
					<div class="btn-holder">
						<a href="#" class="door-categories__btn btn">Выбрать модель</a>
					</div>
				</div>
			</div>
			<div class="door-categories__section">
				<div class="door-categories__header-wrap icon icon_chevron-down">
					<h1 class="door-categories__header">Delta M</h1>
					<span class="door-categories__price">цена от 35 000&#8381;</span>
				</div>
				<div class="door-categories__content">
					<img class="door-categories__img" src="images/door-categories_super-omega.jpg" alt="">
					<p class="text_size18">Delta M – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной функциональностью. Флагман серии – модель Delta MMM.</p>
					<div class="btn-holder">
						<a href="#" class="door-categories__btn btn">Выбрать модель</a>
					</div>
				</div>
			</div>
			<div class="door-categories__section">
				<div class="door-categories__header-wrap icon icon_chevron-down">
					<h1 class="door-categories__header">Super Omega-7,8,9</h1>
					<span class="door-categories__price">цена от 35 000&#8381;</span>
				</div>
				<div class="door-categories__content">
					<img class="door-categories__img" src="images/door-categories_super-omega.jpg" alt="">
					<p class="text_size18">Super Omega-7,8,9 – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной функциональностью. Флагман серии – модель Super Omega 789.</p>
					<div class="btn-holder">
						<a href="#" class="door-categories__btn btn">Выбрать модель</a>
					</div>
				</div>
			</div>
			<div class="door-categories__section">
				<div class="door-categories__header-wrap icon icon_chevron-down">
					<h1 class="door-categories__header">Super Omega-10</h1>
					<span class="door-categories__price">цена от 35 000&#8381;</span>
				</div>
				<div class="door-categories__content">
					<img class="door-categories__img" src="images/door-categories_super-omega.jpg" alt="">
					<p class="text_size18">Super Omega 10 – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной функциональностью. Флагман серии – модель Super Omega 10 MAX.</p>
					<div class="btn-holder">
						<a href="#" class="door-categories__btn btn">Выбрать модель</a>
					</div>
				</div>
			</div>
		</div><!-- apartment -->
		<div class="tabs-content__item tabs-content__item_active" data-tab="door-categories__cottage">
			<div class="door-categories__section">
				<div class="door-categories__header-wrap icon icon_chevron-down">
					<h1 class="door-categories__header">Стел</h1>
					<span class="door-categories__price">цена от 35 000&#8381;</span>
				</div>
				<div class="door-categories__content">
					<img class="door-categories__img" src="images/door-categories_super-omega.jpg" alt="">
					<p class="text_size18">Стел – это двери нового поколения с инновационной технологией «Армированный теплобетон». Они обладают максимальной защитой и повышенной функциональностью. Флагман серии – модель Стел 100500.</p>
					<div class="btn-holder">
						<a href="#" class="door-categories__btn btn">Выбрать модель</a>
					</div>
				</div>
			</div>
			<!-- some more sections -->


		</div><!-- cottage -->


</div><!-- tabs-content -->
</div><!-- tabs-wrapper -->
</div>
</section>