@import "../../style/parts/_vars-mixins.scss";

//mobile version only!!

.door-categories {
	@include mobile {
		margin-bottom: 100px;

	}
	&__tabs-wrapper {
		@include mobile {
		
		}
	}
	&__controls {
		@include mobile {
		
		}
	}
	&__controls {
		@include mobile {
			margin-bottom: 40px
		}
	}
	&__tab {
		text-transform: uppercase;
		@include mobile {
		
		}
	}
	&__section {
		@include mobile {
			padding: 8px 0
		
		}

	}
	&__header-wrap {
		@include mobile {
			height: 85px;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			transition: .3s height ease-in;
			&:before {
				width: 50px;
				height: 30px;
				right: 0;
				transition: .3s all ease-in;
			};
			.section-active>&:before {
				transform: rotate(180deg);
			};
			// &.category-active+.door-categories__content {height: auto;}
		}
	}
	&__header {
		margin-bottom: 5px
	}
	&__content {
		@include mobile {
			overflow: hidden;
			height: 0;
			.section-active & {height: auto;}
		
		}

	}
	&__price {
		@include mobile {
		
		}
	}
	&__img {
		@include mobile {
		
		}
	}
	&__btn {
		@include mobile {
		
		}
	}





	
}