<div class="city-list__city-list" id="all-cities">
    <span class="city-list__avoid-break">
	<div class="city-list__letter">А</div>
    <div class="city-list__city" data-code="abaza" data-name="Абаза">Абаза</div>
    </span>
    <div class="city-list__city" data-code="abakan" data-name="Абакан">Абакан</div>
    <div class="city-list__city" data-code="abinsk" data-name="Абинск">Абинск</div>
    <div class="city-list__city" data-code="adler" data-name="Адлер">Адлер</div>
    <div class="city-list__city" data-code="Aznakaevo" data-name="Азнакаево">Азнакаево</div>
    <div class="city-list__city" data-code="azov" data-name="Азов">Азов</div>
    <div class="city-list__city" data-code="aksay" data-name="Аксай">Аксай</div>
    <div class="city-list__city" data-code="aktau" data-name="Актау">Актау</div>
    <div class="city-list__city" data-code="aktobe" data-name="Актобе">Актобе</div>
    <div class="city-list__city" data-code="Aleksandrov" data-name="Александров">Александров</div>
    <div class="city-list__city" data-code="aleksandrovskoe" data-name="Александровское">Александровское</div>
    <div class="city-list__city" data-code="aleksin" data-name="Алексин">Алексин</div>
    <div class="city-list__city" data-code="almaty" data-name="Алматы">Алматы</div>
    <div class="city-list__city" data-code="alushta" data-name="Алушта">Алушта</div>
    <div class="city-list__city" data-code="almetevsk" data-name="Альметьевск">Альметьевск</div>
    <div class="city-list__city" data-code="anapa" data-name="Анапа">Анапа</div>
    <div class="city-list__city" data-code="angarsk" data-name="Ангарск">Ангарск</div>
    <div class="city-list__city" data-code="anjero-sudjensk" data-name="Анжеро-Судженск">Анжеро-Судженск</div>
    <div class="city-list__city" data-code="apatity" data-name="Апатиты">Апатиты</div>
    <div class="city-list__city" data-code="argajah" data-name="Аргаяш">Аргаяш</div>
    <div class="city-list__city" data-code="arzamas" data-name="Арзамас">Арзамас</div>
    <div class="city-list__city" data-code="arkadak" data-name="Аркадак (Саратовская область)">Аркадак (Саратовская область)</div>
    <div class="city-list__city" data-code="armavir" data-name="Армавир">Армавир</div>
    <div class="city-list__city" data-code="artem" data-name="Артем">Артем</div>
    <div class="city-list__city" data-code="artemovskiy" data-name="Артемовский">Артемовский</div>
    <div class="city-list__city" data-code="arkhangelsk" data-name="Архангельск">Архангельск</div>
    <div class="city-list__city" data-code="asbest" data-name="Асбест">Асбест</div>
    <div class="city-list__city" data-code="astana" data-name="Астана">Астана</div>
    <div class="city-list__city" data-code="astrakhan" data-name="Астрахань">Астрахань</div>
    <div class="city-list__city" data-code="atkarsk" data-name="Аткарск (Саратовская область)">Аткарск (Саратовская область)</div>
    <div class="city-list__city" data-code="atyrau" data-name="Атырау">Атырау</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Б</div>
    <div class="city-list__city" data-code="baku" data-name="Баку">Баку</div>
    </span>
    <div class="city-list__city" data-code="balakovo" data-name="Балаково">Балаково</div>
    <div class="city-list__city" data-code="balashikha" data-name="Балашиха">Балашиха</div>
    <div class="city-list__city" data-code="balashov" data-name="Балашов">Балашов</div>
    <div class="city-list__city" data-code="baranovichi" data-name="Барановичи">Барановичи</div>
    <div class="city-list__city" data-code="barnaul" data-name="Барнаул">Барнаул</div>
    <div class="city-list__city" data-code="bezhetsk" data-name="Бежецк">Бежецк</div>
    <div class="city-list__city" data-code="belgorod" data-name="Белгород">Белгород</div>
    <div class="city-list__city" data-code="belovo" data-name="Белово">Белово</div>
    <div class="city-list__city" data-code="belozersk" data-name="Белозерск">Белозерск</div>
    <div class="city-list__city" data-code="beloretsk" data-name="Белорецк">Белорецк</div>
    <div class="city-list__city" data-code="berezniki" data-name="Березники">Березники</div>
    <div class="city-list__city" data-code="berezovskiy-sverdl" data-name="Березовский (Свердловская область)">Березовский (Свердловская область)</div>
    <div class="city-list__city" data-code="Bijsk" data-name="Бийск">Бийск</div>
    <div class="city-list__city" data-code="birobidzhan" data-name="Биробиджан">Биробиджан</div>
    <div class="city-list__city" data-code="bishkek" data-name="Бишкек">Бишкек</div>
    <div class="city-list__city" data-code="blagoveshchensk" data-name="Благовещенск">Благовещенск</div>
    <div class="city-list__city" data-code="bogorodick" data-name="Богородицк">Богородицк</div>
    <div class="city-list__city" data-code="Bogorodsk" data-name="Богородск">Богородск</div>
    <div class="city-list__city" data-code="bor" data-name="Бор">Бор</div>
    <div class="city-list__city" data-code="borovichi-vn" data-name="Боровичи">Боровичи</div>
    <div class="city-list__city" data-code="borodino" data-name="Бородино">Бородино</div>
    <div class="city-list__city" data-code="bratsk" data-name="Братск">Братск</div>
    <div class="city-list__city" data-code="brest" data-name="Брест">Брест</div>
    <div class="city-list__city" data-code="bryansk" data-name="Брянск">Брянск</div>
    <div class="city-list__city" data-code="bugulma" data-name="Бугульма">Бугульма</div>
    <div class="city-list__city" data-code="Budennovsk" data-name="Буденновск">Буденновск</div>
    <div class="city-list__city" data-code="buzuluk" data-name="Бузулук">Бузулук</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">В</div>
    <div class="city-list__city" data-code="valdai" data-name="Валдай">Валдай</div>
    </span>
    <div class="city-list__city" data-code="velikie-luki" data-name="Великие Луки">Великие Луки</div>
    <div class="city-list__city" data-code="velikiy-novgorod" data-name="Великий Новгород">Великий Новгород</div>
    <div class="city-list__city" data-code="greatustyug" data-name="Великий Устюг">Великий Устюг</div>
    <div class="city-list__city" data-code="velsk" data-name="Вельск">Вельск</div>
    <div class="city-list__city" data-code="vidnoe" data-name="Видное">Видное</div>
    <div class="city-list__city" data-code="Vilnius" data-name="Вильнюс">Вильнюс</div>
    <div class="city-list__city" data-code="Vitebsk" data-name="Витебск">Витебск</div>
    <div class="city-list__city" data-code="vladivostok" data-name="Владивосток">Владивосток</div>
    <div class="city-list__city" data-code="vladikavkaz" data-name="Владикавказ">Владикавказ</div>
    <div class="city-list__city" data-code="vladimir" data-name="Владимир">Владимир</div>
    <div class="city-list__city" data-code="vladimirskja-obl" data-name="Владимирская область">Владимирская область</div>
    <div class="city-list__city" data-code="vniissok" data-name="ВНИИССОК">ВНИИССОК</div>
    <div class="city-list__city" data-code="waters" data-name="Водный">Водный</div>
    <div class="city-list__city" data-code="volgograd" data-name="Волгоград">Волгоград</div>
    <div class="city-list__city" data-code="volgodonsk" data-name="Волгодонск">Волгодонск</div>
    <div class="city-list__city" data-code="volzhskiy" data-name="Волжский">Волжский</div>
    <div class="city-list__city" data-code="vologda" data-name="Вологда">Вологда</div>
    <div class="city-list__city" data-code="volokolamsk" data-name="Волоколамск">Волоколамск</div>
    <div class="city-list__city" data-code="volosovo" data-name="Волосово">Волосово</div>
    <div class="city-list__city" data-code="volkhov" data-name="Волхов">Волхов</div>
    <div class="city-list__city" data-code="volsk" data-name="Вольск">Вольск</div>
    <div class="city-list__city" data-code="voronezh" data-name="Воронеж">Воронеж</div>
    <div class="city-list__city" data-code="resurrection" data-name="Воскресенское">Воскресенское</div>
    <div class="city-list__city" data-code="vsevolozhsk" data-name="Всеволожск">Всеволожск</div>
    <div class="city-list__city" data-code="viborg" data-name="Выборг">Выборг</div>
    <div class="city-list__city" data-code="viksa" data-name="Выкса">Выкса</div>
    <div class="city-list__city" data-code="vyritsa" data-name="Вырица">Вырица</div>
    <div class="city-list__city" data-code="vyshniy-volochyek" data-name="Вышний Волочёк">Вышний Волочёк</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Г</div>
    <div class="city-list__city" data-code="gatchina" data-name="Гатчина">Гатчина</div>
    </span>
    <div class="city-list__city" data-code="gelendzhik" data-name="Геленджик">Геленджик</div>
    <div class="city-list__city" data-code="Georgievsk" data-name="Георгиевск">Георгиевск</div>
    <div class="city-list__city" data-code="glazov" data-name="Глазов">Глазов</div>
    <div class="city-list__city" data-code="gorno-altaysk" data-name="Горно-Алтайск">Горно-Алтайск</div>
    <div class="city-list__city" data-code="gorodec" data-name="Городец">Городец</div>
    <div class="city-list__city" data-code="grodno" data-name="Гродно">Гродно</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Д</div>
    <div class="city-list__city" data-code="dankov" data-name="Данков">Данков</div>
    </span>
    <div class="city-list__city" data-code="Daugavpils" data-name="Даугавпилс">Даугавпилс</div>
    <div class="city-list__city" data-code="degtyarsk" data-name="Дегтярск">Дегтярск</div>
    <div class="city-list__city" data-code="Desnogorsk" data-name="Десногорск">Десногорск</div>
    <div class="city-list__city" data-code="dzerzhinsk" data-name="Дзержинск">Дзержинск</div>
    <div class="city-list__city" data-code="dimitrovgrad" data-name="Димитровград">Димитровград</div>
    <div class="city-list__city" data-code="dmitrov" data-name="Дмитров">Дмитров</div>
    <div class="city-list__city" data-code="domodedovo" data-name="Домодедово">Домодедово</div>
    <div class="city-list__city" data-code="duhabe" data-name="Душанбе">Душанбе</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Е</div>
    <div class="city-list__city" data-code="yevpatoriya" data-name="Евпатория">Евпатория</div>
    </span>
    <div class="city-list__city" data-code="egorevsk" data-name="Егорьевск">Егорьевск</div>
    <div class="city-list__city" data-code="eysk" data-name="Ейск">Ейск</div>
    <div class="city-list__city" data-code="ekaterinburg" data-name="Екатеринбург">Екатеринбург</div>
    <div class="city-list__city" data-code="Elgava" data-name="Елгава">Елгава</div>
    <div class="city-list__city" data-code="elec" data-name="Елец">Елец</div>
    <div class="city-list__city" data-code="Erevan" data-name="Ереван">Ереван</div>
    <div class="city-list__city" data-code="ershov" data-name="Ершов (Саратовская область)">Ершов (Саратовская область)</div>
    <div class="city-list__city" data-code="efremov" data-name="Ефремов">Ефремов</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Ж</div>
    <div class="city-list__city" data-code="zhanaozen" data-name="Жанаозен">Жанаозен</div>
    </span>
    <div class="city-list__city" data-code="zheleznogorsk-k" data-name="Железногорск (Красн. край)">Железногорск (Красноярский край)</div>
    <div class="city-list__city" data-code="zheleznogorsk" data-name="Железногорск (Курск. обл.)">Железногорск (Курская область)</div>
    <div class="city-list__city" data-code="zheleznogorsk-ilimskij" data-name="Железногорск-Илимский">Железногорск-Илимский</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">З</div>
    <div class="city-list__city" data-code="zarechnyi_so" data-name="Заречный (Свердловская Область)">Заречный (Свердловская Область)</div>
    </span>
    <div class="city-list__city" data-code="zarinsk" data-name="Заринск">Заринск</div>
    <div class="city-list__city" data-code="zelenogorsk" data-name="Зеленогорск">Зеленогорск</div>
    <div class="city-list__city" data-code="Zelenodolsk" data-name="Зеленодольск">Зеленодольск</div>
    <div class="city-list__city" data-code="zlatoust" data-name="Златоуст">Златоуст</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">И</div>
    <div class="city-list__city" data-code="ivangorod" data-name="Ивангород">Ивангород</div>
    </span>
    <div class="city-list__city" data-code="ivanovo" data-name="Иваново">Иваново</div>
    <div class="city-list__city" data-code="ivanteevka" data-name="Ивантеевка">Ивантеевка</div>
    <div class="city-list__city" data-code="iglino" data-name="Иглино">Иглино</div>
    <div class="city-list__city" data-code="izhevsk" data-name="Ижевск">Ижевск</div>
    <div class="city-list__city" data-code="irbit" data-name="Ирбит">Ирбит</div>
    <div class="city-list__city" data-code="irkutsk" data-name="Иркутск">Иркутск</div>
    <div class="city-list__city" data-code="istra" data-name="Истра">Истра</div>
    <div class="city-list__city" data-code="ishim" data-name="Ишим">Ишим</div>
    <div class="city-list__city" data-code="ishimbay" data-name="Ишимбай">Ишимбай</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">К</div>
    <div class="city-list__city" data-code="kazan" data-name="Казань">Казань</div>
    </span>
    <div class="city-list__city" data-code="kaliningrad" data-name="Калининград">Калининград</div>
    <div class="city-list__city" data-code="kalininsk" data-name="Калининск (Саратовская область)">Калининск (Саратовская область)</div>
    <div class="city-list__city" data-code="kaluga" data-name="Калуга">Калуга</div>
    <div class="city-list__city" data-code="kamenka" data-name="Каменка">Каменка</div>
    <div class="city-list__city" data-code="kamensk-uralskiy" data-name="Каменск-Уральский">Каменск-Уральский</div>
    <div class="city-list__city" data-code="kamen-na-obi" data-name="Камень-на-Оби">Камень-на-Оби</div>
    <div class="city-list__city" data-code="kamyshin" data-name="Камышин">Камышин</div>
    <div class="city-list__city" data-code="kansk" data-name="Канск">Канск</div>
    <div class="city-list__city" data-code="kemerovo" data-name="Кемерово">Кемерово</div>
    <div class="city-list__city" data-code="Kerch" data-name="Керчь">Керчь</div>
    <div class="city-list__city" data-code="kingisepp" data-name="Кингисепп">Кингисепп</div>
    <div class="city-list__city" data-code="kineshma" data-name="Кинешма">Кинешма</div>
    <div class="city-list__city" data-code="kirillove" data-name="Кириллов">Кириллов</div>
    <div class="city-list__city" data-code="kirishi" data-name="Кириши">Кириши</div>
    <div class="city-list__city" data-code="kirov" data-name="Киров">Киров</div>
    <div class="city-list__city" data-code="kirovgrad" data-name="Кировград">Кировград</div>
    <div class="city-list__city" data-code="kirovo-chepezk" data-name="Кирово-Чепецк">Кирово-Чепецк</div>
    <div class="city-list__city" data-code="klyavlino" data-name="Клявлино">Клявлино</div>
    <div class="city-list__city" data-code="kovrov" data-name="Ковров">Ковров</div>
    <div class="city-list__city" data-code="kokhetau" data-name="Кокшетау">Кокшетау</div>
    <div class="city-list__city" data-code="kolomna" data-name="Коломна">Коломна</div>
    <div class="city-list__city" data-code="kolpino" data-name="Колпино">Колпино</div>
    <div class="city-list__city" data-code="kolchugino" data-name="Кольчугино">Кольчугино</div>
    <div class="city-list__city" data-code="komsomolsk-na-amure" data-name="Комсомольск-на-Амуре">Комсомольск-на-Амуре</div>
    <div class="city-list__city" data-code="kondopoga" data-name="Кондопога">Кондопога</div>
    <div class="city-list__city" data-code="kopeysk" data-name="Копейск">Копейск</div>
    <div class="city-list__city" data-code="kostanay" data-name="Костанай">Костанай</div>
    <div class="city-list__city" data-code="kostroma" data-name="Кострома">Кострома</div>
    <div class="city-list__city" data-code="kotelnikovo-vl" data-name="Котельниково">Котельниково</div>
    <div class="city-list__city" data-code="kotlas" data-name="Котлас">Котлас</div>
    <div class="city-list__city" data-code="kokhma" data-name="Кохма">Кохма</div>
    <div class="city-list__city" data-code="krasavino" data-name="Красавино">Красавино</div>
    <div class="city-list__city" data-code="krasnoarmeysk" data-name="Красноармейск (Саратовская область)">Красноармейск (Саратовская область)</div>
    <div class="city-list__city" data-code="krasnovishersk" data-name="Красновишерск">Красновишерск</div>
    <div class="city-list__city" data-code="krasnodar" data-name="Краснодар">Краснодар</div>
    <div class="city-list__city" data-code="Krasnodarsky-krai" data-name="Краснодарский край">Краснодарский край</div>
    <div class="city-list__city" data-code="krasnokamensk" data-name="Краснокаменск">Краснокаменск</div>
    <div class="city-list__city" data-code="krasnokamsk" data-name="Краснокамск">Краснокамск</div>
    <div class="city-list__city" data-code="krasnoturinsk" data-name="Краснотурьинск">Краснотурьинск</div>
    <div class="city-list__city" data-code="krasnoufimsk" data-name="Красноуфимск">Красноуфимск</div>
    <div class="city-list__city" data-code="krasnoyarsk" data-name="Красноярск">Красноярск</div>
    <div class="city-list__city" data-code="krasnyy-kut" data-name="Красный Кут (Саратовская область)">Красный Кут (Саратовская область)</div>
    <div class="city-list__city" data-code="kronshtadt" data-name="Кронштадт">Кронштадт</div>
    <div class="city-list__city" data-code="kropotkin" data-name="Кропоткин">Кропоткин</div>
    <div class="city-list__city" data-code="krym" data-name="Крым">Крым</div>
    <div class="city-list__city" data-code="kstovo" data-name="Кстово">Кстово</div>
    <div class="city-list__city" data-code="kudymkar" data-name="Кудымкар">Кудымкар</div>
    <div class="city-list__city" data-code="kuznetsk" data-name="Кузнецк">Кузнецк</div>
    <div class="city-list__city" data-code="culebaki" data-name="Кулебаки">Кулебаки</div>
    <div class="city-list__city" data-code="kuloi" data-name="Кулой">Кулой</div>
    <div class="city-list__city" data-code="Culunda" data-name="Кулунда">Кулунда</div>
    <div class="city-list__city" data-code="kumertau" data-name="Кумертау">Кумертау</div>
    <div class="city-list__city" data-code="kurgan" data-name="Курган">Курган</div>
    <div class="city-list__city" data-code="kurovskoe" data-name="Куровское">Куровское</div>
    <div class="city-list__city" data-code="kursk" data-name="Курск">Курск</div>
    <div class="city-list__city" data-code="kurchatov" data-name="Курчатов">Курчатов</div>
    <div class="city-list__city" data-code="kitim" data-name="Кыштым">Кыштым</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Л</div>
    <div class="city-list__city" data-code="lakinsk" data-name="Лакинск">Лакинск</div>
    </span>
    <div class="city-list__city" data-code="langepas" data-name="Лангепас">Лангепас</div>
    <div class="city-list__city" data-code="levahovo" data-name="Левашово">Левашово</div>
    <div class="city-list__city" data-code="leningradskaya" data-name="Ленинградская">Ленинградская</div>
    <div class="city-list__city" data-code="leningradskaya-oblast" data-name="Ленинградская область">Ленинградская область</div>
    <div class="city-list__city" data-code="livny" data-name="Ливны">Ливны</div>
    <div class="city-list__city" data-code="lipetsk" data-name="Липецк">Липецк</div>
    <div class="city-list__city" data-code="lysva" data-name="Лысьва">Лысьва</div>
    <div class="city-list__city" data-code="lyubertsy" data-name="Люберцы">Люберцы</div>
    <div class="city-list__city" data-code="ludinovo" data-name="Людиново">Людиново</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">М</div>
    <div class="city-list__city" data-code="magadan" data-name="Магадан">Магадан</div>
    </span>
    <div class="city-list__city" data-code="magnitogorsk" data-name="Магнитогорск">Магнитогорск</div>
    <div class="city-list__city" data-code="marks" data-name="Маркс (Саратовская область)">Маркс (Саратовская область)</div>
    <div class="city-list__city" data-code="makhachkala" data-name="Махачкала">Махачкала</div>
    <div class="city-list__city" data-code="medvezhegorsk" data-name="Медвежьегорск">Медвежьегорск</div>
    <div class="city-list__city" data-code="miass" data-name="Миасс">Миасс</div>
    <div class="city-list__city" data-code="mirniy-arh" data-name="Мирный (Арханг. обл.)">Мирный (Арханг. обл.)</div>
    <div class="city-list__city" data-code="mihailovskoe" data-name="Михайловское">Михайловское</div>
    <div class="city-list__city" data-code="Monchegorsk" data-name="Мончегорск">Мончегорск</div>
    <div class="city-list__city" data-code="moskva" data-name="Москва">Москва</div>
    <div class="city-list__city" data-code="murmansk" data-name="Мурманск">Мурманск</div>
    <div class="city-list__city" data-code="murom" data-name="Муром">Муром</div>
    <div class="city-list__city" data-code="mtsensk" data-name="Мценск">Мценск</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Н</div>
    <div class="city-list__city" data-code="naberezhnye-chelny" data-name="Набережные Челны">Набережные Челны</div>
    </span>
    <div class="city-list__city" data-code="nadym" data-name="Надым">Надым</div>
    <div class="city-list__city" data-code="nalchik" data-name="Нальчик">Нальчик</div>
    <div class="city-list__city" data-code="Narva" data-name="Нарва">Нарва</div>
    <div class="city-list__city" data-code="naryan-mar" data-name="Нарьян-Мар">Нарьян-Мар</div>
    <div class="city-list__city" data-code="nakhodka" data-name="Находка">Находка</div>
    <div class="city-list__city" data-code="nevinnomyssk" data-name="Невинномысск">Невинномысск</div>
    <div class="city-list__city" data-code="nerehta" data-name="Нерехта">Нерехта</div>
    <div class="city-list__city" data-code="neftekamsk" data-name="Нефтекамск">Нефтекамск</div>
    <div class="city-list__city" data-code="nefteyugansk" data-name="Нефтеюганск">Нефтеюганск</div>
    <div class="city-list__city" data-code="nizhnevartovsk" data-name="Нижневартовск">Нижневартовск</div>
    <div class="city-list__city" data-code="nizhneudinsk" data-name="Нижнеудинск">Нижнеудинск</div>
    <div class="city-list__city" data-code="nizhniy-novgorod" data-name="Нижний Новгород">Нижний Новгород</div>
    <div class="city-list__city" data-code="nizhniy-tagil" data-name="Нижний Тагил">Нижний Тагил</div>
    <div class="city-list__city" data-code="newigirma" data-name="Новая Игирма">Новая Игирма</div>
    <div class="city-list__city" data-code="novaya_ladoga" data-name="Новая Ладога">Новая Ладога</div>
    <div class="city-list__city" data-code="novodvinsk" data-name="Новодвинск">Новодвинск</div>
    <div class="city-list__city" data-code="novozibkov" data-name="Новозыбков">Новозыбков</div>
    <div class="city-list__city" data-code="novokuznetsk" data-name="Новокузнецк">Новокузнецк</div>
    <div class="city-list__city" data-code="novokuibyshevsk-so" data-name="Новокуйбышевск">Новокуйбышевск</div>
    <div class="city-list__city" data-code="novomichurinsk" data-name="Новомичуринск">Новомичуринск</div>
    <div class="city-list__city" data-code="novomoskovsk" data-name="Новомосковск">Новомосковск</div>
    <div class="city-list__city" data-code="novorossiysk" data-name="Новороссийск">Новороссийск</div>
    <div class="city-list__city" data-code="novosibirsk" data-name="Новосибирск">Новосибирск</div>
    <div class="city-list__city" data-code="novospasskoe" data-name="Новоспасское">Новоспасское</div>
    <div class="city-list__city" data-code="novotroitsk" data-name="Новотроицк">Новотроицк</div>
    <div class="city-list__city" data-code="novouzensk" data-name="Новоузенск (Саратовская область)">Новоузенск (Саратовская область)</div>
    <div class="city-list__city" data-code="novocheboksarsk" data-name="Новочебоксарск">Новочебоксарск</div>
    <div class="city-list__city" data-code="novyy-urengoy" data-name="Новый Уренгой">Новый Уренгой</div>
    <div class="city-list__city" data-code="noginsk" data-name="Ногинск">Ногинск</div>
    <div class="city-list__city" data-code="norilsk" data-name="Норильск">Норильск</div>
    <div class="city-list__city" data-code="nytva" data-name="Нытва">Нытва</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">О</div>
    <div class="city-list__city" data-code="obninsk" data-name="Обнинск">Обнинск</div>
    </span>
    <div class="city-list__city" data-code="ozersk" data-name="Озерск">Озерск</div>
    <div class="city-list__city" data-code="oktyabrskiy" data-name="Октябрьский">Октябрьский</div>
    <div class="city-list__city" data-code="omsk" data-name="Омск">Омск</div>
    <div class="city-list__city" data-code="orel" data-name="Орел">Орел</div>
    <div class="city-list__city" data-code="orenburg" data-name="Оренбург">Оренбург</div>
    <div class="city-list__city" data-code="orsk" data-name="Орск">Орск</div>
    <div class="city-list__city" data-code="osinniki_kem" data-name="Осинники (Кемеровская область)">Осинники (Кемеровская область)</div>
    <div class="city-list__city" data-code="otradniy" data-name="Отрадный">Отрадный</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">п</div>
    <div class="city-list__city" data-code="p-oktabrky" data-name="п. Октябрьский">п. Октябрьский</div>
    <div class="city-list__city" data-code="p-tomilino" data-name="п. Томилино">п. Томилино</div>
    </span>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">П</div>
    <div class="city-list__city" data-code="pavloask" data-name="Павловск">Павловск</div>
    </span>
    <div class="city-list__city" data-code="Pavlodar" data-name="Павлодар">Павлодар</div>
    <div class="city-list__city" data-code="penza" data-name="Пенза">Пенза</div>
    <div class="city-list__city" data-code="pervouralsk" data-name="Первоуральск">Первоуральск</div>
    <div class="city-list__city" data-code="pereslavl" data-name="Переславль-Залесский">Переславль-Залесский</div>
    <div class="city-list__city" data-code="perm" data-name="Пермь">Пермь</div>
    <div class="city-list__city" data-code="petrovsk" data-name="Петровск (Саратовская область)">Петровск (Саратовская область)</div>
    <div class="city-list__city" data-code="petrozavodsk" data-name="Петрозаводск">Петрозаводск</div>
    <div class="city-list__city" data-code="petropavlovsk-kamchatskiy" data-name="Петропавловск-Камчатский">Петропавловск-Камчатский</div>
    <div class="city-list__city" data-code="petushki" data-name="Петушки">Петушки</div>
    <div class="city-list__city" data-code="pikalevo" data-name="Пикалево">Пикалево</div>
    <div class="city-list__city" data-code="plast" data-name="Пласт">Пласт</div>
    <div class="city-list__city" data-code="plesezk" data-name="Плесецк">Плесецк</div>
    <div class="city-list__city" data-code="polevskoy" data-name="Полевской">Полевской</div>
    <div class="city-list__city" data-code="pospeliha" data-name="Поспелиха">Поспелиха</div>
    <div class="city-list__city" data-code="priozersk" data-name="Приозерск">Приозерск</div>
    <div class="city-list__city" data-code="prokopevsk" data-name="Прокопьевск">Прокопьевск</div>
    <div class="city-list__city" data-code="pskov" data-name="Псков">Псков</div>
    <div class="city-list__city" data-code="pugachev" data-name="Пугачев (Саратовская область)">Пугачев (Саратовская область)</div>
    <div class="city-list__city" data-code="pushkino" data-name="Пушкино">Пушкино</div>
    <div class="city-list__city" data-code="Pyarnu" data-name="Пярну">Пярну</div>
    <div class="city-list__city" data-code="pyatigorsk" data-name="Пятигорск">Пятигорск</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Р</div>
    <div class="city-list__city" data-code="raduzhnyy" data-name="Радужный">Радужный</div>
    </span>
    <div class="city-list__city" data-code="ramenskoe" data-name="Раменское">Раменское</div>
    <div class="city-list__city" data-code="revda" data-name="Ревда">Ревда</div>
    <div class="city-list__city" data-code="Rezekne" data-name="Резекне">Резекне</div>
    <div class="city-list__city" data-code="reutov" data-name="Реутов">Реутов</div>
    <div class="city-list__city" data-code="rzhev" data-name="Ржев">Ржев</div>
    <div class="city-list__city" data-code="riga" data-name="Рига">Рига</div>
    <div class="city-list__city" data-code="rostov" data-name="Ростов">Ростов</div>
    <div class="city-list__city" data-code="rostov-na-donu" data-name="Ростов-на-Дону">Ростов-на-Дону</div>
    <div class="city-list__city" data-code="roshchino" data-name="Рощино">Рощино</div>
    <div class="city-list__city" data-code="rtishchevo" data-name="Ртищево (Саратовская область)">Ртищево (Саратовская область)</div>
    <div class="city-list__city" data-code="Rubcovsk" data-name="Рубцовск">Рубцовск</div>
    <div class="city-list__city" data-code="ruzaevka-m" data-name="Рузаевка">Рузаевка</div>
    <div class="city-list__city" data-code="rybinsk" data-name="Рыбинск">Рыбинск</div>
    <div class="city-list__city" data-code="ryazan" data-name="Рязань">Рязань</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">С</div>
    <div class="city-list__city" data-code="saki" data-name="Саки">Саки</div>
    </span>
    <div class="city-list__city" data-code="salavat" data-name="Салават">Салават</div>
    <div class="city-list__city" data-code="samara" data-name="Самара">Самара</div>
    <div class="city-list__city" data-code="samarkand" data-name="Самарканд">Самарканд</div>
    <div class="city-list__city" data-code="sankt-peterburg" data-name="Санкт-Петербург">Санкт-Петербург</div>
    <div class="city-list__city" data-code="saransk" data-name="Саранск">Саранск</div>
    <div class="city-list__city" data-code="saratov" data-name="Саратов">Саратов</div>
    <div class="city-list__city" data-code="sarov" data-name="Саров">Саров</div>
    <div class="city-list__city" data-code="sayanogorsk" data-name="Саяногорск">Саяногорск</div>
    <div class="city-list__city" data-code="svetogorsk" data-name="Светогорск">Светогорск</div>
    <div class="city-list__city" data-code="sevastopol" data-name="Севастополь">Севастополь</div>
    <div class="city-list__city" data-code="severodvinsk" data-name="Северодвинск">Северодвинск</div>
    <div class="city-list__city" data-code="Seversk" data-name="Северск">Северск</div>
    <div class="city-list__city" data-code="sergiev-posad" data-name="Сергиев Посад">Сергиев Посад</div>
    <div class="city-list__city" data-code="serdobsk" data-name="Сердобск">Сердобск</div>
    <div class="city-list__city" data-code="serpukhov" data-name="Серпухов">Серпухов</div>
    <div class="city-list__city" data-code="simferopol" data-name="Симферополь">Симферополь</div>
    <div class="city-list__city" data-code="smolensk" data-name="Смоленск">Смоленск</div>
    <div class="city-list__city" data-code="snezhinsk" data-name="Снежинск">Снежинск</div>
    <div class="city-list__city" data-code="sbinka" data-name="Собинка">Собинка</div>
    <div class="city-list__city" data-code="sokol" data-name="Сокол">Сокол</div>
    <div class="city-list__city" data-code="soligorsk" data-name="Солигорск">Солигорск</div>
    <div class="city-list__city" data-code="solikamsk" data-name="Соликамск">Соликамск</div>
    <div class="city-list__city" data-code="solnechnogorsk" data-name="Солнечногорск">Солнечногорск</div>
    <div class="city-list__city" data-code="sosnovoborsk" data-name="Сосновоборск">Сосновоборск</div>
    <div class="city-list__city" data-code="pinery" data-name="Сосновый Бор">Сосновый Бор</div>
    <div class="city-list__city" data-code="sosnogorsk" data-name="Сосногорск">Сосногорск</div>
    <div class="city-list__city" data-code="sochi" data-name="Сочи">Сочи</div>
    <div class="city-list__city" data-code="stavropol" data-name="Ставрополь">Ставрополь</div>
    <div class="city-list__city" data-code="stavropolsky-kray" data-name="Ставропольский Край">Ставропольский Край</div>
    <div class="city-list__city" data-code="staryy-oskol" data-name="Старый Оскол">Старый Оскол</div>
    <div class="city-list__city" data-code="sterlitamak" data-name="Стерлитамак">Стерлитамак</div>
    <div class="city-list__city" data-code="stupino" data-name="Ступино">Ступино</div>
    <div class="city-list__city" data-code="suzdal" data-name="Суздаль">Суздаль</div>
    <div class="city-list__city" data-code="surgut" data-name="Сургут">Сургут</div>
    <div class="city-list__city" data-code="syzran" data-name="Сызрань">Сызрань</div>
    <div class="city-list__city" data-code="syktyvkar" data-name="Сыктывкар">Сыктывкар</div>
    <div class="city-list__city" data-code="syasstroy" data-name="Сясьстрой">Сясьстрой</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Т</div>
    <div class="city-list__city" data-code="taganrog" data-name="Таганрог">Таганрог</div>
    </span> 
    <div class="city-list__city" data-code="tallin" data-name="Таллин">Таллин</div>
    <div class="city-list__city" data-code="tambov" data-name="Тамбов">Тамбов</div>
    <div class="city-list__city" data-code="Tartu" data-name="Тарту">Тарту</div>
    <div class="city-list__city" data-code="Tashkent" data-name="Ташкент">Ташкент</div>
    <div class="city-list__city" data-code="Tbilisi" data-name="Тбилиси">Тбилиси</div>
    <div class="city-list__city" data-code="tver" data-name="Тверь">Тверь</div>
    <div class="city-list__city" data-code="temryuk" data-name="Темрюк">Темрюк</div>
    <div class="city-list__city" data-code="Timashevsk" data-name="Тимашевск">Тимашевск</div>
    <div class="city-list__city" data-code="tikhvin" data-name="Тихвин">Тихвин</div>
    <div class="city-list__city" data-code="tobolsk" data-name="Тобольск">Тобольск</div>
    <div class="city-list__city" data-code="tolyatti" data-name="Тольятти">Тольятти</div>
    <div class="city-list__city" data-code="tomsk" data-name="Томск">Томск</div>
    <div class="city-list__city" data-code="Torrevieja" data-name="Торревьеха">Торревьеха</div>
    <div class="city-list__city" data-code="tosno" data-name="Тосно">Тосно</div>
    <div class="city-list__city" data-code="tula" data-name="Тула">Тула</div>
    <div class="city-list__city" data-code="tulun" data-name="Тулун">Тулун</div>
    <div class="city-list__city" data-code="tutaev" data-name="Тутаев">Тутаев</div>
    <div class="city-list__city" data-code="tyumen" data-name="Тюмень">Тюмень</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">У</div>
    <div class="city-list__city" data-code="uglich" data-name="Углич">Углич</div>
    </span>
    <div class="city-list__city" data-code="uzlovaja" data-name="Узловая">Узловая</div>
    <div class="city-list__city" data-code="Ulan-Bator" data-name="Улан-Батор">Улан-Батор</div>
    <div class="city-list__city" data-code="ulan-ude" data-name="Улан-Удэ">Улан-Удэ</div>
    <div class="city-list__city" data-code="ulyanovsk" data-name="Ульяновск">Ульяновск</div>
    <div class="city-list__city" data-code="urai" data-name="Урай">Урай</div>
    <div class="city-list__city" data-code="urypinsk" data-name="Урюпинск">Урюпинск</div>
    <div class="city-list__city" data-code="ussuriysk" data-name="Уссурийск">Уссурийск</div>
    <div class="city-list__city" data-code="ust-ilimsk" data-name="Усть-Илимск">Усть-Илимск</div>
    <div class="city-list__city" data-code="ust-Kamenogorsk" data-name="Усть-Каменогорск">Усть-Каменогорск</div>
    <div class="city-list__city" data-code="ust-katav" data-name="Усть-Катав">Усть-Катав</div>
    <div class="city-list__city" data-code="ust-kut" data-name="Усть-Кут">Усть-Кут</div>
    <div class="city-list__city" data-code="ufa" data-name="Уфа">Уфа</div>
    <div class="city-list__city" data-code="uhta" data-name="Ухта">Ухта</div>
    <div class="city-list__city" data-code="uchals" data-name="Учалы">Учалы</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Ф</div>
    <div class="city-list__city" data-code="feodosia" data-name="Феодосия">Феодосия</div>
    </span>
    <div class="city-list__city" data-code="filipovskoe" data-name="Филипповское">Филипповское</div>
    <div class="city-list__city" data-code="fryazino" data-name="Фрязино">Фрязино</div>
    <div class="city-list__city" data-code="furmanov" data-name="Фурманов">Фурманов</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Х</div>
    <div class="city-list__city" data-code="khabarovsk" data-name="Хабаровск">Хабаровск</div>
    </span>
    <div class="city-list__city" data-code="khanty-mansiysk" data-name="Ханты-Мансийск">Ханты-Мансийск</div>
    <div class="city-list__city" data-code="khvalynsk" data-name="Хвалынск (Саратовская область)">Хвалынск (Саратовская область)</div>
    <div class="city-list__city" data-code="khimki" data-name="Химки">Химки</div>
    <div class="city-list__city" data-code="holmsk" data-name="Холмск">Холмск</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Ч</div>
    <div class="city-list__city" data-code="chebarkul" data-name="Чебаркуль">Чебаркуль</div>
    </span>
    <div class="city-list__city" data-code="cheboksary" data-name="Чебоксары">Чебоксары</div>
    <div class="city-list__city" data-code="chelyabinsk" data-name="Челябинск">Челябинск</div>
    <div class="city-list__city" data-code="cherepovets" data-name="Череповец">Череповец</div>
    <div class="city-list__city" data-code="cherkessk" data-name="Черкесск">Черкесск</div>
    <div class="city-list__city" data-code="chistopol" data-name="Чистополь">Чистополь</div>
    <div class="city-list__city" data-code="chita" data-name="Чита">Чита</div>
    <div class="city-list__city" data-code="Chusovoy" data-name="Чусовой">Чусовой</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Ш</div>
    <div class="city-list__city" data-code="sharjah" data-name="Шарья">Шарья</div>
    </span> 
    <div class="city-list__city" data-code="shakhty" data-name="Шахты">Шахты</div>
    <div class="city-list__city" data-code="sheksna" data-name="Шексна">Шексна</div>
    <div class="city-list__city" data-code="Shipunovo" data-name="Шипуново">Шипуново</div>
    <div class="city-list__city" data-code="shikhany" data-name="Шиханы (Саратовская область)">Шиханы (Саратовская область)</div>
    <div class="city-list__city" data-code="shuya" data-name="Шуя">Шуя</div>
    <div class="city-list__city" data-code="Shaullyai" data-name="Шяуляй">Шяуляй</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Щ</div>
    <div class="city-list__city" data-code="shchyelkovo" data-name="Щёлково">Щёлково</div>
    </span> 
    <div class="city-list__city" data-code="shcherbinka" data-name="Щербинка">Щербинка</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Э</div>
    <div class="city-list__city" data-code="elista" data-name="Элиста">Элиста</div>
    <div class="city-list__city" data-code="engels" data-name="Энгельс">Энгельс</div>
    </span> 
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Ю</div>
    <div class="city-list__city" data-code="yuzhno-sakhalinsk" data-name="Южно-Сахалинск">Южно-Сахалинск</div>
    </span>
    <div class="city-list__city" data-code="uzhnouralsk" data-name="Южноуральск">Южноуральск</div>
    <div class="city-list__city" data-code="yurga" data-name="Юрга">Юрга</div>
    <div class="city-list__city" data-code="Yrev-Polskiy" data-name="Юрьев-Польский">Юрьев-Польский</div>
    <div class="city-list__city" data-code="uruzan" data-name="Юрюзань">Юрюзань</div>
    <span class="city-list__avoid-break">
    <div class="city-list__letter">Я</div>
    <div class="city-list__city" data-code="yakutsk" data-name="Якутск">Якутск</div>
    </span>
    <div class="city-list__city" data-code="yalta" data-name="Ялта">Ялта</div>
    <div class="city-list__city" data-code="Yarovoe" data-name="Яровое">Яровое</div>
    <div class="city-list__city" data-code="yaroslavl" data-name="Ярославль">Ярославль</div>
    <div class="city-list__city" data-code="Yasnogorsk" data-name="Ясногорск">Ясногорск</div>
</div>