<div class="city-list__city-list" id="country-belarus">
    <div class="city-list__city" data-code="brest" data-name="Брест">Брест</div>
    <div class="city-list__city" data-code="baranovichi" data-name="Барановичи">Барановичи</div>
    <div class="city-list__city" data-code="Vitebsk" data-name="Витебск">Витебск</div>
    <div class="city-list__city" data-code="grodno" data-name="Гродно">Гродно</div>
    <div class="city-list__city" data-code="soligorsk" data-name="Солигорск">Солигорск</div>
</div>