<div class="city-list__city-list" id="country-estonia">
    <div class="city-list__city" data-code="Narva" data-name="Нарва">Нарва</div>
    <div class="city-list__city" data-code="Pyarnu" data-name="Пярну">Пярну</div>
    <div class="city-list__city" data-code="tallin" data-name="Таллин">Таллин</div>
    <div class="city-list__city" data-code="Tartu" data-name="Тарту">Тарту</div>
</div>