<div class="city-list__city-list" id="country-kazakhstan">
    <div class="city-list__city" data-code="aktau" data-name="Актау">Актау</div>
    <div class="city-list__city" data-code="aktobe" data-name="Актобе">Актобе</div>
    <div class="city-list__city" data-code="almaty" data-name="Алматы">Алматы</div>
    <div class="city-list__city" data-code="atyrau" data-name="Атырау">Атырау</div>
    <div class="city-list__city" data-code="astana" data-name="Астана">Астана</div>
    <div class="city-list__city" data-code="zhanaozen" data-name="Жанаозен">Жанаозен</div>
    <div class="city-list__city" data-code="Pavlodar" data-name="Павлодар">Павлодар</div>
    <div class="city-list__city" data-code="ust-Kamenogorsk" data-name="Усть-Каменогорск">Усть-Каменогорск</div>
    <div class="city-list__city" data-code="kostanay" data-name="Костанай">Костанай</div>
</div>