<div class="city-list__city-list" id="country-latvia">
    <div class="city-list__city" data-code="Daugavpils" data-name="Даугавпилс">Даугавпилс</div>
    <div class="city-list__city" data-code="Elgava" data-name="Елгава">Елгава</div>
    <div class="city-list__city" data-code="Rezekne" data-name="Резекне">Резекне</div>
    <div class="city-list__city" data-code="riga" data-name="Рига">Рига</div>

</div>