<div class="city-list__city-list" id="country-litva">
	<p><a href="https://torex.ru/partners/">Мы ищем партнеров в Молдавии. Заполните заявку на сотрудничество!</a></p>
    <div class="city-list__city" data-code="Vilnius" data-name="Вильнюс">Вильнюс</div>
    <div class="city-list__city" data-code="Shaullyai" data-name="Шяуляй">Шяуляй</div>
</div>