<div class="city-list__city-list city-list_active" id="country-russia">
	<div class="city-list__city" data-code="murmansk" data-name="Мурманск">Мурманск</div>
    <div class="city-list__city" data-code="sankt-peterburg" data-name="Санкт-Петербург">Санкт-Петербург</div>
    <div class="city-list__city" data-code="leningradskaya" data-name="Ленинградская">Ленинградская</div>
    <div class="city-list__city" data-code="volgograd" data-name="Волгоград">Волгоград</div>
    <div class="city-list__city" data-code="vologda" data-name="Вологда">Вологда</div>
    <div class="city-list__city" data-code="ekaterinburg" data-name="Екатеринбург">Екатеринбург</div>
    <div class="city-list__city" data-code="kazan" data-name="Казань">Казань</div>
    <div class="city-list__city" data-code="krasnoyarsk" data-name="Красноярск">Красноярск</div>
    <div class="city-list__city" data-code="nizhniy-novgorod" data-name="Нижний Новгород">Нижний Новгород</div>
    <div class="city-list__city" data-code="novosibirsk" data-name="Новосибирск">Новосибирск</div>
    <div class="city-list__city" data-code="penza" data-name="Пенза">Пенза</div>
    <div class="city-list__city" data-code="perm" data-name="Пермь">Пермь</div>
    <div class="city-list__city" data-code="pskov" data-name="Псков">Псков</div>
    <div class="city-list__city" data-code="rostov-na-donu" data-name="Ростов-на-Дону">Ростов-на-Дону</div>
    <div class="city-list__city" data-code="ryazan" data-name="Рязань">Рязань</div>
    <div class="city-list__city" data-code="samara" data-name="Самара">Самара</div>
    <div class="city-list__city" data-code="saratov" data-name="Саратов">Саратов</div>
    <div class="city-list__city" data-code="sevastopol" data-name="Севастополь">Севастополь</div>
    <div class="city-list__city" data-code="stavropol" data-name="Ставрополь">Ставрополь</div>
    <div class="city-list__city" data-code="tomsk" data-name="Томск">Томск</div>
    <div class="city-list__city" data-code="tula" data-name="Тула">Тула</div>
    <div class="city-list__city" data-code="ulyanovsk" data-name="Ульяновск">Ульяновск</div>
    <div class="city-list__city" data-code="ufa" data-name="Уфа">Уфа</div>
    <div class="city-list__city" data-code="chelyabinsk" data-name="Челябинск">Челябинск</div>
    <div class="city-list__city" data-code="yaroslavl" data-name="Ярославль">Ярославль</div>
</div>