<div class="city-list__city-list" id="country-uzbekistan">
    <div class="city-list__city" data-code="Tashkent" data-name="Ташкент">Ташкент</div>
    <div class="city-list__city" data-code="samarkand" data-name="Самарканд">Самарканд</div>
</div>