<div class="pagination">
    <ul class="pagination__container">
        <li class="pagination__list"><a href="#" class="pagination__link link_black">1</a></li>
        <li class="pagination__list"><a href="#" class="pagination__link link_black">2</a></li>
        <li class="pagination__list current">3</li>
        <li class="pagination__list"><a href="#" class="pagination__link link_black">4</a></li>
        <li class="pagination__list"><a href="#" class="pagination__link link_black">5</a></li>
        <li class="pagination__list"><a href="#" class="pagination__link link_black">6</a></li>
    </ul>
</div>