<section class="company-stats content-width">
	<div class="company-stats__content-slider" data-slider="mob-only">
		<div class="company-stats__item i1">
			<div class="company-stats__item-content">
				<div class="company-stats__tooltip">
					<div class="company-stats__tooltip-close icon icon_cross"></div>
					<span class="company-stats__tooltip-header">Torex &mdash; лидер по производству стальных дверей в России!</span>
					<p>1. Вся продукция сертифицирована и соответствует мировым стандартам качества.</p>
				</div>
				<div class="icon icon_door-red company-stats__icon"></div>
				<span class="company-stats__fig">3100</span>
				<span class="company-stats__txt">Дверей в&nbsp;сутки</span>
			</div>
		</div>
		<div class="company-stats__item i2">
			<div class="company-stats__item-content">
				<div class="company-stats__tooltip">
					<div class="company-stats__tooltip-close icon icon_cross"></div>
					<span class="company-stats__tooltip-header">Torex &mdash; лидер по производству стальных дверей в России!</span>
					<p>2. Вся продукция сертифицирована и соответствует мировым стандартам качества.</p>
				</div>
				<div class="icon icon_employees-red company-stats__icon"></div>
				<span class="company-stats__fig">1203</span>
				<span class="company-stats__txt">Сотрудника</span>
			</div>
		</div>
		<div class="company-stats__item i3">
			<div class="company-stats__item-content">
				<div class="company-stats__tooltip">
					<div class="company-stats__tooltip-close icon icon_cross"></div>
					<span class="company-stats__tooltip-header">Torex &mdash; лидер по производству стальных дверей в России!</span>
					<p>3. Вся продукция сертифицирована и соответствует мировым стандартам качества.</p>
				</div>
				<div class="icon icon_metal-red company-stats__icon"></div>
				<span class="company-stats__fig">140</span>
				<span class="company-stats__txt">Тонн металла в&nbsp;сутки</span>
			</div>
		</div>
		<div class="item-break hidden_desk hidden_mob"></div>
		<div class="company-stats__item i4">
			<div class="company-stats__item-content">
				<div class="company-stats__tooltip">
					<div class="company-stats__tooltip-close icon icon_cross"></div>
					<span class="company-stats__tooltip-header">Torex &mdash; лидер по производству стальных дверей в России!</span>
					<p>4. Вся продукция сертифицирована и соответствует мировым стандартам качества.</p>
				</div>
				<div class="icon icon_factory-red company-stats__icon"></div>
				<span class="company-stats__fig">2</span>
				<span class="company-stats__txt">Завода</span>
			</div>
		</div>
		<div class="company-stats__item i5">
			<div class="company-stats__item-content">
				<div class="company-stats__tooltip">
					<div class="company-stats__tooltip-close icon icon_cross"></div>
					<span class="company-stats__tooltip-header">Torex &mdash; лидер по производству стальных дверей в России!</span>
					<p>5. Вся продукция сертифицирована и соответствует мировым стандартам качества.</p>
				</div>
				<div class="icon icon_shop-red company-stats__icon"></div>
				<span class="company-stats__fig">4500+</span>
				<span class="company-stats__txt">Точек продаж</span>
			</div>
		</div>
		<div class="company-stats__item i6">
			<div class="company-stats__item-content">
				<div class="company-stats__tooltip">
					<div class="company-stats__tooltip-close icon icon_cross"></div>
					<span class="company-stats__tooltip-header">Torex &mdash; лидер по производству стальных дверей в России!</span>
					<p>6. Вся продукция сертифицирована и соответствует мировым стандартам качества.</p>
				</div>
				<div class="icon icon_warehouse-red company-stats__icon"></div>
				<span class="company-stats__fig">20</span>
				<span class="company-stats__txt">Складов по всей России</span>
			</div>
		</div>
	</div>
	<div class="company-stats__more">
		<p class="company-stats__more-toggle icon icon_chevron-down-red">Почему еще выбирают <span class="text_red">Torex?</span></p>
		<p class="company-stats__more-txt">Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития. Не следует, однако забывать, что рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. </p>
	</div>
	
</section>