@import "../../style/parts/_vars-mixins.scss";

.company-stats {
	&__wrap {
		&_frontpage{
			margin-bottom: 135px;
			@include tablet {
				margin-bottom: 120px;
			}
			@include mobile {
				margin-bottom: 55px;
			}
			
		}
		//other pages go here
	}//wrap
	&__content-slider {
		@include default-flex;
		@include mobile {
			display: block;
			// .slick-list {
			// 	overflow: visible;
			// }
		}
	}
	&__item {
		flex: 0 0 180px;
		outline: none;
		@include tablet {
			margin-bottom: 32px;
		}
		@include mobile {
			width: 100%;
			&.tooltip-active {
				position: relative;
			}
		}
	}
	&__item-content {
		width: 160px;
		position: relative;
		@include tablet {
			margin-left: 20px
		}
		@include mobile {
			width: 100%;
			text-align: center;
			margin: 0 auto;
			.i3 & {width: 50%;}
			.i6 & {width: 47%;}
			.tooltip-active & {
				position: initial;
			}

		}

	}
	&__tooltip {
		display: none;
		position: absolute;
		right: -170px;
		top: 70px;
		width: 370px;
		background: $gray;
		font-size: 16px;
		line-height: 1.4;
		padding: 30px 30px 10px;
		opacity: 0;
		@include shadow;
		transition: 1s opacity ease-in;
		z-index: 999;
		.company-stats__item.tooltip-active & {
			display: block;
			opacity: 1;
		}
		@include desktop {
			.i1 & {right: -200px;}
			.i3 &, .i6 & {right: -25px;}
		}
		@include tablet {
			width: 280px;
			right: auto;
			left: -30px;
			top: -70px;
		}
		@include mobile {
			max-width: 300px;
			width: 100%;
			padding: 32px 12px 1px;
			top: 10px;
			right: auto;
			left: 15px;
			font-size: 14px;
			line-height: 1.2;
		}

	}
	&__tooltip-close {
		position: absolute;
		top: 10px;
		right: 25px;
		cursor: pointer

	}
	&__tooltip-header {
		display: inline-block;
		font-size: 18px;
		margin-bottom: 5px;
		@include bold;
	}
	&__icon {
		height: 72px;
		margin-top: 45px;
		display: inline-block;
		cursor: pointer;
		&:before {
			z-index: 10;
			width: 55px;
			height: 55px;
		}
		&:after {
			content: "";
			position: absolute;
			width: 100px;
			height: 100px;
			background: #f8fafc;
			top: -45px;
			right: -100px;
			border-radius: 50%;
			z-index: 1;
		}
		@include mobile {
			width: 55px;
			&:after {
				top: -28px;
				right: -23px;
			}

		}
	}
	&__fig {
		font-size: 30px;
		z-index: 10; 
		position: relative;
		display: block;
		@include bold;
		@include mobile {
		
			font-size: 36px;
		}
	}
	&__txt {
		font-size: 20px;
		line-height: 1;
		color: #627b85;
		z-index: 10; 
		position: relative;
		display: inline-block;
	}
	.mobile-only-dots {
		margin-top: 38px;
		@include mobile {
			margin-top: 25px;
			// position: relative;
			// z-index: -1;
		}

	}
}