@import "../../style/parts/_vars-mixins.scss";
.social-networks {
	&__wrap {
		&_frontpage {
			margin-bottom: 170px;
			@include tablet {
				margin-bottom: 70px;
			}
			@include mobile {
				margin-bottom: 30px;
			
			}
		}
		//other pages go here
	}//wrap
	&__title {
		margin-bottom: 93px;
		@include tablet {
			margin-bottom: 50px;
		}
		@include mobile {
			margin-bottom: 10px;
		}
	}
	&__slider-item {
		padding: 30px 20px;
		@include mobile {
			padding: 30px 0px;
		
		}

	}
	&__item-content {
		@include shadow;
		margin: 0 auto;
		padding: 35px 30px 80px;
		height: 615px;
		overflow: hidden;
		border-radius: 5px;
		@include tablet {
			width: 430px !important;
			padding: 35px 35px 80px;
		}
		@include mobile {
			height: 490px;
			padding: 35px 35px 65px;
			box-shadow: 0 0 17px -5px rgba(0,0,0,.25);

		}

	}

	&__item-header {
		@include default-flex;
		margin-bottom: 40px;
		@include mobile {
			margin-bottom: 25px;
		}
	}
	&__icon {
		&:before {
			width: 35px;
			height: 35px;
			top: -5px;
			@include mobile {
				width: 28px;
				height: 28px;
			}
		}
	}
	&__name {
		margin-left: 20px;
		font-size: 20px;
		@include bold;
		@include mobile {
			font-size: 15px;
			margin-left: 23px;
		}
	}
	&__btn {
		background: $red;
		color: #fff;
		padding: 3px 10px;
		text-decoration: none;
		@include mobile {
			margin-top: -5px;
			padding: 3px 4px;
			font-size: 14px;
		}
	}
	&__post-wrap {
		background: $gray;//tmp
		height: 430px;
		@include mobile {
			height: 335px;
		}
	}
	
	&__slider {
		.slick-dots {
			margin-top: -73px;
		}
	}
}