<section class="social-networks">
	<div class="content-width">
		<h2 class="social-networks__title section-title">Пишите нам в<br><span class="text_red">соцсетях</span>, мы на связи!</h2>
		<div class="social-networks__slider" data-slider="slides-3-1">
			<div class="social-networks__slider-item">
				<div class="social-networks__item-content">
					<div class="social-networks__item-header">
						<i class="social-networks__icon icon icon_vk-red"></i>
						<span class="social-networks__name">torex.official</span>
						<a href="#" class="social-networks__btn btn btn_square-red">Подписаться</a>
					</div>
					<div class="social-networks__post-wrap"></div>
				</div>
			</div>
			<div class="social-networks__slider-item">
				<div class="social-networks__item-content">
					<div class="social-networks__item-header">
						<i class="social-networks__icon icon icon_fb-red"></i>
						<span class="social-networks__name">torex.official</span>
						<a href="#" class="social-networks__btn btn btn_square-red">Подписаться</a>
					</div>
					<div class="social-networks__post-wrap"></div>
				</div>
			</div>
			<div class="social-networks__slider-item">
				<div class="social-networks__item-content">
					<div class="social-networks__item-header">
						<i class="social-networks__icon icon icon_ok-red"></i>
						<span class="social-networks__name">torex.official</span>
						<a href="#" class="social-networks__btn btn btn_square-red">Подписаться</a>
					</div>
					<div class="social-networks__post-wrap"></div>
				</div>
			</div>
			<div class="social-networks__slider-item">
				<div class="social-networks__item-content">
					<div class="social-networks__item-header">
						<i class="social-networks__icon icon icon_youtube-red"></i>
						<span class="social-networks__name">torex.official</span>
						<a href="#" class="social-networks__btn btn btn_square-red">Подписаться</a>
					</div>
					<div class="social-networks__post-wrap"></div>
				</div>
			</div>
		</div>
		<!-- <div class="slides-3-1__nav hidden_mob">
			<div class="slides-3-1__prev">&gt;&gt;</div>
			<div class="slides-3-1__next">&lt;&lt;</div>
		</div> -->
	</div>
</section>