@import "../../style/parts/_vars-mixins.scss";
.banner {
    &__temporary {
        margin: 30px 0;
        width: 100%;
        font-size: 0;
        background-color: $dark-gray;
        overflow: hidden;
        &-picture {
            width: 100%;
        }
    }
}