@import "../../style/parts/_vars-mixins.scss";

.breadcrumbs {
	margin: 30px 0;
	opacity: .4;
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		list-style: none;
		li {
			&:not(:last-child) {
				margin-right: 13px;
				display: flex;
				align-items: center;
				&:after {
					content:'>';
					display: block;
					color: $deep-gray;
					margin-left: 13px;
					font-size: 20px;
				}
			}
			a {
				text-decoration: none;
				color: $red;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&__current {
		color: $red;
		cursor: default;
	}
}