.content-width {
	outline: 1px dashed magenta
}
.full-width {
	outline: 1px dashed green
}
div[class*="one-"]{
	outline: 1px dotted blue
	}


// @include desktop {
	
// }

// @include tablet {

// }

// @include mobile {

// }
