<div class="field">
    <label class="field__label" for="select-box">Наименование позиции</label>
    <div class="inp-wrap">
        <select name="select-box" id="select-box" class="js-custom-select">
            <option value="0">Специалист по развитию продаж в федеральных и международных сетях</option>
            <option value="1">Специалист по обучению производственной системы (ПРП)</option>
            <option value="2">Оператор ЧПУ – токарно/фрезерная группа</option>
            <option value="3">Оператор ХШО (оператор гибочного станка)</option>
            <option value="4">Инженер службы качества</option>
        </select>
    </div>
</div>