@import "../../style/parts/_vars-mixins.scss";
.custom-select {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    &__wrap {
        position: absolute;
        width: 100%;
        max-height: 200px;
        &:after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 1px;
            width: calc(100% - 2px);
            height: 0;
            z-index: 999;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            opacity: 0;
            transition: .3s;
        }
        &.on {
            &:after {
                height: 5px;
                opacity: 1;
            }
        }
    }
    &__gap {
        position: relative;
        padding: 6px 20px;
        height: 32px;
        border: 1px solid #afb2af;
        font-family: $LitteraLight;
        font-size: 16px;
        color: #999;
        border-radius: 5px;
        background: #fff;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        transition: border-radius .5s .2s;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            height: 100%;
            background-color: #afb2af;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            right: 11px;
            margin-top: -6px;
            width: 8px;
            height: 8px;
            border-left: 1px solid #fff;
            border-top: 1px solid #fff;
            transition: all .27s ease-in-out;
            transform: rotate(-135deg);
        }
        &.on {
            border-radius: 5px 5px 0 0;
            border-color: #afb2af;
            transition: border-radius .3s;
            &:after {
                margin-top: -3px;
                transform: rotate(45deg);
            }
        }
        &.selected {
            color: $accent-color;
            border-color: $accent-color;
            &:before {
                background-color: $accent-color;
            }
        }
    }
    &__list {
        position: relative;
        margin: 0 0;
        width: 100%;
        max-height: 200px;
        border: 1px solid #cecece;
        border-top: 0;
        list-style-type: none;
        background: #fff;
        overflow: auto;
        z-index: 999;
        .on {
            display: block;
        }
    }
    &__item {
        .selected {
            color: #0b53b3;
        }
        &:last-child {
            margin-bottom: 5px;
        }
    }
    &__text {
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        color: #333;
        &:hover {
            color: $accent-color;
            background-color: $mid-gray;
            text-shadow: 0 1px 0 #fff;
        }
    }
    .js-reset-current {
        display: none;
    }
}