<div class="review">
    <div class="review__filter">
        <div class="review__filter-container">
            <form>
                <div class="review__button">
                    <a href="#" class="btn btn_red">Добавить отзыв</a>
                </div>
                <div class="field">
                    <div class="inp-wrap">
                        <label class="review__filter-label js-get-label">Серия дверей</label>
                        <select name="select-box" class="js-custom-select">
                            <option value="left">Открывание влево</option>
                            <option value="right">Открывание вправо</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="inp-wrap">
                        <label class="review__filter-label js-get-label">Срок использования</label>
                        <select name="select-box" class="js-custom-select">
                            <option value="1">Неделя</option>
                            <option value="2">Месяц</option>
                            <option value="2">Год</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="inp-wrap">
                        <label class="review__filter-label js-get-label">Город</label>
                        <select name="select-box" class="js-custom-select">
                            <option value="moscow">Москва</option>
                            <option value="barnaul">Барнаул</option>
                            <option value="siktivkar">Сыктывкар</option>
                        </select>
                    </div>
                </div>
                <div class="field field_short">
                    <div class="inp-wrap">
                        <label class="review__filter-label js-get-label">Оценка</label>
                        <select name="select-box" class="js-custom-select">
                            <option value="one">5 звезд</option>
                            <option value="two">4 звезды</option>
                            <option value="three">3 звезды</option>
                            <option value="four">2 звезды</option>
                            <option value="five">1 звезда</option>
                        </select>
                    </div>
                </div>
                <span class="js-reset-select btn btn_white">Сбросить фильтры</span>
            </form>
        </div>
    </div>
    <div class="review__container">
        <div class="review__author">
            <div class="review__author-name m-b-xs">Маргарита</div>
            <div class="review__author-date  m-b-s">31.07.2018</div>
            <div class="review__author-city m-b-xs">Город: <span class="review__author-city_black">Москва</span></div>
            <div class="review__author-series m-b-xs">Серия двери: <span class="review__author-city_black">Super Omega-7,8,9</span></div>
            <div class="review__author-use">Срок использования: <span class="review__author-city_black">Месяц</span></div>
        </div>
        <div class="review__feedback">
            <div class="review__feedback-title m-b-xs">Спасибо за квалифицировнных сотрудников</div>
            <div class="review__feedback-text light-unroller js-light-unroller">
                <p>
                    Моему восторгу нет предела.Идеально все. От первого вызова ЗАМЕЧАТЕЛЬНОГО мастера и
                    последнующей установкой до самой двери. Спасибо ,что такие мастера как Вячеслав знают свою
                    работу. Это один из плюсов сыгравший именно в пользу этой двери. Мастер знает все наизусть, что...<br>
                    Моему восторгу нет предела.Идеально все. От первого вызова ЗАМЕЧАТЕЛЬНОГО мастера и
                    последнующей установкой до самой двери. Спасибо ,что такие мастера как Вячеслав знают свою
                    работу. Это один из плюсов сыгравший именно в пользу этой двери. Мастер знает все наизусть,что и...<br>
                    Моему восторгу нет предела.Идеально все. От первого вызова ЗАМЕЧАТЕЛЬНОГО мастера и
                    последнующей установкой до самой двери.Спасибо ,что такие мастера как Вячеслав знают свою
                    работу. Это один из плюсов сыгравший именно в пользу этой двери. Мастер знает все наизусть,что и...
                </p>
            </div>
        </div>
        <div class="review__rating">
        <div class="review__rating-heading m-b-xs">Общее впечатление</div>
        <div class="review__rating-stars m-b-s">
            <span class="review__rating-star"></span>
            <span class="review__rating-star"></span>
            <span class="review__rating-star"></span>
            <span class="review__rating-star"></span>
            <span class="review__rating-star"></span>
        </div>
        <div class="review__rating-installation m-b-xs">
            <span class="review__rating-title">Качество монтажа</span>
            @@include('../progress-bar/progress.html',{"val":"100"})
        </div>
        <div class="review__rating-service m-b-xs">
            <span class="review__rating-title">Обслуживание в салоне</span>
            @@include('../progress-bar/progress.html',{"val":"80"})
        </div>
        <div class="review__rating-product">
            <span class="review__rating-title">Качество двери</span>
            @@include('../progress-bar/progress.html',{"val":"60"})
        </div>
    </div>
    </div>
    <div class="review__container">
        <div class="review__author">
            <div class="review__author-name m-b-xs">Маргарита</div>
            <div class="review__author-date  m-b-s">31.07.2018</div>
            <div class="review__author-city m-b-xs">Город: <span class="review__author-city_black">Москва</span></div>
            <div class="review__author-series m-b-xs">Серия двери: <span class="review__author-city_black">Super Omega-7,8,9</span></div>
            <div class="review__author-use">Срок использования: <span class="review__author-city_black">Месяц</span></div>
        </div>
        <div class="review__feedback">
            <div class="review__feedback-title m-b-xs">Спасибо за квалифицировнных сотрудников</div>
            <div class="review__feedback-text light-unroller js-light-unroller">
                <p>
                    Моему восторгу нет предела.Идеально все. От первого вызова ЗАМЕЧАТЕЛЬНОГО мастера и
                    последнующей установкой до самой двери. Спасибо ,что такие мастера как Вячеслав знают свою
                    работу. Это один из плюсов сыгравший именно в пользу этой двери. Мастер знает все наизусть, что...<br>
                    Моему восторгу нет предела.Идеально все. От первого вызова ЗАМЕЧАТЕЛЬНОГО мастера и
                    последнующей установкой до самой двери. Спасибо ,что такие мастера как Вячеслав знают свою
                    работу. Это один из плюсов сыгравший именно в пользу этой двери. Мастер знает все наизусть,что и...<br>
                    Моему восторгу нет предела.Идеально все. От первого вызова ЗАМЕЧАТЕЛЬНОГО мастера и
                    последнующей установкой до самой двери.Спасибо ,что такие мастера как Вячеслав знают свою
                    работу. Это один из плюсов сыгравший именно в пользу этой двери. Мастер знает все наизусть,что и...
                </p>
            </div>
        </div>
        <div class="review__rating">
            <div class="review__rating-heading m-b-xs">Общее впечатление</div>
            <div class="review__rating-stars m-b-s">
                <span class="review__rating-star"></span>
                <span class="review__rating-star"></span>
                <span class="review__rating-star"></span>
                <span class="review__rating-star"></span>
                <span class="review__rating-star"></span>
            </div>
            <div class="review__rating-installation m-b-xs">
                <span class="review__rating-title">Качество монтажа</span>
                @@include('../progress-bar/progress.html',{"val":"100"})
            </div>
            <div class="review__rating-service m-b-xs">
                <span class="review__rating-title">Обслуживание в салоне</span>
                @@include('../progress-bar/progress.html',{"val":"80"})
            </div>
            <div class="review__rating-product">
                <span class="review__rating-title">Качество двери</span>
                @@include('../progress-bar/progress.html',{"val":"60"})
            </div>
        </div>
    </div>
    <div class="review__container">
        <div class="review__author">
            <div class="review__author-name m-b-xs">Маргарита</div>
            <div class="review__author-date  m-b-s">31.07.2018</div>
            <div class="review__author-city m-b-xs">Город: <span class="review__author-city_black">Москва</span></div>
            <div class="review__author-series m-b-xs">Серия двери: <span class="review__author-city_black">Super Omega-7,8,9</span></div>
            <div class="review__author-use">Срок использования: <span class="review__author-city_black">Месяц</span></div>
        </div>
        <div class="review__feedback">
            <div class="review__feedback-title m-b-xs">Спасибо за квалифицировнных сотрудников</div>
            <div class="review__feedback-text light-unroller js-light-unroller">
                <p>
                    Моему восторгу нет предела.Идеально все. От первого вызова ЗАМЕЧАТЕЛЬНОГО мастера и
                    последнующей установкой до самой двери. Спасибо ,что такие мастера как Вячеслав знают свою
                    работу. Это один из плюсов сыгравший именно в пользу этой двери. Мастер знает все наизусть, что...<br>
                    Моему восторгу нет предела.Идеально все. От первого вызова ЗАМЕЧАТЕЛЬНОГО мастера и
                    последнующей установкой до самой двери. Спасибо ,что такие мастера как Вячеслав знают свою
                    работу. Это один из плюсов сыгравший именно в пользу этой двери. Мастер знает все наизусть,что и...<br>
                    Моему восторгу нет предела.Идеально все. От первого вызова ЗАМЕЧАТЕЛЬНОГО мастера и
                    последнующей установкой до самой двери.Спасибо ,что такие мастера как Вячеслав знают свою
                    работу. Это один из плюсов сыгравший именно в пользу этой двери. Мастер знает все наизусть,что и...
                </p>
            </div>
        </div>
        <div class="review__rating">
            <div class="review__rating-heading m-b-xs">Общее впечатление</div>
            <div class="review__rating-stars m-b-s">
                <span class="review__rating-star"></span>
                <span class="review__rating-star"></span>
                <span class="review__rating-star"></span>
                <span class="review__rating-star"></span>
                <span class="review__rating-star"></span>
            </div>
            <div class="review__rating-installation m-b-xs">
                <span class="review__rating-title">Качество монтажа</span>
                @@include('../progress-bar/progress.html',{"val":"100"})
            </div>
            <div class="review__rating-service m-b-xs">
                <span class="review__rating-title">Обслуживание в салоне</span>
                @@include('../progress-bar/progress.html',{"val":"80"})
            </div>
            <div class="review__rating-product">
                <span class="review__rating-title">Качество двери</span>
                @@include('../progress-bar/progress.html',{"val":"60"})
            </div>
        </div>
    </div>
</div>