@import "../../style/parts/_vars-mixins.scss";

.review {
    margin-bottom: 70px;
    &__button {
        display: inline-block;
        margin-right: 25px;
        width: 180px;
        @include tablet {
            width: 185px;
            margin-right: 20px;
            margin-bottom: 15px;
            .btn {
                width: 100%;
            }
        }
        @include mobile {
            margin: 0 0 40px;
            width: 100%;
            .btn {
                margin-bottom: 0;
                padding: 10px 0 !important;
                width: 100%;
                font-size: 20px !important;
            }
        }
    }
    &__filter {
        display: block;
        margin-bottom: 50px;
        &-container {
            display: inline-block;
            vertical-align: top;
        }
        &-label {
            display: none;
        }
        .btn {
            padding: 6px 30px 5px;
            font-family: $Littera;
            font-size: 16px;
            line-height: normal;
            border-radius: 5px;
            &_white {
                margin-left: 25px;
                background-color: #fff;
                border-color: $dark-gray;
                color: $accent-color;
                &:hover {
                    border-color: $accent-color;
                    color: #fff;
                    background-color: $accent-color;
                }
                @include tablet {
                    margin-left: 0;
                }
                @include mobile {
                    width: 100%;
                    margin: 0;
                }
            }
        }
        .field {
            display: inline-block;
            margin: 0 10px 0 0;
            width: 195px;
            vertical-align: top;
            @include tablet {
                margin-right: 20px;
            }
            @include mobile {
                margin-right: 0;
                margin-bottom: 20px;
                width: 100%;
            }
            &_short {
                width: 120px;
                @include tablet {
                    width: 185px;
                }
                @include mobile {
                    margin-left: 0;
                    width: 100%;
                }
            }
            .custom-select__gap {
                padding-left: 10px;
                &:before {
                    background-color: transparent;
                }
                &:after {
                    margin-top: -4px;
                    width: 4px;
                    height: 4px;
                    border-left: 2px solid $accent-color;
                    border-top: 2px solid $accent-color;
                }
                &.selected {
                    color: #fff;
                    background-color: $red;
                    ~ .js-reset-current {
                        display: block;
                        position: absolute;
                        font-family: $LitteraLight;
                        font-size: 18px;
                        color: #fff;
                        width: 32px;
                        height: 100%;
                        outline: 1px solid #fff;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            width: 1px;
                            height: 14px;
                            transform: rotate(45deg);
                            background-color: #fff;
                            right: 15px;
                            top: 9px;
                        }
                        &:after {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            .custom-select__text {
                &:hover {
                    color: $accent-color;
                    background-color: $mid-gray;
                }
            }
        }

    }
    &__container {
        position: relative;
        display: table;
        margin-bottom: 70px;
        @include tablet {
            display: block;
        }
    }
    &__author {
        display: table-cell;
        padding-right: 20px;
        width: 260px;
        border-right: 1px solid $dark-gray;
        font-family:  $LitteraBold;
        vertical-align: top;
        @include tablet {
            display: block;
            border: none;
            &:after {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                border-right: 1px solid $dark-gray;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 0;
            }
        }
        @include mobile {
            display: block;
            border: none;
        }
        &-name {
            font-size: 18px;
            color: $accent-color;
        }
        &-date {
            font-size: 16px;
            font-family: $LitteraLight;
            color: $accent-color;
        }
        &-city {
            color: $deep-gray;
            &_black {
                color: #000;
            }
        }
        &-series {
            color: $deep-gray;
            &_black {
                color: #000;
            }
        }
        &-use {
            color: $deep-gray;
            &_black {
                color: #000;
            }
        }
    }
    &__feedback {
        display: table-cell;
        position: relative;
        padding: 0 25px;
        width: 670px;
        vertical-align: top;
        @include tablet {
            display: block;
            width: 100%;
            margin-top: 20px;
            padding: 20px 0 0 0;
            background-color: #fff;
        }
        @include mobile {
            display: block;
            width: 100%;
            margin-top: 290px;
            padding: 0;
        }
        &-title {
            font-family:  $LitteraBold;
            font-size: 18px;
            color: $accent-color;
        }
        &-text {}
    }
    &__rating {
        display: table-cell;
        padding-left: 20px;
        width: 260px;
        border-left: 1px solid $dark-gray;
        vertical-align: top;
        @include tablet {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
        }
        @include mobile {
            display: block;
            position: absolute;
            top: 210px;
            left: 0;
            margin: 0;
            padding: 0;
            border: none;
        }
        &-heading {
            font-family:  $LitteraBold;
            font-size: 18px;
            color: $accent-color;
        }
        &-stars {
            cursor: default;
        }
        &-star {
            display: inline-block;
            margin-right: 5px;
            width: 18px;
            height: 18px;
            background: #fff url("../../images/icons/star.svg") no-repeat center;
        }
        &-title {
            font-family: $LitteraLight;
            color: $deep-gray;
        }
        &-installation {}
        &-service {}
        &-product {}
    }
}

.light-unroller {
    display: block;
    max-height: 100px;
    overflow: hidden;
    transition: all .5s;
    @include tablet {
        max-height: 80px;
    }
    &__wrapper {
        @include mobile {
            padding-bottom: 30px;
        }
    }
    &__button {
        display: block;
        position: absolute;
        bottom: 0;
        width: calc(100% - 50px);
        height: 18px;
        font-size: 14px;
        font-family: $LitteraBold;
        background: linear-gradient(to top,#fff 0, rgba(255,255,255,0));
        cursor: pointer;
        z-index: 5;
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 24px;
            left: 0;
            width: 100%;
            height: 30px;
            background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 33%,rgba(255,255,255,.5) 55%,rgba(255,255,255,0));
            @include tablet-mobile {
                bottom: 20px;
            }
        }
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin: -4px 0 0 12px;
            transform: rotate(45deg);
            width: 4px;
            height: 4px;
            border-right: 2px solid $accent-color;
            border-bottom: 2px solid $accent-color;
        }
        @include tablet-mobile {
            bottom: -22px;
            width: 100%;
        }
    }

    &.light-unroller_unroll {
        max-height: 1000px;
        transition: all .5s;
        .light-unroller__button {
            display: none;
            &:before {
                display: none;
            }
        }
    }
}

.toggle-me {
    @include mobile {
        display: none;
    }
}